#orderSuccess{
	display: none;
}

#personalCart {
	clear: both;
	margin-bottom: 32px;
}

#personalCart .mainTable {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	font: normal normal 14px "bender" , arial , sans-serif;
}

#personalCart .mainTable > tbody > tr > td {
	width: 20%;
	vertical-align: top;
	padding-left: 24px;
}

#personalCart .mainTable > tbody > tr > td:first-child {
	width: 80%;
	padding: 0px;
}

#personalCart .mainTable td span.heading {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
	text-align: center;
	color: #fff;
	background: #0074d9;
	height: 40px;
	line-height: 40px;
	margin-bottom: 12px;
}

#personalCart .mainTable .right {
	border: 1px solid #F1F1F1;
	text-align: center;
}

#personalCart .mainTable .right li:first-child {
	border: 0;
	padding-top: 12px;
}

#personalCart .mainTable .right li {
	display: block;
	margin-bottom: 12px;
	padding-top: 24px;
	border-top: 1px solid #f1f1f1;
}

#personalCart .mainTable > tbody > tr > td > li {
	display: block;
	text-align: center;
	margin-bottom: 12px;
}

#personalCart .mainTable td li .pic {
	line-height: 120px;
	height: 120px;
}

#personalCart .mainTable td li .pic:active {
	position: relative;
	top: 1px;
}

#personalCart .mainTable td li a {
	display: block;
	text-align: center;
}

#personalCart .mainTable td li img {
	max-width: 90%;
	max-height: 90%;
}

#personalCart .mainTable td li a.name {
	font: normal normal 13px "bender" , arial , sans-serif;
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0px 8px;
	text-align: center;
}

#personalCart .mainTable td li a.name:hover {
	color: #0074d9;
}

#personalCart .mainTable td li a.addCart {
	display: inline-block;
	margin: 12px auto;
	color: #fff;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 12px;
	margin: 12px 4px;
	text-decoration: none;
	width: 70px;
	background: url(images/incart.png) repeat #4192d9;
}

#personalCart .mainTable td li a.addCart:hover {
	background: url(images/incartHover.png) repeat #4192d9;
}

#personalCart .mainTable td li a.addCart:active {
	position: relative;
	top: 1px;
}

#personalCart .mainTable td > .right > ul > li > span {
	display: inline-block;
	font: normal normal 17px "bender" , arial , sans-serif;
	color: #000;
	margin-top: 4px;
	text-align: center;
	margin: 0 4px;
}

#personalCart .productTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: -42px;
}

#personalCart .productTable img {
	vertical-align: middle;
}

#personalCart .productTable .clear {
	background: none;
	text-align: right;
	padding: 12px 0;
}

#personalCart .productTable .clear a {
	background: #F2F2F2;
	color: #2d2d2d;
	padding: 6px 12px;
	text-decoration: none;
	font-size: 14px;
}

#personalCart .productTable .clear a:hover {
	color: #4192d9;
}

#personalCart .productTable .clear a:active{
	position: relative;
	top:1px;
}

#personalCart .productTable .clear a.load{
}

#personalCart .productTable .price {
	position: relative;
	display: block;
	font-size: 16px;
}

#personalCart .productTable .price s {
	position: absolute;
	top: -18px;
	right: 10%;
	color: #acacac;
	font-size: 13px;
}

#personalCart .productTable td:first-child a:active {
	position: relative;
	top: 1px;
}

#personalCart .productTable td:first-child img {
	vertical-align: middle;
	max-width: 90%;
	max-height: 90%;
}

#personalCart .productTable th {
	background: #F2F2F2;
	border-right: 1px solid #F9F9F9;
	color: #000000;
	font: normal normal 15px "bender" , arial , sans-serif;
	padding: 12px;
	text-align: center;
}

#personalCart .productTable tr:nth-child(odd) td {
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */;
}

#personalCart .productTable td {
	text-align: center;
	padding: 12px;
	border: 1px solid #F1F1F1;
	background: #ffffff;
 /* Old browsers */;
}

#personalCart .productTable .name {
	text-align: left;
	font: normal normal 13px "bender" , arial , sans-serif;
	width: 27%;
}

#personalCart .productTable .pic {
	height: 70px;
	line-height: 70px;
	display: block;
}

#personalCart .productTable .name a {
	color: #000;
	text-decoration: none;
}

#personalCart .productTable .name a:hover {
	color: #4192d9;
}

#personalCart .productTable .available {
	color: #19ad24;
}

#personalCart .productTable .noAvailable {
	color: #7f7f7f;
}

#personalCart .productTable .bQty {
	width: 90px;
}

#personalCart .productTable .delete {
	text-align: center;
	display: inline-block;
	width: 17px;
	height: 25px;
	background: url(images/delete.png) 0 0 no-repeat;
}

#personalCart .productTable td a.delete:hover {
	background: url(images/delete.png) -18px 0px no-repeat;
}

#personalCart .productTable td a.delete:active {
	background: url(images/delete.png) -36px 0 no-repeat;
}

#personalCart .productTable td #basketQty input.qty {
	width: 28px;
	text-align: center;
	float: left;
	border: 1px solid #f1f1f1;
	font: normal normal 12px "bender" , arial , sans-serif;
	height: 18px;
}

#personalCart .productTable td #basketQty .minus,
#personalCart .productTable td #basketQty .plus {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer;
}

#personalCart .productTable td #basketQty {
	display: inline-block;
	vertical-align: middle;
}

#personalCart .productTable td #basketQty .minus {
	background: url(images/plusMinus.png) 0 0 no-repeat;
}

#personalCart .productTable td #basketQty .minus:hover {
	background: url(images/plusMinus.png) -20px 0 no-repeat;
	border: 0px;
}

#personalCart .productTable td #basketQty .minus:active {
	background: url(images/plusMinus.png) -40px 0 no-repeat;
	top: 0px;
}

#personalCart .productTable td #basketQty .plus {
	background: url(images/plusMinus.png) 0 -20px no-repeat;
}

#personalCart .productTable td #basketQty .plus:hover {
	background: url(images/plusMinus.png) -20px -20px no-repeat;
	border: 0px;
}

#personalCart .productTable td #basketQty .plus:active {
	background: url(images/plusMinus.png) -40px -20px no-repeat;
	top: 0px;
}

#personalCart .productTable .sum {
	font-size: 16px;
}

#personalCart .orderLine {
	border: 1px solid #f1f1f1;
	overflow: hidden;
	margin-top: 12px;
	height: 40px;
	line-height: 40px;
	background: #ffffff;
 /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */
	padding: 6px 0px;
}

#personalCart .orderLine #sum {
	display: inline-block;
	margin-left: 12px;
	float: left;
	font: normal normal 14px "bender" , arial , sans-serif;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

#personalCart .orderLine #sum .label {
	margin-left: 24px;
}

#personalCart .orderLine #sum .price {
	color: #4192d9;
	font-size: 21px;
	color: #000;
	margin-left: 12px;
}

#personalCart  a.order {
	background: #0074d9;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: inline-block;
	width: 150px;
	float: right;
	vertical-align: middle;
	margin-right: 12px;
}

#personalCart  a.order:hover {
	background: #016FCE;
}

#personalCart  a.order:active {
	position: relative;
	top: 1px;
}

#personalCart #accessoriesCarousel {
	margin-top: 12px;
	border: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
}

#personalCart #accessoriesCarousel span.heading {
	text-align: left;
	padding-left: 12px;
	background: #F2F2F2;
	color: #000;
}

#personalCart #accessoriesCarousel ul {
	position: relative;
	width: 99999px;
	left: 0px;
}

#personalCart #accessoriesCarousel .wrap {
	border: 0;
	text-align: center;
}

#personalCart #accessoriesCarousel .price {
	margin-top: 12px !important;
	display: inline-block !important;
	float: none !important;
	color: #000 !important;
	font-size: 17px !important;
}

#personalCart #accessoriesCarousel .addCart {
	float: none !important;
	display: inline-block !important;
}

#personalCart #accessoriesCarousel .accessoriesLeft,
#personalCart #accessoriesCarousel .accessoriesRight {
	display: block;
	position: absolute;
	width: 30px;
	height: 75px;
	top: 50%;
	margin-top: -48px;
}

#personalCart #accessoriesCarousel .accessoriesLeft {
	background: url('images/buttonCarouselProduct.png') 0 0 no-repeat;
	left: 0px;
}

#personalCart #accessoriesCarousel .accessoriesLeft:hover {
	background: url('images/buttonCarouselProduct.png') -30px 0 no-repeat;
}

#personalCart #accessoriesCarousel .accessoriesLeft:active {
	background: url('images/buttonCarouselProduct.png') -60px 0 no-repeat;
}

#personalCart #accessoriesCarousel .accessoriesRight {
	background: url('images/buttonCarouselProduct.png') 0 -75px no-repeat;
	right: 0px;
}

#personalCart #accessoriesCarousel .accessoriesRight:hover {
	background: url('images/buttonCarouselProduct.png') -30px -75px no-repeat;
}

#personalCart #accessoriesCarousel .accessoriesRight:active {
	background: url('images/buttonCarouselProduct.png') -60px -75px no-repeat;
}

/* ORDER */

#order .heading{
	margin-top:12px;
	background: #f2f2f2 !important;
	height:40px !important;
	line-height: 40px !important;
	color:#000 !important;
	margin-bottom: 0px !important
}

.orderProps, .personSelect{
	border:1px solid #eee;
	table-layout: fixed;
	border-collapse: collapse;
	width:100%;
	position: relative;
}
.orderProps .deliSelect + .userProp{
	margin-top:12px;
}

.userProp .hidden{
	display: none;
}

.orderProps{
	display: none;
}

.orderProps.active{
	display: table;
}

.orderProps td, .personSelect td{
	padding:24px 0;
	border-top:1px solid #eee;
	position: relative;
}

.orderProps td:first-child, .personSelect td:first-child{
	width:200px;
	vertical-align: top;
}

.orderProps td:last-child, .personSelect td:last-child{
	padding-right:24px;
}

.orderProps td:first-child span, .personSelect td:first-child span{
	display: block;
	width:80px;
	font-size:14px;
	text-align: left;
	padding-left: 24px;
	margin-top:12px;
}

.userProp li:first-child{
	margin: 0;
}

.userProp li{
	display: block;
	margin-top:12px;
	position: relative;
	overflow:hidden;
}

.orderProps .label{
	float:left;
	margin-right:24px;
	margin-bottom: 6px;
}

.orderProps label, .personSelect label{
	display: block;
	color:#aaa;
	font-size:12px;
	margin-bottom: 6px;
	padding-top: 2px;
}

.orderProps .electroCheck_div{
	float:left;
}

.orderProps select, .personSelect select{
	font: 14px "bender", "arial", sans-serif;
	display: block;
	height:30px;
	width:80%;
	padding-left:4px;
	background: #f9f9f9;
	border:1px solid #ddd;
	clear:both;
	box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

.orderProps input{
	font: 14px "bender", "arial", sans-serif;
	display: block;
	height:24px;
	width:80%;
	background: #f9f9f9;
	border:1px solid #ddd;
	padding-left:4px;
	clear:both;
	box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

.orderProps input[type="checkbox"]{
	height:15px;
	width:15px;
	display: block;
	padding: 0 !important;
	border:0 !important;
	float:left;
	margin-right:6px;
}

.orderProps .multi{
	height:auto !important;
	padding-left:4px;
}

.orderProps input[type="checkbox"] + label{
	font-size: 14px;
	color:#000;
	padding-top:0px;
	cursor: pointer;
}

.orderProps input[type="radio"]{
	height:15px;
	width:15px;
	float:left;
	padding: 0 !important;
	border:0 !important;
	text-align: left;
	margin-right:6px;
	margin-top:8px;
	clear:both;
}

.orderProps input[type="radio"] + label{
	font-size: 14px;
	color:#000;
	padding-top:8px;
	float:left;
}

.orderProps textarea{
	font: 14px "bender", "arial", sans-serif;
	display: block;
	width:80%;
	height:100px;
	margin-top:6px;
	background: #f9f9f9;
	border:1px solid #ddd;
	padding-top:4px;
	padding-left:4px;
	clear:both;
	box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

.orderProps select:focus,
.orderProps textarea:focus,
.orderProps input:focus{
	border:1px solid #ccc;
}

/* locations */

.locDesk{
	position: relative;
	border: 1px solid #DDDDDD;
	width: 80%;
	margin-top:6px;
	z-index: 33;
	padding-left:4px;
}

.locDesk li{
	background: #F9F9F9;
	cursor: pointer;
	display: block;
	height:25px;
	line-height: 25px;
	margin-top:4px !important;
	padding:2px 6px;
	margin: 0px !important;
}

.locDesk li:nth-child(odd){
	background: #fff;
}

#orderMake{
	background: #026ABD;
}

.orderProps .error{
	border:1px solid #ff0000;
}

.orderLoad {
	background: url(images/orderLoad.gif) 7px 50% no-repeat #0074d9 !important;
	font-size:14px !important;
	text-indent: 12px;
}
