/* developed by it-work 2014 */

/* Main */

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	outline: none;
}

html {
	height: 100%;
}

body {
	font: normal normal 14px "Bender", "Verdana" , arial, sans-serif;
	max-width: 1920px;
	margin: 0px auto;
	height: 100%;
}

img {
	border: 0;
}

a {
	outline: none;
}

button {
	background-image: none;
	overflow: visible;
}

p {
	margin-bottom: 12px;
	margin-top: 12px;
}

.button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input:-webkit-autofill {
	color: #ffffff !important;
}

ins {
	text-decoration: none;
}

input[type="password"] {
	-webkit-text-security: square;
}

input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
}

#logo {
	line-height: 125px;
	display: block;
}

#logo img {
	vertical-align: middle;
}

#logo:active {
	position: relative;
	top: 1px;
}

/* Header Top */

#headerLine {
	background: url(images/headerLine.png) repeat #2b2b2b;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.102);
	border-top: 4px solid #444444;
	min-width: 1000px;
	height: 62px;
	overflow: hidden;
}

#headerLineLeft {
	height: 62px;
	display: inline-block;
}

#headerLineRight {
	float: right;
	position: relative;
	height: 62px;
	z-index: 100;
}

/* Header */

#header {
	background: url(images/bgHead2.png) repeat #1f1f1f;
	height: 125px;
	min-width: 1000px;
}

#header .wrapper{
	display: table;
	table-layout: fixed;
	width:100%;
	margin:0;
}

#headerLeft {
	display: table-cell;
	vertical-align: top;
	width:300px;
	padding-left:25px;
}

#headerRight {
	display: table-cell;
	vertical-align: top;
	width:400px;
	padding-right: 25px;
}

#headerRight table {
	width: 100%;
}

#headerRight table td {
	text-align: right;
	color: #9e9e9e;
	padding-top: 22px;
	vertical-align: top;
}

#headerRight table td:first-child {
	padding-right: 42px;
}

#headerRight table tr:first-child td {
	padding-top: 34px;
}

#headerRight table td a {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #9e9e9e;
	text-decoration: none;
}

#headerRight table td a:hover {
	color: #4192d9;
}

#headerRight table td a:active {
	position: relative;
	top: 1px;
}

#headerRight table td a span {
	border-bottom: 1px dashed #333;
	padding-bottom: 2px;
	font-size: 14px;
}

#headerRight table td a img {
	padding-right: 8px;
	vertical-align: middle;
}

#headerRight table td a.oCallback {
	color: #fff;
	background: url(images/incart.png) repeat #4192d9;
	display: block;
	text-align: center;
	height: 25px;
	line-height: 25px;
	width: 120px;
	float: right;
	margin-top: -4px;
}

#headerRight table td a.oCallback:hover {
	background: url(images/incartHover.png) repeat #4192d9;
}

#headerRight table td a.oCallback:active {
	position: relative;
	top: 1px;
}

#headerRight span {
	font: normal normal 18px "bender" , arial , sans-serif;
	color: #9e9e9e;
}

/* Main Slider */
#slider {
	width: 65.8%;
	float: left;
}

#slider img, #advRight img {
	max-width: 100%;
}

#advRight {
	float: right;
	width: 32.9%;
}

#advRight li:first-child {
	margin: 0px;
}

#advRight li {
	margin-top: 4.4%;
}

#mainContent {
	margin-top: 24px;
	width: 100%;
	min-width: 1000px;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
}

#mainContentleft {
	background: url(images/colorMenu.png) repeat #2d2d2d;
	width: 19.8%;
	display: table-cell;
	vertical-align: top;
	margin-bottom: 24px;
	position: relative;
}

#mainContentleft a.mainContentleftArrow > span {
	font: normal normal 18px "bender" , arial , sans-serif;
	height: 60px;
	line-height: 60px;
	background: url(images/color.png) repeat #4192d9;
	color: #fff;
	display: block;
	text-align: left;
	padding-left: 25px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#mainContentleft a.mainContentleftArrow > span:active {
	color: #d8edff;
}

#mainContentleft  a.mainContentleftArrow {
	text-decoration: none;
	position: relative;
	display: block;
}

#mainContentleft  a.mainContentleftArrow img {
	vertical-align: middle;
	margin-right: 3px;
	margin-top: -3px;
}

#mainContentleft  a.mainContentleftArrow > span > sub {
	background: url(images/arrowBig.png) no-repeat transparent;
	display: none;
	position: absolute;
	z-index: 2;
	width: 8px;
	height: 20px;
	top: 50%;
	margin-top: -9px;
	float: right;
	margin-left: 10px;
	-webkit-transition-property: background-image;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#mainContentleft  a > span:active + sub {
	background: url(images/arrowBigHover.png) no-repeat transparent;
}

#mainContentleft  a.allowHide > span > sub {
	display: inline;
}

#mainContentleft  a.allowHide > sub {
	display: inline;
}

#mainContentleft  a.allowHide + ul {
	display: none;
}

#mainContentleft #fixMenu {
	position: relative;
	z-index: 90;
}

#mainContentleft #fixMenu.fixed {
	position: fixed;
	width: 19.8%;
	min-width: 213px;
	max-width: 409px;
	padding-right: 24px;
	top: 0;
}

#blackout {
	background-color: rgba(31, 31, 31, 0.500);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}

#comparison {
	position: fixed;
	z-index: 998;
	background-color: rgba(0, 0, 0, 0.298);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
}

#comparisonContainer {
	width: 350px;
	margin-top: -130px;
	position: relative;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-left: -175px;
	background-color: #1E1E1E;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	padding: 8px;
}

#comparisonContainer span.heading {
	background-color: #000000;
	color: #4192D9;
	display: block;
	font: 18px/50px "bender", "arial", sans-serif;
	height: 50px;
	text-align: center;
}

#comparisonContainer p {
	margin: 18px;
	text-align: center;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
}

#comparisonContainer p span {
	display: block;
	color: #4192d9;
	margin-top: 4px;
}

#comparisonClose {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 24px;
	right: 24px;
}

#comparisonClose:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#comparisonClose:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#comparisonOrder {
	text-align: center;
	margin-bottom: 12px;
	margin-top: 14px;
}

#comparisonOrder a {
	display: inline-block;
	width: 150px;
	height: 35px;
	text-align: center;
	color: #fff;
	font: normal normal 14px "bender" , arial , sans-serif;
	text-decoration: none;
	line-height: 35px;
	margin: 0px 8px;
}

#comparisonOrder a.comparisonContinue {
	background: url(images/color.png) 0 0 repeat #4192d9;
}

#comparisonOrder a.comparisonContinue:hover {
	background: url(images/color2.png) 0 0 repeat #0074d9;
}

#comparisonOrder a.comparisonMake {
	background: url(images/color13.png) 0 0 repeat #f98c02;
}

#comparisonOrder a.comparisonMake:hover {
	background: url(images/color14.png) 0 0 repeat #df7d00;
}

#comparisonOrder a.comparisonContinue:active,
#comparisonOrder a.comparisonMake:active {
	position: relative;
	top: 1px;
}

#inBasket {
	position: fixed;
	z-index: 998;
	background-color: rgba(0, 0, 0, 0.298);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	overflow: visible;
}

#inBasketContainer {
	width: 700px;
	margin-top: -130px;
	position: relative;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	background-color: #1E1E1E;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	padding: 8px;
}

#inBasketContainer span.heading {
	background-color: #000000;
	color: #4192D9;
	display: block;
	font: 18px/50px "bender", "arial", sans-serif;
	height: 50px;
	text-align: center;
}

#inBasketClose {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 23px;
	right: 24px;
}

#inBasketClose:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#inBasketClose:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#inBasketContainer > table {
	width: 100%;
	margin-top: 8px;
}

#inBasketContainer > table > tbody > tr > td {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	vertical-align: top;
	padding-left: 12px;
	text-align: left;
}

#inBasketContainer > table > tbody > tr > td:first-child {
	vertical-align: middle;
	padding: 0;
	width: 240px;
	text-align: center;
	height: 170px;
	line-height: 170px;
	background-color: #fff;
}

#inBasketContainer > table td:first-child img {
	max-width: 190px;
	max-height: 170px;
	vertical-align: middle;
}

#inBasketToolsTable {
	width: 100%;
	margin-top: 12px;
	border-collapse: collapse;
}

#inBasketToolsTable td {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #2d2d2d;
	padding: 9px;
	text-align: center;
	vertical-align: middle !important;
	color: #fff;
}

#inBasketToolsTable #inBasketQty {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}

#inBasketDelete {
	text-align: center;
	display: inline-block;
	width: 17px;
	height: 25px;
	background: url(images/delete.png) 0 0 no-repeat;
}

#inBasketDelete:hover {
	background: url(images/delete.png) -18px 0px no-repeat;
}

#inBasketDelete:active {
	background: url(images/delete.png) -36px 0 no-repeat;
}

#inBasketPrice {
	font: normal normal 16px "bender" , arial , sans-serif;
	color: #4192d9;
}

#inBasketTotal {
	font: normal normal 16px "bender" , arial , sans-serif;
	color: #fff;
	text-align: right;
	margin-top: 12px;
}

#inBasketTotal span {
	color: #4192d9;
	display: inline-block;
}

#inBasketOrder {
	margin-top: 12px;
	text-align: right;
}

#inBasketOrder a {
	display: inline-block;
	width: 150px;
	height: 35px;
	text-align: center;
	color: #fff;
	font: normal normal 14px "bender" , arial , sans-serif;
	text-decoration: none;
	line-height: 35px;
	margin-left: 8px;
}

#inBasketOrder a.inBasketContinue {
	background: url(images/color.png) 0 0 repeat #4192d9;
}

#inBasketOrder a.inBasketContinue:hover {
	background: url(images/color2.png) 0 0 repeat #0074d9;
}

#inBasketOrder a.inBasketMake {
	background: url(images/color13.png) 0 0 repeat #f98c02;
}

#inBasketOrder a.inBasketMake:hover {
	background: url(images/color14.png) 0 0 repeat #df7d00;
}

#inBasketOrder a.inBasketContinue:active,
#inBasketOrder a.inBasketMake:active {
	position: relative;
	top: 1px;
}

#inBasketToolsTable input.qty {
	width: 30px;
	text-align: center;
	float: left;
	border: 0px;
	font: normal normal 12px "bender" , arial , sans-serif;
	height: 20px;
}

#inBasketToolsTable .minus,
#inBasketToolsTable .plus {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer;
}

#inBasketToolsTable .minus {
	background: url(images/plusMinus.png) 0 0 no-repeat;
}

#inBasketToolsTable .minus:hover {
	background: url(images/plusMinus.png) -20px 0 no-repeat;
	border: 0px;
}

#inBasketToolsTable .minus:active {
	background: url(images/plusMinus.png) -40px 0 no-repeat;
	top: 0px;
}

#inBasketToolsTable .plus {
	background: url(images/plusMinus.png) 0 -20px no-repeat;
}

#inBasketToolsTable .plus:hover {
	background: url(images/plusMinus.png) -20px -20px no-repeat;
	border: 0px;
}

#inBasketToolsTable .plus:active {
	background: url(images/plusMinus.png) -40px -20px no-repeat;
	top: 0px;
}

#inBasketToolsTable .rouble {
	color: #4192d9;
}

#mainContentRight {
	width: 73%;
	display: table-cell;
	padding-left: 24px;
	padding-right: 25px;
	vertical-align: top;
}

#mainContentRight  h3 {
	margin-bottom: 1em;
	margin-top: 1em;
}

#mainContentRight #breadcrumbs {
	font: normal normal 14px "bender" , "Verdana" ,  arial , sans-serif;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#mainContentRight #breadcrumbs li:first-child a:hover {
	color: #333;
}

#mainContentRight #breadcrumbs li {
	color: #7F7F7F;
	float: left;
	margin-right: 4px;
}

#mainContentRight #breadcrumbs li a {
	color: #4192d9;
	text-decoration: none;
}

#mainContentRight #breadcrumbs li a:hover {
	color: #0074d9;
}

#mainContentRight h1 {
	font: normal normal 24px "bender" , "Verdana" ,  arial , sans-serif;
	color: #4192d9;
	padding-bottom: 24px;
	padding-top: 24px;
}

#mainContentRight #middleSlider img {
	max-width: 100%;
}

#mainContentRight #bottomSlider {
	margin-top: 24px;
}

#mainContentRight #bottomSlider img {
	max-width: 100%;
}

#ancillary ul {
	margin: 0;
	padding: 0;
}

#ancillary > ul > li:first-child {
	margin-left: 0px;
}

#ancillary > ul > li {
	float: left;
	width: 23.3%;
	margin-left: 2%;
	margin-top: 24px;
}

#ancillary li ul {
	border: 1px solid #e4e4e4;
	min-height: 250px;
}

#ancillary li ul li{
	border-top: 1px solid #e4e4e4;
	margin: 0 12px;
}

#ancillary li ul li:first-child {
	border: 0px;
}

#ancillary li ul li table {
	font: normal normal 12px "bender" , arial , sans-serif;
}

#ancillary li ul li table td:first-child {
	padding-right: 8px;
}

#ancillary li ul li table td {
	height: 78px;
}

#ancillary li ul li table td a {
	text-decoration: none;
	color: #000;
}

#ancillary li ul li table td a:hover {
	color: #4192d9;
}

#ancillary li ul li table td img {
	padding-right: 8px;
	max-width: 50px;
	max-height: 50px;
	text-align: center;
	vertical-align: middle;
	padding-right: 4px;
}

#ancillary #ref li {
	border-bottom: 1px solid #e4e4e4;
	margin: 0px 12px;
}

#ancillary #ref li:last-child {
	border: 0;
}

#ancillary #ref li table {
	border: 0px;
}

#ancillary #ref li table td {
	height: 58px !important;
}

#ancillary #ref li table td a {
	color: #000;
	text-decoration: none;
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
}

#ancillary #ref li table td a:hover {
	color: #4192d9;
}

#ancillary .ftPic {
	display: block;
	width: 52px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#footer {
	background: url("images/bgHead2.png") #1f1f1f;
	min-width: 1000px;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	margin-top: 24px;
	padding-bottom: 24px;
}

#footerLeft {
	display: table-cell;
	width: 19.8%;
}

#footerLeft a {
	padding: 24px 0 0 25px;
	display: block;
	margin: 0;
}

#footerLeft a:active {
	position: relative;
	top: 1px;
}

#footerLeft a img {
	max-width: 90%;
}

#footerLeft p {
	padding: 18px 10px 12px 25px;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #9E9E9E;
}

#footerLeft span {
	display: block;
	font: normal normal 18px "bender" , arial , sans-serif;
	color: #9E9E9E;
	padding: 0px 0px 4px 25px;
}

#footerRight {
	width: 73%;
	display: table-cell;
	padding-left: 24px;
	padding-right: 25px;
	vertical-align: top;
	padding-bottom: 24px;
}

#footerRight > ul {
	margin-top: 24px;
}

#footerRight > ul > li {
	display: block;
	float: left;
	width: 25%;
	text-align: left;
}

#footerRight > ul > li > span {
	font: normal normal 18px "bender" , arial , sans-serif;
	color: #4192d9;
	margin-bottom: 18px;
	display: block;
	white-space: nowrap;
}

#footerRight > ul > li a {
	text-decoration: none;
	color: #fff;
	font: normal normal 14px "bender" , arial , sans-serif;
}

#footerRight > ul > li a:hover {
	color: #4192d9;
}

#footerRight .footerList li {
	margin-bottom: 12px;
}

#footerRight #footerSocial li {
	color: #fff;
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
	margin-bottom: 12px;
}

#footerRight #footerSocial li img {
	vertical-align: middle;
}

#footerCart {
	position: fixed;
	bottom: 0px;
	background: url("images/colorMenu.png") #2D2D2D;
	font: normal normal 14px "bender" , arial , sans-serif;
	width: 356px;
	right: 0px;
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 4px;
	color: #fff;
	z-index: 999;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.500);
}

#elementError {
	background-color: rgba(0, 0, 0, 0.298);
	display: none;
	height: 100%;
	left: 0px;
	overflow: visible;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 998;
}

#elementErrorContainer {
	background-color: #1E1E1E;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	left: 50%;
	margin-left: -150px;
	margin-top: -130px;
	padding: 8px;
	position: relative;
	top: 50%;
	width: 300px;
	z-index: 999;
}

#elementErrorContainer span.heading {
	background-color: #000000;
	color: #4192D9;
	display: block;
	font: 18px/50px "bender", "arial", sans-serif;
	height: 50px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#elementErrorContainer p {
	text-align: center;
	color: #fff;
	padding: 12px;
}

#elementErrorContainer #elementErrorClose {
	background: url("images/exit.png") 0px 0px no-repeat transparent;
	display: block;
	height: 19px;
	position: absolute;
	right: 24px;
	top: 23px;
	width: 17px;
}

#elementErrorContainer #elementErrorClose:hover {
	background: url("images/exit.png") 0px -20px no-repeat transparent;
}

#elementErrorContainer #elementErrorClose:active {
	background: url("images/exit.png") 0px -41px no-repeat transparent;
}

#elementErrorContainer .close {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background: #0074d9;
	width: 140px;
	text-decoration: none;
	margin: 0px auto 12px;
}

#elementErrorContainer .close:hover {
	background: #016fc3;
}

#elementErrorContainer .close:active {
	position: relative;
	top: 1px;
}

#reg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.298);
	z-index: 1000;
	top: 0%;
	display: none;
}

#reg #regWrapper {
	width: 350px;
	background-color: #1e1e1e;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -175px;
	padding: 8px;
}

#reg #regWrapper span {
	font: normal normal 18px "bender" , arial , sans-serif;
	text-align: center;
	display: block;
	color: #4192d9;
	height: 50px;
	background-color: #000;
	line-height: 50px;
}

#reg #regWrapper a.regClose {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 20px;
	right: 24px;
}

#reg #regWrapper a.regClose:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#reg #regWrapper a.regClose:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#reg #regWrapper form {
	margin-top: 24px;
}

#reg #regWrapper input {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #000;
	width: 260px;
	margin: 0px 25px 12px;
	height: 40px;
	line-height: 40px;
	background-color: #2d2d2d;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	padding-left: 40px;
}

#reg #regWrapper input#regName {
	background: url(images/login.png) no-repeat  10px 0px  #2d2d2d;
}

#reg #regWrapper input#regName:focus {
	background: url(images/login.png) no-repeat  10px -40px  #2d2d2d;
}

#reg #regWrapper input#regEmail {
	background: url(images/mail.png) no-repeat  10px 0px  #2d2d2d;
}

#reg #regWrapper input#regEmail:focus {
	background: url(images/mail.png) no-repeat  10px -40px  #2d2d2d;
}

#reg #regWrapper input#regPassword,input#regRePassword {
	background: url(images/pass.png) no-repeat  10px 0px  #2d2d2d;
}

#reg #regWrapper input#regPassword:focus , input#regRePassword:focus {
	background: url(images/pass.png) no-repeat  10px -40px  #2d2d2d;
}

#reg #regWrapper a#regSubmit {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	text-align: center;
	display: block;
	margin-right: 25px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	background: url(images/color.png) repeat transparent;
	width: 170px;
	margin-left: 154px;
	margin-bottom: 12px;
	border: 1px solid #000;
}

#reg #regWrapper a#regSubmit:hover {
	background: url(images/color2.png) repeat transparent;
}

#reg #regWrapper #regErrors {
	min-height: 62px;
	margin-top: 24px;
	margin-left: 25px;
	color: #fff;
	display: none;
}

#auth {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.298);
	z-index: 1000;
	top: 0%;
	display: none;
}

#auth #authWrapper {
	width: 350px;
	background-color: #1e1e1e;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -175px;
	padding: 8px;
}

#auth #authWrapper span {
	font: normal normal 18px "bender" , arial , sans-serif;
	text-align: center;
	display: block;
	color: #4192d9;
	height: 50px;
	background-color: #000;
	line-height: 50px;
}

#auth #authWrapper a.authClose {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 20px;
	right: 24px;
}

#auth #authWrapper a.authClose:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#auth #authWrapper a.authClose:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#auth #authWrapper form {
	margin-top: 24px;
}

#auth #authWrapper input {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #000;
	width: 260px;
	margin: 0px 25px 12px;
	height: 40px;
	line-height: 40px;
	background-color: #2d2d2d;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	padding-left: 40px;
}

#auth #authWrapper input#authName {
	background: url(images/login.png) no-repeat  10px 0px  #2d2d2d;
}

#auth #authWrapper input#authName:focus {
	background: url(images/login.png) no-repeat  10px -40px  #2d2d2d;
}

#auth #authWrapper input#authPassword {
	background: url(images/pass.png) no-repeat  10px 0px  #2d2d2d;
}

#auth #authWrapper input#authPassword:focus {
	background: url(images/pass.png) no-repeat  10px -40px  #2d2d2d;
}

#auth #authWrapper a#authSubmit {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	text-align: center;
	display: block;
	margin-right: 25px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	background: url(images/color.png) repeat transparent;
	width: 120px;
	margin-left: 25px;
	margin-bottom: 12px;
	border: 1px solid #000;
	float: left;
}

#auth #authWrapper a#authSubmit:hover {
	background: url(images/color2.png) repeat transparent;
}

#auth #authWrapper #authLostPassword {
	font: normal normal 14px "bender" , arial , sans-serif;
	line-height: 32px;
	color: #4192d9;
	text-decoration: none;
}

#auth #authWrapper #authLostPassword:hover {
	color: #0074d9;
}

#auth #authWrapper #authErrors {
	font: normal normal 14px "bender" , arial , sans-serif;
	padding: 12px 0px;
	background-color: #000;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 12px;
	margin-left: -8px;
	padding-right: 8px;
	width: 358px;
}

#city {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.298);
	z-index: 1000;
	top: 0%;
	display: none;
}

#city #cityWrapper {
	width: 550px;
	background-color: #1e1e1e;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -275px;
	padding: 8px;
}

#city #cityWrapper a.cityClose {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 20px;
	right: 24px;
}

#city #cityWrapper a.cityClose:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#city #cityWrapper a.cityClose:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#city #cityWrapper span {
	font: normal normal 18px "bender" , arial , sans-serif;
	text-align: center;
	display: block;
	color: #4192d9;
	height: 50px;
	background-color: #000;
	line-height: 50px;
}

#city #cityWrapper ul {
	margin: 24px 0px;
}

#city #cityWrapper ul li {
	float: left;
	width: 170px;
	padding-left: 12px;
	margin-bottom: 12px;
}

#city #cityWrapper ul li a {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	display: block;
	text-decoration: none;
}

#city #cityWrapper ul li a:hover {
	color: #eee;
}

#city #cityWrapper ul li a ins {
	text-decoration: none;
	padding-bottom: 4px;
	border-bottom: 1px dashed #fff;
}

#city #cityWrapper ul li a:hover span {
	border-bottom: 1px dashed #eee;
}

/* CLASES */
.offersLine {
	font: normal normal 18px "bender" , arial , sans-serif;
	width: 100%;
	color: #fff;
	height: 40px;
	line-height: 40px;
	background: url(images/color.png) repeat #4192d9;
}

.offersLine span {
	line-height: 40px;
	padding-left: 12px;
}

.offersLine a {
	font: normal normal 16px "bender" , arial , sans-serif;
	display: block;
	float: right;
	line-height: 40px;
	margin-right: 12px;
	color: #fff;
	text-decoration: none;
	display: none;
}

.offersLine a:hover {
	color: #e4f2ff;
}

.offersLine a:active {
	position: relative;
	top: 1px;
}

/*PRODUCT*/

.productTitleLink {
	display: block;
	color: #0074d9;
	line-height: 21px;
	border-top: 4px double #c8e5ff;
	border-bottom: 4px double #c8e5ff;
	text-decoration: none;
	padding: 12px 0px;
	font-size: 12px;
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	width: 100%;
}

.productTitleLink span {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
}

.productTitleLink:hover {
	color: #006dcc;
}

.productImg {
	line-height: 150px;
	height: 150px;
	display: block;
}

.productImg img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.productImg:active {
	position: relative;
	top: 1px;
}

.productPrice {
	color: #b81506;
	font: normal normal 18px "bender" , arial , sans-serif;
	display: block;
	position: relative;
	border-bottom: 4px double #c8e5ff;
	padding: 12px 0px;
}

.productPrice s {
	font: normal normal 12px "bender" , arial , sans-serif;
	position: absolute;
	top: 0px;
	right: 60px;
}

.productAppendBlock {
	border-bottom: 4px double #c8e5ff;
	height: 40px;
}

.productCompare {
	display: block;
	width: 40%;
	float: left;
	color: #42607f;
	text-decoration: none;
	font-size: 12px;
	border-right: 4px double #c8e5ff;
	line-height: 40px;
}

.productCart {
	display: block;
	width: 58.1%;
	float: left;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
}

.productCart span {
	background: url(images/incart.png) repeat #4192d9;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	height: 25px;
	font: normal normal 12px "bender" , arial , sans-serif;
	display: inline-block;
	line-height: 25px;
	padding: 0px 12px;
}

.productCart span:hover {
	background: url(images/incartHover.png) repeat #4192d9;
}

.productCart span:active {
	position: relative;
	top: 1px;
}

.productStock {
	float: left;
	text-align: center;
	width: 58.1%;
	line-height: 24px;
	height: 24px;
}

.productStock u {
	text-decoration: none;
	font-size: 12px;
}

.productStock u.productInStock {
	color: #1d7e2d;
}

.productStock u.productNotAvailable {
	color: #999;
}

.ancillaryTitle {
	background: url(images/color.png) repeat #4192d9;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

.ancillaryTitle span {
	margin-left: 12px;
}

.ancillaryTitle a {
	float: right;
	color: #fff;
	margin-right: 12px;
	padding-bottom: 2px;
	text-decoration: none;
}

.ancillaryTitle a:hover {
	color: #c8e5ff;
}

.stockColor {
	background: url(images/color2.png) repeat #0074d9;
}

.browseColor {
	background: url(images/color4.png) repeat #004b8d;
}

.refColor {
	background: url(images/color5.png) repeat #010144;
}

.electroCheck_div {
	background: url(images/checkBox.png) 0px 0px no-repeat transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 12;
	cursor: pointer;
}

.electroCheck_div:hover {
	background: url(images/checkBox.png) 0px -15px no-repeat transparent;
}

.electroCheck_div_active {
	background: url(images/checkBox.png) 0px -30px no-repeat transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 12;
	cursor: pointer;
}

.electroCheck_div_active:hover {
	background: url(images/checkBox.png) 0px -45px no-repeat transparent;
}

.electroCheck_div_disabled {
	background: url(images/checkBox.png) 0px -60px no-repeat transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 12;
	cursor: pointer;
}

#personalInfo {
	overflow: hidden;
	clear: both;
}

#personalInfo span.heading {
	display: block;
	text-align: left !important;
	padding-left: 24px;
	color: #fff !important;
	background: url(images/color.png) 0 0 repeat #4192d9 !important;
}

#personalInfo input[type="checkbox"] {
	height: 15px;
	width: 15px;
}

#mainProfile {
	overflow: hidden;
}

#mainProfile .profileTable {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#mainProfile .left {
	padding-right: 4%;
}

#mainProfile .left .heading {
	font-size: 18px;
	color: #fff;
	background: url("images/color.png") #4192D9;
	display: block;
	line-height: 40px;
	height: 40px;
	padding-left: 18px;
	margin-bottom: 24px;
}

#mainProfile .profileSettings .heading {
	font-size: 16;
	color: #4192d9;
	background: none;
	margin: 0;
	padding: 0;
}

#mainProfile .profileSettings {
	margin: 0 18px;
	margin-right: 30px;
}

#mainProfile .profileSettings li:first-child {
	margin-right: 10%;
}

#mainProfile .profileSettings li {
	float: left;
	width: 45%;
	min-width: 200px;
}

#mainProfile .profileSettings input[type="text"] {
	padding: 0 5px;
	width: 100%;
	min-width: 180px;
	height: 30px;
	border: 1px solid #c0c0c0;
	margin-bottom: 8px;
	background: #ffffff;
 /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */;
}

#mainProfile .profileSettings input[type="text"]:focus {
	border: 1px solid #888;
}

#mainProfile .profileSettings textarea {
	padding: 5px 5px;
	width: 100%;
	min-width: 180px;
	height: 80px;
	border: 1px solid #c0c0c0;
	margin-bottom: 8px;
	resize: none;
	background: #ffffff;
 /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */;
}

#mainProfile .profileSettings textarea:focus {
	border: 1px solid #888;
}

#mainProfile .profileSettings label {
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
}

#mainProfile .profileSettings .submit {
	background: #0074d9;
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	width: 212px;
	text-align: center;
	margin-top: 8px;
}

#mainProfile .profileSettings .submit:hover {
	background: #016FCE;
}

#mainProfile .profileSettings .submit:active {
	position: relative;
	top: 1px;
}

#mainProfile .right {
	width: 290px;
	vertical-align: top;
}

#mainProfile .right .wrap {
	border: 1px solid #c0c0c0;
}

#mainProfile .right .heading {
	background: url("images/color.png") #4192D9;
	height: 40px;
	line-height: 40px;
	display: block;
	font-size: 16px;
	color: #fff;
	padding-left: 18px;
}

#mainProfile .right ul li:first-child {
	border: 0;
}

#mainProfile .right ul li {
	border-top: 1px solid #c0c0c0;
	height: 35px;
	line-height: 35px;
	padding-left: 18px;
}

#mainProfile .right ul li a {
	color: #505050;
	display: block;
	text-decoration: none;
}

#mainProfile .right ul li a:hover {
	color: #4192d9;
}

#mainProfile .right ul li .cnt {
	background: #4192d9;
	padding: 4px 6px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
}

#mainProfile .bx_my_order_switch a {
	height: 35px;
	line-height: 35px;
	background: url("images/color.png") #4192D9;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 0px 12px;
}

#mainProfile .bx_my_order_switch a:hover {
	background: #0074d9;
}

#mainProfile .bx_my_order_switch a:active {
	position: relative;
	top: 1px;
}

#empty .info {
	display: inline-block;
	width: 75%;
}

#empty h3 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 12px;
}

#empty p {
	font-size: 16px;
}

#empty p a {
	color: #4192d9;
}

#empty p a:hover {
	color: #0074d9;
}

#empty .back {
	background: #0074D9;
	display: block;
	line-height: 35px;
	width: 180px;
	height: 35px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin-top: 12px;
}

#empty .back:hover {
	background: #016FCE;
}

#empty .back:active {
	position: relative;
	top: 1px;
}

#empty .emptyImg {
	display: inline-block;
	margin-right: 36px;
	vertical-align: bottom;
}

#empty table{
	width:100%;
	table-layout: fixed;
}

#empty table h3{
	margin-top:0px;
}

#empty table .info{
	width: 100%;
}

#empty table td:first-child{
	padding-right: 24px;
	width:319px;
}

#empty table td{
	vertical-align: middle;
}

#loader {
	background: url(images/loader.gif) 50% 50% no-repeat rgba(0, 0, 0, 0.298);
	display: none;
	height: 100%;
	left: 0px;
	overflow: visible;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 998;
}

#advBlock ul {
	margin: 0;
	padding: 0;
}

#advBlock.small #slider {
	width: 100% !important;
}

#advBlock.small #advRight {
	display: none !important;
}

#authForm .inf {
	margin-top: 0;
	font-size: 14px;
	margin-bottom: 12px;
}

#authForm .inf a {
	color: #4192d9;
}
#authForm a{
	color: #4192d9;
	text-decoration: none;
	display: block;
	padding:2px 0;
	margin-top:8px;
}
#authForm .inf a:hover {
	color: #0074d9;
}

#authForm label {
	display: block;
	font-size: 14px;
	margin-bottom: 4px;
}

#authForm input[type="text"], 
#authForm input[type="password"] {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
	height: 35px;
	border: 1px solid #C0C0C0;
	width: 250px;
	padding-left: 4px;
	margin-bottom: 6px;
	background: #f9f9f9;
}

#authForm input:focus {
	border: 1px solid #888888;
}

#authForm .electroCheck {
	width: 15px;
	height: 15px;
	float:left;
}

#authForm .submit {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border: 0;
	padding: 0px 24px;
	background: #0074d9;
	color: #fff;
	margin-bottom: 6px;
	outline: none;
}

#authForm .submit:hover {
	background: #016fce;
}

#authForm .submit:active, #authForm .submit:focus {
	border: 0;
}

#authForm .sec {
	margin-left: 4px;
}

#authForm .forgot {
	color: #4192d9;
	font: normal normal 14px "bender" , arial , sans-serif;
	display: inline-block;
	margin-left: 12px;
}

#authForm .forgot:hover {
	color: #0074d9;
}
#authForm p{
	margin:0;
}
#authForm .notetext{
	display: block;
	margin-bottom: 12px;
}
#authForm .errortext {
	margin-top:0;
	font-size: 16px;
	margin-bottom: 12px;
	display: block;
}
#register h1{
	padding-bottom: 0px;
}
#register label {
	display: block;
	font-size: 14px;
	margin-bottom: 4px;
}

#register input[type="text"], 
#register input[type="password"] {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
	height: 35px;
	border: 1px solid #C0C0C0;
	width: 250px;
	padding-left: 4px;
	margin-bottom: 6px;
	background: #f9f9f9;
}

#register .submit {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border: 0;
	padding: 0px 24px;
	background: #0074d9;
	color: #fff;
	margin-bottom: 6px;
	outline: none;
}

#register .submit:hover {
	background: #016fce;
}

#register .submit:active, #register .submit:focus {
	border: 0;
}

#register a{
	color:#4192d9;
	text-decoration: none;
	font-weight: normal;
}
#register a:hover{
	color:#0074d9;
}
#register .inf {
	margin-top: 0;
	font-size: 14px;
}

#register .inf a {
	color: #4192d9;
}

#register .inf a:hover {
	color: #0074d9;
}

#forgot .inf {
	margin-top: 0;
	font-size: 14px;
}

#forgot .inf a {
	color: #4192d9;
}

#forgot .inf a:hover {
	color: #0074d9;
}

#forgot label {
	display: block;
	font-size: 14px;
	margin-bottom: 4px;
}

#forgot input[type="text"], 
#forgot input[type="password"] {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
	height: 35px;
	border: 1px solid #C0C0C0;
	width: 250px;
	padding-left: 4px;
	margin-bottom: 6px;
	background: #f9f9f9;
}

#forgot .submit {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border: 0;
	padding: 0px 24px;
	background: #0074d9;
	color: #fff;
	margin-bottom: 6px;
	outline: none;
}

#forgot .submit:hover {
	background: #016fce;
}

#forgot .submit:active, #register .submit:focus {
	border: 0;
}

#callback label {
	display: block;
	font-size: 14px;
	margin-bottom: 4px;
}

#callback input[type="text"] {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
	height: 35px;
	border: 1px solid #C0C0C0;
	width: 350px;
	padding-left: 4px;
	margin-bottom: 6px;
	background: #f9f9f9;
}

#callback input:focus {
	border: 1px solid #888888;
}

#callback textarea {
	resize: none;
	overflow: auto;
	padding-top: 4px;
	padding-left: 4px;
	border: 1px solid #C0C0C0;
	width: 350px;
	background: #f9f9f9;
	height: 90px;
}

#callback textarea:focus {
	border: 1px solid #888888;
}

#callback .submit {
	font: normal normal 14px "bender" , arial , sans-serif;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border: 0;
	padding: 0px 24px;
	background: #0074d9;
	color: #fff;
	margin-bottom: 6px;
	outline: none;
}

#callback .submit:hover {
	background: #016fce;
}

#callback .submit:active, #callback .submit:focus {
	border: 0;
}

#callback p {
	margin-top: 0;
	font-size: 14px;
}

#orderSettings {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#orderSettings td {
	padding: 24px 0 48px;
	vertical-align: top;
}

#orderSettings td:first-child {
	width: 400px;
	padding-right: 24px;
}

#order #ID_PROFILE_ID {
	width: 400px;
}

#order #deviveryList {
	overflow: hidden;
}

#order #deviveryList li {
	border: 1px solid #C0C0C0;
	display: block;
	overflow: hidden;
	width: 320px;
	float: left;
	margin-left: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	cursor: pointer;
	height: 90px;
}

#order #deviveryList .selected {
	border: 1px solid #797979;
}

#order #deviveryList .name {
	font-size: 13px;
	color: #000;
}

#order .productList {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#order .productList th {
	background: #F2F2F2;
	border-right: 1px solid #F9F9F9;
	color: #000000;
	font: 15px "bender", "arial", sans-serif;
	padding: 12px;
	text-align: center;
}

#order .productList td {
	text-align: center;
	padding: 12px;
	vertical-align: middle;
	border: 1px solid #f1f1f1;
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */
	color: #000;
	font-size: 14px;
}

#order .productList td img {
	max-height: 90%;
	max-width: 90%;
	vertical-align: middle;
}

#order .productList td a {
	display: block;
	color: #000;
	text-align: left;
}

#order .productList td a:hover {
	color: #4192d9;
}

#order .heading {
	font: normal normal 18px "bender" , arial , sans-serif;
	color: #0074d9;
	height: 40px;
	line-height: 40px;
	background: #0074d9;
	display: block;
	color: #fff;
	margin-bottom: 12px;
	padding-left: 12px;
}

#order .heading2 {
	display: block;
	font-size: 18px;
	margin: 12px 0px;
}

#order .heading3 {
	display: block;
	font-size: 16px;
	margin: 12px 0;
	padding-bottom: 12px;
}

#order .selectPerson li {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #f6f6f6;
	color: #000;
	border: 1px solid #e4d4d4;
	margin-right: 12px;
	padding: 0px 12px;
	cursor: pointer;
}

#order .selectPerson .selected {
	color: #fff;
	background: #0074d9;
}

#order .pers {
	display: none;
}

#order #sale_order_props label {
	display: block;
	width: 150px;
	margin: 12px 0px;
	font-size: 14px;
}

#order #sale_order_props input {
	display: inline-block;
	height: 20px;
	width: 400px;
	padding-left: 4px;
}

#order #sale_order_props textarea {
	width: 400px;
	padding-left: 4px;
	padding-top: 4px;
	resize: none;
}

#fastBack {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.298);
	z-index: 1000;
	top: 0%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	left: 0;
}

#fastBack #fastBackWrapper {
	width: 350px;
	background-color: #1e1e1e;
	box-shadow: 12px 12px 1px rgba(0, 0, 0, 0.600);
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -175px;
	padding: 8px;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
}

#fastBack #fastBackWrapper span {
	font: normal normal 18px "bender" , arial , sans-serif;
	text-align: center;
	display: block;
	color: #4192d9;
	height: 50px;
	background-color: #000;
	line-height: 50px;
}

#fastBack #fastBackWrapper .fastBackClose {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 24px;
	right: 24px;
}

#fastBack #fastBackWrapper .fastBackClose:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#fastBack #fastBackWrapper .fastBackClose:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#fastBack #fastBackSuccess{
	display: none;
}

#fastBack .message{
	text-align: center;
	color: #fff;
	display: block;
}

#fastBack .close{

	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	text-align: center;
	display: block;
	margin-right: 25px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	background: url(images/color.png) repeat transparent;
	width: 170px;
	margin: auto;
	margin-bottom: 12px;
	border: 1px solid #000;
}

#fastBack .close:hover{
	background: url(images/color2.png) repeat transparent;
}

#fastBack .close:active{
	position: relative;
	top: 1px;
}

#fastBack #fastBackWrapper form {
	margin-top: 24px;
}

#fastBack #fastBackWrapper input {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #000;
	width: 260px;
	margin: 0px 25px 12px;
	height: 40px;
	line-height: 40px;
	background-color: #2d2d2d;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	padding-left: 40px;
}

#fastBack #fastBackWrapper textarea {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #000;
	width: 288px;
	margin: 0px 25px 12px;
	height: 80px;
	line-height: 21px;
	background-color: #2d2d2d !important;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
	overflow: hidden;
	background-image: none;
	display: block;
}

#fastBack #fastBackWrapper textarea:focus {
	background-color: #3d3d3d !important;
}

#fastBack #fastBackWrapper textarea:active {
	background-color: #2d2d2d !important;
}

#fastBack #fastBackWrapper select {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #000;
	width: 302px;
	margin: 0px 25px 12px;
	height: 40px;
	line-height: 21px;
	background-color: #2d2d2d;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	padding-left: 12px;
	display: block;
}

#fastBack #fastBackWrapper input#fastBackName {
	background: url(images/login.png) no-repeat  10px 0px  #2d2d2d;
}

#fastBack #fastBackWrapper input#fastBackName:focus {
	background: url(images/login.png) no-repeat  10px -40px  #3d3d3d;
}

#fastBack #fastBackWrapper input#fastBackEmail {
	background: url(images/mail.png) no-repeat  10px 0px  #2d2d2d;
}

#fastBack #fastBackWrapper input#fastBackEmail:focus {
	background: url(images/mail.png) no-repeat  10px -40px  #3d3d3d;
}

#fastBack #fastBackWrapper input#fastBackPhone {
	background: url(images/phone.png) no-repeat  10px 0px  #2d2d2d;
}

#fastBack #fastBackWrapper input#fastBackPhone:focus {
	background: url(images/phone.png) no-repeat  10px -40px  #3d3d3d;
}

#fastBack #fastBackWrapper a#fastBackSubmit {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	text-align: center;
	display: block;
	margin-right: 25px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	background: url(images/color.png) repeat transparent;
	width: 170px;
	margin-left: 154px;
	margin-bottom: 12px;
	border: 1px solid #000;
}

#fastBack #fastBackWrapper a#fastBackSubmit:hover {
	background: url(images/color2.png) repeat transparent;
}

#fastBack #fastBackWrapper #fastBackErrors {
	font: normal normal 14px "bender" , arial , sans-serif;
	padding: 12px 0px;
	background-color: #000;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 12px;
	margin-left: -8px;
	padding-right: 8px;
	width: 358px;
	display: none;
}

.sectional li {
	display: block;
}

/* GLOBAL CLASES */

.product {
	float: left;
}

.product .wrap {
	width: 90%;
	border: 1px solid #e4e4e4;
	margin: 0px auto;
	position: relative;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.product .wrap:hover {
	border: 1px solid #c9c9c9;
}

.product .marker {
	font: normal normal 12px "bender" , arial , sans-serif;
	position: absolute;
	top: 4px;
	left: -4px;
	background: url(images/marker.png) 0 0 repeat transparent;
	color: #fff;
	padding: 3px 4px;
	line-height: 16px;
	z-index: 10;
}

.product .rating {
	position: absolute;
	right: 8px;
	top: 4px;
	z-index: 10;
	width: 79px;
}

.product .rating i {
	background: url(images/rating.png) repeat 0 0px transparent;
	height: 15px;
	width: 79px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

.product .rating i.m {
	background: url(images/rating.png) repeat 0 -14px transparent;
	width: 0px;
	z-index: 10;
}

.product a {
	text-decoration: none;
}

.product a:active {
	position: relative;
	top: 1px;
}

.product .pic {
	text-align: center;
	padding: 24px 0px 8px;
	display: block;
	height: 120px;
	line-height: 120px;
}

.product .pic img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}

.product .name {
	font: normal normal 13px "bender" , arial , sans-serif;
	text-decoration: none;
	text-align: center;
	margin-top: 8px;
	padding: 0px 10px;
	display: block;
	color: #000;
	height: 30px;
	overflow: hidden;
}

.product .name:hover {
	color: #0074d9;
}

.product .name:active {
	position: relative;
	top: 1px;
}

.product .price {
	font: normal normal 18px "bender" , arial , sans-serif;
	position: relative;
	line-height: 25px;
	display: block;
	color: #000;
	height: 25px;
	width: 49.9%;
	float: left;
	font-weight: 400;
}

.product .price s {
	font: normal normal 12px "bender" , arial , sans-serif;
	position: absolute;
	color: #acacac;
	right: 12px;
	top: -8px;
	display: block;
}

.product .price, 
.product .addCart {
	text-align: center;
	margin-top: 16px;
}

.product .addCart {
	background: url("images/incart.png") 0 0  repeat #4192d9;
	font: normal normal 14px "bender" , arial , sans-serif;
	line-height: 25px;
	display: block;
	height: 25px;
	clear: right;
	float: right;
	color: #fff;
	width: 86px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.product .addCart:hover {
	background: url("images/incartHover.png") 0 0  repeat #0074d9;
}

.product .hr {
	border-top: 1px solid #e4e4e4;
	overflow: hidden;
	clear: both;
}

.product .addCompare, .product .available, .product .noAvailable {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #7f7f7f;
	text-align: center;
	line-height: 28px;
	display: block;
	height: 28px;
	float: left;
	width: 49.4%;
	margin: 2px 0px;
}

.product .addCompare img, 
.product .available img, .product .noAvailable img {
	vertical-align: middle;
	padding-right: 4px;
}

.product .addCompare {
	border-right: 1px solid #e4e4e4;
}

.product .addCompare:hover {
	color: #4192d9;
}

.product .available {
	color: #19ad24;
}

.copyright {
	color: #525252;
}

.copyrightRef {
	display: block !important;
	margin-top: -5px;
}

.copyrightRef img {
	padding-top: 0px !important;
	margin-top: -10px;
}

.copyrightRef img {
	margin: 0px !important;
}

.footerRating {
	margin-left: 0px !important;
	margin-top: 8px;
}

.footerBorder {
	border: 0px !important;
}

.vk, .twitter, .facebook, .odnoklassniki, .googleplus {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 21px;
	margin-right: 6px;
}

.vk {
	background: url(images/sn1.png) 0 0 no-repeat;
}

a:hover .vk {
	background: url(images/sn1.png) 0 -21px no-repeat;
}

.facebook {
	background: url(images/sn2.png) 0 0 no-repeat;
}

a:hover .facebook {
	background: url(images/sn2.png) 0 -21px no-repeat;
}

.odnoklassniki {
	background: url(images/sn3.png) 0 0 no-repeat;
}

a:hover .odnoklassniki {
	background: url(images/sn3.png) 0 -21px no-repeat;
}

.twitter {
	background: url(images/sn4.png) 0 0 no-repeat;
}

a:hover .twitter {
	background: url(images/sn4.png) 0 -21px no-repeat;
}

.googleplus {
	background: url(images/sn5.png) 0 0 no-repeat;
}

a:hover .googleplus {
	background: url(images/sn5.png) 0 -21px no-repeat;
}

.wrapper {
	margin: 0px 25px;
	min-width: 900px;
}

.loaderMin {
	background: url("images/loaderMin.gif") 0 7px  no-repeat !important;
}

.loaderBlue {
	background: url("images/loaderBlue.gif") 0 7px  no-repeat !important;
}

.visible {
	position: static !important;
	height: 0px;
}

.rouble {
	font: normal normal 14px "rouble", "bender" , arial , sans-serif;
	font-style: normal;
	position: relative;
}

.rouble i {
	font: 14px "rouble", "bender", "arial", sans-serif;
	position: absolute;
	left: 1%;
	top: 14%;
}

.bx_pagination_bottom .bx_pagination_page li.bx_active {
	background-color: #4192d9 !important;
	color: #fff !important;
}

.addCart{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.loading{
	position: relative;
	color:#F9F9F9 !important;
}

.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.1);

}

.basketIMG{
	display: block;
	height:170px;
	line-height: 170px;
}
.basketIMG img{
	max-height: 95% !important;
}
.addCart.added{
	background: #0099FF !important;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

::selection {
	background: #eca712;
	color: #fff;
}

::-moz-selection {
	background: #eca712;
	color: #fff;
}

::-webkit-selection {
	background: #eca712;
	color: #fff;
}