/*Menu Icons*/
#elipseart_siteposition_icon_mnu_position {background-image:url(icons/elipseart.siteposition/mnu_position.gif);}

/*Page Icons*/
#elipseart_siteposition_icon_page_position {background-image:url(icons/elipseart.siteposition/page_position.gif);}

#elipseart_siteposition_icon_upd,
.elipseart_siteposition_icon_upd {background-image:url(icons/elipseart.siteposition/upd.gif);}

.elipseart_siteposition_icon_stat {background-image:url(icons/elipseart.siteposition/stat.gif);}

div.graph {margin:20px 0px 20px 0px;}
div.graph img.graph {margin:10px;}
div.graph table.graph {border:1px solid #BDC6E0;}
div.graph table.legend {margin:0px 0px 7px 10px; font-size:70%;}
div.graph table.legend td {padding:3px 10px 3px 0px;}