#saleOffers {
	margin-top: 24px;
	overflow: hidden;
	clear: both;
}

#saleOffers ul {
	margin: 24px 0px;
	padding: 0;
}

#saleCarousel{
	overflow:hidden;
	position:relative;
}

#saleCarousel .saleBtnLeft, 
#saleCarousel .saleBtnRight{
	display:block;
	position:absolute;
	width:30px;
	height:54px;
	top:50%;
	margin-top:-27px;
}

#saleCarousel .saleBtnLeft{
	background: url("images/buttonOffers.png") 0 0 no-repeat transparent;
	left:0px;
}

#saleCarousel .saleBtnLeft:hover{
	background: url("images/buttonOffers.png") -30px 0 no-repeat transparent;	
}

#saleCarousel .saleBtnLeft:active{
	background: url("images/buttonOffers.png") -60px 0 no-repeat transparent;		
}

#saleCarousel .saleBtnRight{
	background: url("images/buttonOffers.png") 0 -54px no-repeat transparent;
    right:0px;
}

#saleCarousel .saleBtnRight:hover{
	background: url("images/buttonOffers.png") -30px -54px no-repeat transparent;
}

#saleCarousel .saleBtnRight:active{
	background: url("images/buttonOffers.png") -60px -54px no-repeat transparent;		
}

#saleCarousel .productList{
 	position:relative;
	overflow: hidden;
	width:99999px;
	clear: both;
	left:0px;
}