#catalogElement {
	margin-bottom: 24px;
}

#catalogElement h1 {
	color: #000 !important;
}

#catalogElement #hint {
	position: absolute;
	border: 1px solid #bdbdbd;
	background: #fff;
	width: 300px;
	box-shadow: 1px 1px 12px #dbdbdb;
	padding: 12px;
}

#catalogElement #hint span {
	font-size: 14px;
	line-height: 31px;
	font-weight: 600;
	display: block;
}

#catalogElement #hint ins {
	background: url("images/clear.png") no-repeat 0 0 transparent;
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
	width: 10px;
	height: 9px;
	cursor: pointer;
}

#catalogElement #hint ins:active {
	top: 7px;
}

#catalogElement .manufacturer {
	float: left;
	height: 75px;
	line-height: 75px;
	position: relative;
	left: -10px;
}

#catalogElement .manufacturer img {
	vertical-align: middle;
}

#catalogElement .caption {
	height: 40px;
	line-height: 40px;
	background-color: #f6f6f6;
	border: 1px solid #e4e4e4;
	margin-bottom: 24px;
}

#catalogElement .caption li {
	float: left;
}

#catalogElement .caption li:hover {
	background-color: #f2f2f2;
}

#catalogElement .caption li a {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 0px 18px;
	line-height: 40px;
}

#catalogElement .caption .active {
	background-color: #0074d9;
	color: #fff;
}

#catalogElement .caption .active:hover {
	background: #016FCE;
}

#catalogElement .caption .active a {
	color: #fff;
}

#catalogElement #elementInfoLeft {
	float: left;
	max-width: 70%;
}

#catalogElement #elementInfoLeft li {
	float: left;
	margin-right: 18px;
	font: normal normal 14px "bender" , arial , sans-serif;
	line-height: 19px;
}

#catalogElement #elementInfoLeft li img {
	vertical-align: middle;
	padding: 0px 8px;
}

#catalogElement #elementInfoLeft li a {
	text-decoration: none;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #4192d9;
}

#catalogElement #elementInfoLeft li a:hover {
	color: #0074d9;
}

#catalogElement #elementInfoLeft li a:active {
	position: relative;
	top: 1px;
}

#catalogElement #elementInfoRight {
	float: right;
}

#catalogElement #elementInfoRight a {
	font: normal normal 16px "bender" , arial , sans-serif;
	border: 1px solid #c8e5ff;
	color: #4192d9;
	height: 35px;
	line-height: 35px;
	display: block;
	text-decoration: none;
	padding: 0px 18px;
	text-align: center;
	margin-top: -10px;
}

#catalogElement #elementInfoRight a:hover {
	color: #0074d9;
	border: 1px solid #7fc2fd;
}

#catalogElement #elementInfoRight a:active {
	position: relative;
	top: 1px;
}

#elementTableInfo {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	font: normal normal 14px "bender" , arial , sans-serif;
}

#elementTableInfo #zoomer {
	position: relative;
}

#elementTableInfo #zoomer > ins {
	background: url("images/marker.png") 0px 0px transparent;
	color: #fff;
	font: 12px/16px "bender", "arial", sans-serif;
	left: -3px;
	padding: 3px 4px;
	position: absolute;
	top: 0px;
	z-index: 33;
}

#catalogElement #extraFixed {
	position: fixed;
	width: 210px;
	float: right;
	top: 0;
	background-color: #F6F6F6;
}

#catalogElement #extraFixed .wrap {
	border: 1px solid #D5D5D5;
}

#catalogElement .stickers {
	position: absolute;
	overflow: hidden;
	clear: both;
	z-index: 10;
	left: 12px;
	bottom: 8px;
	width: 80%;
}

#catalogElement .stickers li {
	display: block;
	float: left;
	width: 25%;
	line-height: 30px;
	height: 30px;
	text-align: left;
}

#catalogElement .stickers li img {
	max-width: 80%;
	max-height: 80%;
	vertical-align: middle;
}

#catalogElement .zoom {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	right: 13px;
	top: 13px;
	background: url(images/zoom.png) 0 0 no-repeat;
	z-index: 2;
}

#catalogElement .zoom:hover {
	background: url(images/zoom.png) -22px 0 no-repeat;
}

#catalogElement  .zoom:active {
	background: url(images/zoom.png) -44px 0 no-repeat;
}

#catalogElement #elementTableInfo > tbody > tr > td:first-child {
	width: 40%;
	text-align: center;
}

#catalogElement #elementTableInfo > tbody > tr > td {
	vertical-align: top;
	width: 60%;
}

#catalogElement  #elementMorePhoto ul li:first-child {
	margin-left: 0px;
}

#catalogElement  #elementMorePhoto ul li:nth-child(4n+1) {
	margin-left: 0px;
}

#catalogElement  #elementMorePhoto ul li {
	float: left;
	width: 22.7%;
	margin-left: 3%;
	margin-top: 12px;
	position: relative;
}

noindex:-o-prefocus, #elementMorePhoto ul li {
	width: 22.8%;
}

#catalogElement  #elementMorePhoto {
	overflow: hidden;
	position: relative;
}

#catalogElement  #elementMorePhoto span.selected {
	border: 1px solid #B1B1B1;
	position: absolute;
	display: block;
	width: 22.3%;
	top: 12px;
	z-index: 2;
	left: 0%;
	cursor: pointer;
}

#catalogElement #elementMorePhoto ul li a {
	border: 1px solid #f1f1f1;
	display: block;
}

#catalogElement #elementMorePhoto ul li a img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}

#catalogElement #elementTableImg {
	border: 1px solid #f1f1f1;
	height: 300px;
	line-height: 300px;
	text-align: center;
	padding: 24px 0px;
	position: relative;
	overflow: hidden;
}

#catalogElement #itworkSlide {
	width: 99999px;
	position: relative;
	left: 0px;
	z-index: 1;
}

#catalogElement #itworkSlide li {
	float: left;
}

#catalogElement #itworkSlide li a {
	display: block;
	height: 300px;
	line-height: 270px;
}

#catalogElement #itworkSlide li a img {
	max-width: 85%;
	max-height: 85%;
	vertical-align: middle;
}

#catalogElement #elementTableImg .prev,
#catalogElement #elementTableImg .next {
	height: 21px;
	width: 21px;
	display: block;
	position: absolute;
	z-index: 2;
}

#catalogElement #elementTableImg .prev {
	background: url(images/buttonCarouselSmall.png) 0 0 no-repeat;
	right: 36px;
	bottom: 12px;
}

#catalogElement  #elementTableImg .prev:hover {
	background: url(images/buttonCarouselSmall.png) -21px 0 no-repeat;
}

#catalogElement  #elementTableImg .prev:active {
	background: url(images/buttonCarouselSmall.png) -42px 0 no-repeat;
}

#catalogElement  #elementTableImg .next {
	background: url(images/buttonCarouselSmall.png) 0 -21px no-repeat;
	right: 12px;
	bottom: 12px;
}

#catalogElement  #elementTableImg .next:hover {
	background: url(images/buttonCarouselSmall.png) -21px -21px no-repeat;
}

#catalogElement  #elementTableImg .next:active {
	background: url(images/buttonCarouselSmall.png) -42px -21px no-repeat;
}

#catalogElement #additional {
	table-layout: fixed;
	border-collapse: collapse;
	width: 97%;
	margin-left: 3%;
}

#catalogElement #propSlider,
#catalogElement #reviewSlider {
	position: relative;
	left: 0;
	width: 99999px;
	overflow: hidden;
}

#catalogElement #propSlider li,
#catalogElement #reviewSlider li {
	float: left;
	display: block;
}

#catalogElement #additional .main {
	vertical-align: top;
}

#catalogElement #additional .main .wrap {
	width: 95%;
	border: 1px solid #f1f1f1;
	overflow: hidden;
}

#catalogElement #additional .main .heading {
	margin: 12px 0px !important;
	padding-left: 8px;
	color: #4192d9;
	background: transparent;
	line-height: normal;
}

#catalogElement #additional .main .review {
	margin-top: 12px;
}

#catalogElement #additional .main .review .heading {
	padding-left: 12px;
}

#catalogElement #additional .main .review ins {
	color: #000;
	padding-left: 12px;
	font-size: 14px;
	margin-bottom: 6px;
	display: inline-block;
}

#catalogElement #additional .main .review img {
	vertical-align: middle;
	display: inline-block;
	padding-left: 12px;
}

#catalogElement #additional .main .review li {
	line-height: 21px;
	font-size: 14px;
}

#catalogElement #additional .main .review li p {
	padding: 0px 12px;
	color: #333;
	margin: 0;
}

#catalogElement #additional .main .review li p a {
	color: #000;
}

#catalogElement #additional .main .review li p a:hover {
	color: #4192d9;
}

#catalogElement #additional .main .shortProp {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#catalogElement #additional .main .shortProp tr:nth-child(odd) {
	background-color: #f6f6f6;
}

#catalogElement #additional .main .shortProp td:first-child {
	width: 60%;
}

#catalogElement #additional .main .shortProp td {
	padding: 8px 12px;
	border-bottom: 1px solid #fbfbfb;
}

#catalogElement #additional .main .analog {
	color: #333;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e1e1e1;
}

#catalogElement #additional .main .analog:hover {
	color: #4192d9;
}

#catalogElement #additional .main .sectional > li {
	padding: 12px 0px;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
}

#catalogElement #additional .main .sectional li img {
	vertical-align: middle;
	max-width: 100px;
}

#catalogElement #additional .main .sectional .shortText {
	font: normal normal 13px "bender" , arial , sans-serif;
	line-height: 21px;
}

#catalogElement #additional .main .reviewLink {
	float: left;
	font-size: 14px;
	color: #4192d9;
	text-decoration: none;
	margin-left: 100px;
}

#catalogElement #additional .main .reviewLink:hover {
	color: #0074d9;
}

#catalogElement #additional .main .allProp,
#catalogElement #additional .main .allReview {
	font-size: 14px;
	text-decoration: none;
	color: #4192d9;
	margin-left: 12px;
	padding-bottom: 1px;
	border-bottom: 1px solid #4192d9;
	float: left;
	margin: 8px 0px 8px 12px;
}

#catalogElement #additional .main .controls {
	float: right;
	margin: 8px 12px 8px 0px;
}

#catalogElement #additional .main .controls .prev,
#catalogElement #additional .main .controls .next {
	width: 21px;
	height: 21px;
	display: none;
	float: left;
}

#catalogElement #additional .main .controls .prev {
	background: url(images/buttonCarouselSmall.png) 0 0 no-repeat;
	margin-right: 4px;
}

#catalogElement #additional .main .controls .prev:hover {
	background: url(images/buttonCarouselSmall.png) -21px 0 no-repeat;
}

#catalogElement #additional .main .controls .prev:active {
	background: url(images/buttonCarouselSmall.png) -42px 0 no-repeat;
}

#catalogElement #additional .main .controls .next {
	background: url(images/buttonCarouselSmall.png) 0 -21px no-repeat;
}

#catalogElement #additional .main .controls .next:hover {
	background: url(images/buttonCarouselSmall.png) -21px -21px no-repeat;
}

#catalogElement #additional .main .controls .next:active {
	background: url(images/buttonCarouselSmall.png) -42px -21px no-repeat;
}

#catalogElement #additional .extra {
	width: 210px;
	vertical-align: top;
	position: relative;
}

#catalogElement #additional .extra .wrap {
	border: 1px solid #D5D5D5;
	background-color: #f6f6f6;
	padding: 0px 0px 12px 0px;
}

#catalogElement #additional .extra .sectional li {
	padding: 12px 0px;
	margin: 0px 12px;
	overflow: hidden;
}

#catalogElement #additional .extra .price {
	font: normal normal 24px "bender" , arial , sans-serif;
	color: #000;
	padding: 18px 0 12px 12px !important;
	border-bottom: 1px solid #e4e4e4;
	background-color: #F6F6F6;
	margin: 0 !important;
	text-align: left;
	position: relative;
}

#catalogElement #additional .extra .price s {
	color: #acacac;
	font-size: 14px;
	position: absolute;
	top: 4px;
	display: block;
	right: 20px;
}

#catalogElement #additional .extra .rat {
	border-bottom: 1px solid #F1F1F1;
}

#catalogElement #additional .extra .rating {
	position: relative;
	top: 0px;
	z-index: 10;
	width: 79px;
	display: block;
	float: left;
}

#catalogElement #additional .extra .rating i {
	background: url(images/rating.png) repeat 0 0px transparent;
	height: 15px;
	width: 79px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

#catalogElement #additional .extra .rating i.m {
	background: url(images/rating.png) repeat 0 -14px transparent;
	width: 0px;
	z-index: 10;
}

#catalogElement #additional .score {
	float: left;
	display: block;
	padding-right: 12px;
}

#catalogElement #additional .available, 
#catalogElement #additional .noAvailable {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #7f7f7f;
	display: block;
	margin: 2px 0px;
}

#catalogElement #additional .available img, 
#catalogElement #additional .noAvailable img, 
#catalogElement #additional .addCompare img {
	vertical-align: middle;
	padding-right: 4px;
}

#catalogElement #additional .available {
	color: #333;
}

#catalogElement #additional .inCart {
	padding-top: 12px !important;
	border-bottom: 1px solid #e4e4e4;
}

#catalogElement #additional .addCart {
	background-color: #0074d9;
	font: normal normal 14px "bender" , arial , sans-serif;
	line-height: 40px;
	display: block;
	height: 40px;
	color: #fff;
	width: 185px;
	text-decoration: none;
	text-align: center;
}

#catalogElement #additional .addCart:hover {
	background: #016FCE;
}

#catalogElement #additional .addCart:active,
#catalogElement .oneClick:active {
	position: relative;
	top: 1px;
}

#catalogElement #additional .fastBay{
	border-bottom: 1px solid #e4e4e4;
}

#catalogElement #additional .oneClick{
	color:#fff;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #f98c02;
	text-decoration: none;
}

#catalogElement #additional .oneClick:hover{
	background: #ff9208;
}

#catalogElement #additional .compare {
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
}

#catalogElement #additional .addCompare {
	text-decoration: none;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #7F7F7F;
}

#catalogElement #additional .addCompare:hover {
	color: #4192d9;
}

#catalogElement #additional .addCompare:active {
	position: relative;
	top: 1px;
}

#catalogElement #additional .colors {
	padding-bottom: 6px !important;
}

#catalogElement #additional .colors img {
	vertical-align: middle;
	border: 1px solid #e4e4e4;
}

#catalogElement   #additional .offers span {
	float: left;
	display: block;
}

#catalogElement   #additional .offers {
	padding-bottom: 0px !important;
}

#catalogElement   #additional #itworkSelect_offers {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #F1F1F1;
	width: 110px;
	height: 23px;
	line-height: 21px;
	background-color: #fff;
	color: #000;
	position: absolute;
	top: -4px;
	z-index: 40;
	display: inline-block;
	margin-left: 6px;
}

#catalogElement   #additional #itworkSelect_offers img {
	cursor: pointer;
}

#catalogElement   #additional #itworkSelect_offers:hover {
	color: #111;
}

#catalogElement   #additional #itworkSelect_offers ins {
	display: block;
	line-height: 25px;
	text-decoration: none;
	padding-left: 12px;
	cursor: pointer;
}

#catalogElement   #additional #itworkSelect_offers ins + img {
	position: absolute;
	display: block;
	top: 50%;
	right: 12px;
}

#catalogElement   #additional #itworkSelect_offers ul {
	position: absolute;
	top: 23px;
	z-index: 1000;
	background: url("images/color.png") #4192d9;
	width: 110px;
	left: -1px;
	display: none;
}

#catalogElement   #additional #itworkSelect_offers ul li {
	display: block;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 12px;
	cursor: pointer;
	color: #fff;
	margin: 0 !important;
}

#catalogElement   #additional #itworkSelect_offers ul li:hover {
	background: url("images/color2.png") #0074d9;
}

#catalogElement   #additional .shipping {
	background-color: #ebebeb;
	padding: 6px 0px !important;
}

#catalogElement   #additional .shipping {
	margin-top: 12px !important;
}

#catalogElement   #additional .shipping span {
	color: #000;
}

#catalogElement   #additional .shipping ins {
	color: #4192d9;
}

#catalogElement   #additional .shipping img {
	vertical-align: middle;
	padding: 0px 8px;
}

#catalogElement   #additional .method {
	border-top: 1px solid #f1f1f1;
	padding-bottom: 0px !important;
}

#catalogElement   #additional .infoText {
	padding-top: 12px !important;
	padding-bottom: 6px !important;
	font-size: 12px;
	color: #696969;
}

#catalogElement .heading {
	font: normal normal 18px "bender" , arial , sans-serif;
	display: block;
	margin: 24px 0 0 0;
	background: #f2f2f2;
	line-height: 35px;
	color: #000;
	padding-left: 12px;
}

#catalogElement .description {
	border: 1px solid #f1f1f1;
	padding: 12px;
	font: 14px/21px "bender", "arial", sans-serif;
	color: #222;
}

#catalogElement .stats {
	width: 100%;
	padding: 12px;
	border-collapse: collapse;
	table-layout: fixed;
}

#catalogElement .stats .question {
	display: inline-block;
	margin-left: 4px;
	width: 19px;
	height: 19px;
	background: url("images/questions.png") 0 0 transparent;
	vertical-align: middle;
}

#catalogElement .stats .question:hover {
	background: url("images/questions.png") -19px 0 transparent;
}

#catalogElement .stats .question:active {
	background: url("images/questions.png") -38px 0 transparent;
}

#catalogElement .stats tr {
	border: 1px solid #e4e4e4;
}

#catalogElement .stats .gray td {
	background-color: #F6F6F6;
}

#catalogElement .stats tr:hover td {
	background: #eee;
}

#catalogElement .stats .cap, #catalogElement .stats .cap:hover td {
	background-color: #fff !important;
	border: 0 !important;
}

#catalogElement .stats .cap td {
	font-size: 18px;
	color: #4192d9;
	padding: 12px;
}

#catalogElement .stats td {
	padding: 6px 0px;
}

#catalogElement .stats .name {
	width: 40%;
}

#catalogElement .stats .name span {
	padding: 0px 12px;
}

#catalogElement .stats .analog {
	font-size: 14px;
	text-decoration: none;
	color: #9d9d9d;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 1px;
}

#catalogElement .stats .analog:hover {
	color: #4192d9;
	border-bottom-color: #4192d9;
}

#catalogElement .stats .analog:active {
	position: relative;
	top: 1px;
}

#catalogElement .stats .right {
	text-align: right;
	padding-right: 10%;
}

#catalogElement #similarCarousel,
#catalogElement #relatedCarousel {
	display: block;
	overflow: hidden;
	position: relative;
	border: 1px solid #f1f1f1;
}

#catalogElement #similarCarousel ul,
#catalogElement #relatedCarousel ul {
	left: 0px;
}

#catalogElement #similarCarousel .similarLeft,
#catalogElement #relatedCarousel .relatedLeft,
#catalogElement #similarCarousel .similarRight,
#catalogElement #relatedCarousel .relatedRight {
	display: block;
	position: absolute;
	width: 30px;
	height: 75px;
	top: 50%;
	margin-top: -48px;
}

#catalogElement #similarCarousel .similarLeft,
#catalogElement #relatedCarousel .relatedLeft {
	background: url(images/buttonCarouselProduct.png) 0 0 no-repeat;
	left: 0px;
}

#catalogElement #similarCarousel .similarLeft:hover,
#catalogElement #relatedCarousel .relatedLeft:hover {
	background: url(images/buttonCarouselProduct.png) -30px 0 no-repeat;
}

#catalogElement #similarCarousel .similarLeft:active,
#catalogElement #relatedCarousel .relatedLeft:active {
	background: url(images/buttonCarouselProduct.png) -60px 0 no-repeat;
}

#catalogElement #similarCarousel .similarRight,
#catalogElement #relatedCarousel .relatedRight {
	background: url(images/buttonCarouselProduct.png) 0 -75px no-repeat;
	right: 0px;
}

#catalogElement #similarCarousel .similarRight:hover,
#catalogElement #relatedCarousel .relatedRight:hover {
	background: url(images/buttonCarouselProduct.png) -30px -75px no-repeat;
}

#catalogElement #similarCarousel .similarRight:active,
#catalogElement #relatedCarousel .relatedRight:active {
	background: url(images/buttonCarouselProduct.png) -60px -75px no-repeat;
}

#catalogElement #similarCarousel ul,
#catalogElement #relatedCarousel ul {
	width: 99999px;
	position: relative;
}

#catalogElement #similarCarousel li,
#catalogElement #relatedCarousel li {
	float: left;
	margin: 24px 0px;
	text-align: center;
	font: normal normal 14px "bender" , arial , sans-serif;
	display: block;
}

#catalogElement #similarCarousel .wrap,
#catalogElement #relatedCarousel .wrap {
	border: 0;
	text-align: center;
}

#catalogElement #similarCarousel .price,
#catalogElement #relatedCarousel .price {
	float: none !important;
	display: inline-block !important;
	margin-top: 12px !important;
}

#catalogElement #similarCarousel .addCart,
#catalogElement #relatedCarousel .addCart {
	float: none !important;
	display: inline-block !important;
}

#catalogElement .newReview {
	float: right;
	margin-right: 12px;
	color: #4192d9;
}

#catalogElement .newReview:hover {
	color: #0074d9;
}

#catalogElement #reviews > li {
	margin-bottom: 24px;
	border: 1px solid #f1f1f1;
	padding: 24px;
	overflow: hidden;
	position: relative;
}

#catalogElement #reviews li li {
	padding: 3px 0;
}

#catalogElement #reviews li li .name {
	display: inline-block;
	margin-bottom: 6px;
	color: #4192d9;
	font-size: 16px;
}

#catalogElement #reviews .controls {
	background: #f4f4f4;
	position: absolute;
	bottom: 12px;
	right: 12px;
	height: 35px;
	line-height: 35px;
	width: 260px;
	text-align: center;
}

#catalogElement #reviews .controls a {
	text-decoration: none;
}

#catalogElement #reviews .controls a:active {
	position: relative;
	top: 1px;
}

#catalogElement #reviews .controls .good {
	color: #4192d9;
	margin-right: 4px;
}

#catalogElement #reviews .controls .good:hover {
	color: #0074d9;
}

#catalogElement #reviews .controls .bad {
	color: #ff0000;
}

#catalogElement #reviews .controls .bad:hover {
	color: #9d9d9d;
}

#catalogElement #reviews p {
	color: #666;
	line-height: 21px;
	margin: 0;
}

#catalogElement #reviews .comment {
	clear: both;
}

#catalogElement #reviews .label {
	line-height: 21px;
	margin-right: 6px;
}

#catalogElement #reviews .rating {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 79px;
}

#catalogElement #reviews .rating i {
	background: url(images/rating.png) repeat 0 0px transparent;
	height: 15px;
	width: 79px;
	position: absolute;
	display: block;
	left: 0px;
	top: -9px;
}

#catalogElement #reviews .rating i.m {
	background: url(images/rating.png) repeat 0 -14px transparent;
	width: 0px;
	z-index: 10;
}

#catalogElement #reviews small {
	margin-left: 12px;
	color: #7f7f7f;
	float: right;
	display: inline-block;
	background: #f4f4f4;
	padding: 6px;
}

#catalogElement #reviews .hide {
	display: none;
}

#showallReviews {
	display: block;
	width: 170px;
	background: #f3f3f3;
	color: #000;
	text-decoration: none;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-top: -12px;
}

#catalogElement #newReview {
	margin: 12px 0px;
}

#catalogElement #newReview .heading {
	background: transparent;
	padding: 0px 12px 12px;
	margin: 0;
	color: #4192D9;
	font-size: 18px;
}

#catalogElement #newReview ins {
	margin: 12px 0 42px 0;
	display: block;
	font-size: 16px;
}

#catalogElement #newReview #newRating {
	position: relative;
}

#catalogElement #newReview .rating {
	left: 125px;
	position: absolute;
	top: -3px;
	width: 150px;
	z-index: 10;
	cursor: pointer;
}

#catalogElement #newReview .rating i {
	background: url(images/newRating.png) repeat 0 0px transparent;
	height: 22px;
	width: 150px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

#catalogElement #newReview .rating i.m {
	background: url(images/newRating.png) repeat 0 -22px transparent;
	width: 0px;
	z-index: 10;
}

#catalogElement #newReview .usedSelect {
	overflow: hidden;
	clear: both;
}

#catalogElement #newReview .usedSelect li {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}

#catalogElement #newReview .usedSelect li a {
	border: 1px solid #E4E4E4;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #000;
	padding: 0px 12px;
	text-decoration: none;
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */;
}

#catalogElement #newReview .usedSelect li a:hover {
	color: #696969;
}

#catalogElement #newReview .usedSelect li a:active {
	position: relative;
	top: 1px;
}

#catalogElement #newReview .usedSelect li a.selected {
	background: #0074d9;
	color: #fff;
}

#catalogElement #newReview table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px solid #F1F1F1;
	padding: 12px;
}

#catalogElement #newReview table td {
	vertical-align: top;
	width: 50%;
	padding: 12px;
}

#catalogElement #newReview label {
	display: block;
	margin: 12px 0;
}

#catalogElement #newReview textarea {
	border: 1px solid #E4E4E4;
	resize: none;
	height: 90px;
	width: 88%;
	padding: 1%;
	background: #fff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */;
}

#catalogElement #newReview textarea:focus {
	border: 1px solid #CCC;
}

#catalogElement #newReview input {
	border: 1px solid #E4E4E4;
	background: #fff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */
	height: 35px;
	width: 63%;
	padding-left: 1%;
	display: inline-block;
	margin-bottom: 12px;
	vertical-align: top;
}

#catalogElement #newReview input:focus {
	border: 1px solid #CCC;
}

#catalogElement #newReview .submit {
	display: inline-block;
	background: #0074d9;
	color: #fff;
	text-decoration: none;
	text-align: center;
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	margin-left: 3%;
	width: 23%;
}

#catalogElement #newReview .submit:hover {
	background: #016fc3;
}

#catalogElement #newReview .submit:active {
	position: relative;
	top: 1px;
}

#catalogElement #newReview .reviewError {
	border: 1px solid #F1F1F1;
	overflow: hidden;
	padding: 24px;
	margin-top: 24px;
}

#catalogElement #newReview .reviewError .cap {
	color: #4192d9;
	font-size: 16px;
}

#catalogElement #newReview .reviewError img {
	vertical-align: middle;
	float: left;
	margin-right: 24px;
}

#zoomPhoto {
	background-color: #fff;
	box-shadow: 1px 1px 12px #000;
	border-radius: 4px;
	height: 600px;
	width: 1001px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -500px;
	z-index: 500;
	display: none;
}

#zoomPrev,
#zoomNext {
	display: block;
	position: absolute;
	width: 30px;
	height: 75px;
	top: 50%;
	margin-top: -48px;
}

#zoomPrev {
	background: url(images/buttonCarouselProduct.png) 0 0 no-repeat;
	left: 10px;
}

#zoomPrev:hover {
	background: url(images/buttonCarouselProduct.png) -30px 0 no-repeat;
}

#zoomPrev:active {
	background: url(images/buttonCarouselProduct.png) -60px 0 no-repeat;
}

#zoomNext {
	background: url(images/buttonCarouselProduct.png) 0 -75px no-repeat;
	right: 10px;
}

#zoomNext:hover {
	background: url(images/buttonCarouselProduct.png) -30px -75px no-repeat;
}

#zoomNext:active {
	background: url(images/buttonCarouselProduct.png) -60px -75px no-repeat;
}

#zoomPhotoLeft {
	float: left;
	width: 750px;
	position: relative;
	overflow: hidden;
}

#zoomPhotoLeft ul {
	position: relative;
	left: 0;
	cursor: move;
}

#zoomPhotoLeft li {
	height: 540px;
	line-height: 540px;
	text-align: center;
	list-style: none;
	float: left;
}

#zoomPhotoLeft li img {
	max-width: 95%;
	max-height: 95%;
	vertical-align: middle;
}

#zoomMorePhoto {
	position: absolute;
	height: 35px;
	line-height: 3px;
	bottom: 0px;
	margin-bottom: 0px;
	padding: 12px 0px;
	right: 240px;
	width: 761px;
	background-color: #1e1e1e;
}

#zoomMorePhoto div {
	margin: 4px auto;
	width: 376px;
	position: relative;
}

#zoomMorePhoto a.next,
#zoomMorePhoto a.prev {
	display: block;
	height: 22px;
	width: 9px;
	top: 50%;
	position: absolute;
	margin-top: 7px;
}

#zoomMorePhoto a.next {
	background: url(images/arrowsModal.png) no-repeat  0px -22px  transparent;
	right: -24px;
}

#zoomMorePhoto a.next:hover {
	background: url(images/arrowsModal.png) no-repeat  -9px -22px  transparent;
}

#zoomMorePhoto a.next:active {
	background: url(images/arrowsModal.png) no-repeat  -18px -22px  transparent;
}

#zoomMorePhoto a.prev {
	background: url(images/arrowsModal.png) no-repeat  0px 0px  transparent;
	left: -24px;
}

#zoomMorePhoto a.prev:hover {
	background: url(images/arrowsModal.png) no-repeat  -9px 0px  transparent;
}

#zoomMorePhoto a.prev:active {
	background: url(images/arrowsModal.png) no-repeat  -18px 0px  transparent;
}

#zoomMorePhoto li:first-child {
	margin-left: 0px;
}

#zoomMorePhoto li {
	float: left;
	height: 35px;
	line-height: 35px;
	width: 40px;
	text-align: center;
	margin-left: 8px;
	opacity: 0.3;
	list-style: none;
	background-color: #fff;
}

#zoomMorePhoto li.active {
	opacity: 1;
}

#zoomMorePhoto li a {
	display: block;
	height: 35px;
	line-height: 35px;
}

#zoomMorePhoto li img {
	max-height: 90%;
	max-width: 90%;
	vertical-align: middle;
}

#zoomPhotoRight {
	width: 250px;
	float: right;
	position: relative;
	background-color: #1E1E1E;
}

#zoomPhotoRight span.heading {
	font: normal normal 18px "bender" , arial , sans-serif;
	color: #4192d9;
	padding: 18px;
	display: block;
	background-color: #000;
	right: 10px;
	width: 225px;
	position: relative;
	margin: 0px !important;
}

#zoomPhotoRight span.heading span {
	display: block;
	width: 215px;
}

#zoomPhotoExit {
	background: url(images/exit.png) no-repeat  0px 0px  transparent;
	width: 17px;
	height: 19px;
	display: block;
	position: absolute;
	top: 18px;
	right: 10px;
	z-index: 10;
}

#zoomPhotoExit:hover {
	background: url(images/exit.png) no-repeat  0px -20px  transparent;
}

#zoomPhotoExit:active {
	background: url(images/exit.png) no-repeat  0px -41px  transparent;
}

#zoomDecorLine {
	background: url(images/decorModal.png) no-repeat  0px 0px  transparent;
	display: block;
	height: 12px;
	width: 260px;
	right: 10px;
	position: relative;
}

#zoomPhotoTools {
	background-color: #1e1e1e;
	width: 240px;
	margin-top: -12px;
	margin-left: 10px;
	margin-bottom: 12px;
}

#zoomPhotoToolsKit {
	border: 1px solid #000;
	background-color: #262626;
	width: 176px;
	margin: 12px auto;
	position: relative;
	padding: 0 12px;
}

#zoomPromo {
	background: url(images/marker.png) no-repeat transparent;
	position: absolute;
	top: 4px;
	left: -4px;
	color: #fff;
	font: normal normal 12px "bender" , arial , sans-serif;
	line-height: 20px;
	width: auto;
	padding: 0px 8px;
	height: 23px;
}

#zoomPhotoToolsKit > ul {
	margin: 32px 12px;
}

#zoomPhotoToolsKit > ul > li {
	text-align: right;
	margin-bottom: 12px;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
}

#zoomPhotoToolsKit > ul > li:first-child s {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #696969;
	display: block;
}

#zoomPhotoToolsKit > ul > li:first-child {
	font: normal normal 18px "bender" , arial , sans-serif;
	color: #4192d9;
}

#zoomPhotoToolsKit > ul > li img {
	vertical-align: middle;
	padding-right: 2px;
}

#zoomPhotoToolsKit ul li span.line {
	line-height: 20px;
}

#zoomPhotoToolsKit ul li a#qtyLink {
	color: #fff;
}

#zoomPhotoToolsKit ul li a#qtyLink:hover {
	color: #4192d9;
}

#zoomPhotoToolsKit ul li a.addCart,
#zoomPhotoToolsKit ul li a.fastBay,
#zoomPhotoToolsKit ul li a.addCompare {
	font: normal normal 12px "bender" , arial , sans-serif;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

#zoomPhotoToolsKit ul li a.addCart,
#zoomPhotoToolsKit ul li a.fastBay {
	height: 24px;
	text-align: center;
	line-height: 24px;
}

#zoomPhotoToolsKit ul li a.addCart:active,
#zoomPhotoToolsKit ul li a.fastBay:active,
#zoomPhotoToolsKit ul li a.addCompare:active,
#zoomPhotoToolsKit ul li a#qtyLink:active {
	position: relative;
	top: 1px;
}

#zoomPhotoToolsKit ul li a.addCart {
	background: url(images/incart.png) repeat #4192d9;
	width: 130px;
}

#zoomPhotoToolsKit ul li a.addCart:hover {
	background: url(images/incartHover.png) repeat #4192d9;
}

#zoomPhotoToolsKit ul li a.fastBay {
	background: url(images/colorRed.png) 0 0 repeat #c70d01;
	width: 120px;
}

#zoomPhotoToolsKit ul li a.fastBay:hover {
	background: url(images/colorRedHover.png) 0 0 repeat #b41506;
}

#zoomPhotoToolsKit ul li a.addCompare:hover {
	color: #4192d9;
}

#quantityBlock {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#quantityBlock input.qty {
	width: 30px;
	text-align: center;
	float: left;
	border: 0px;
	font: normal normal 12px "bender" , arial , sans-serif;
	height: 20px;
}

#quantityBlock .minus,
#quantityBlock .plus {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer;
}

#quantityBlock .minus {
	background: url(images/plusMinus.png) 0 0 no-repeat;
}

#quantityBlock .minus:hover {
	background: url(images/plusMinus.png) -20px 0 no-repeat;
	border: 0px;
}

#quantityBlock .minus:active {
	background: url(images/plusMinus.png) -40px 0 no-repeat;
	top: 0px;
}

#quantityBlock .plus {
	background: url(images/plusMinus.png) 0 -20px no-repeat;
}

#quantityBlock .plus:hover {
	background: url(images/plusMinus.png) -20px -20px no-repeat;
	border: 0px;
}

#quantityBlock .plus:active {
	background: url(images/plusMinus.png) -40px -20px no-repeat;
	top: 0px;
}

#quantityModal {
	position: absolute;
	top: 0px;
	left: -180px;
	width: 250px;
	background-color: #1e1e1e;
	text-align: left;
	z-index: 999;
	box-shadow: 1px 1px 12px #000;
	border: 1px solid #000;
	display: none;
}

#quantityModal table {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}

#quantityModal td {
	font: normal normal 12px "bender" , arial , sans-serif;
	border-top: 1px solid #2d2d2d;
	color: #c6c6c6;
	position: relative;
	border-collapse: collapse;
	padding: 8px 12px 8px 12px;
}

#quantityModal td:first-child {
	padding-right: 0px;
}

#quantityModal tr:first-child td {
	border: 0;
}

#quantityModal img {
	vertical-align: middle;
}

#quantityModal ins {
	display: inline-block;
	width: 14px;
	height: 14px;
}

#quantityModal ins.available {
	background: url(images/quantity.png) 0 0 no-repeat transparent;
}

#quantityModal ins.noAvailable {
	background: url(images/quantity.png) -14px 0px no-repeat transparent;
}

#zoomPhotoMoreInfo {
	text-align: right;
	width: 200px;
	margin-left: 20px;
	font: normal normal 12px "bender" , arial , sans-serif;
	color: #fff;
}

#zoomPhotoMoreInfo .reviewCnt {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	padding-top: 2px;
	font-size: 13px;
}

#zoomPhotoMoreInfo li:first-child sub {
	display: block;
	text-align: left;
	font: normal normal 14px "bender" , arial , sans-serif;
	margin-bottom: 8px;
}

#zoomPhotoMoreInfo li:first-child img {
	float: left;
	vertical-align: middle;
}

#zoomPhotoMoreInfo li:first-child a {
	font: normal normal 12px "bender" , arial , sans-serif;
	text-decoration: none;
	color: #4192d9;
	display: block;
	padding-top: 3px;
	text-align: center;
	margin-left: 70px;
}

#zoomPhotoMoreInfo li:first-child a:hover {
	color: #0074d9;
}

#zoomPhotoMoreInfo  .rating {
	position: relative;
	display: block;
	float: left;
	z-index: 10;
	width: 79px;
	margin-top: 2px;
}

#zoomPhotoMoreInfo  .rating i {
	background: url('images/rating.png') repeat 0 0px transparent;
	height: 15px;
	width: 79px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

#zoomPhotoMoreInfo  .rating i.m {
	background: url('images/rating.png') repeat 0 -14px transparent;
	width: 0px;
	z-index: 10;
}

#zoomPhotoMoreInfo li {
	padding: 12px;
	border-bottom: 1px solid #292929;
	text-align: left;
	list-style: none;
}
