#showCarousel {
	margin-top: 24px;
	border: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
}

#showCarousel span.heading {
	text-align: left;
	padding-left: 24px;
	background: #F2F2F2;
	color: #000;
	display: block;
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	margin-bottom: 12px;
}

#showCarousel ul {
	position: relative;
	width: 99999px;
	left: 0px;
}

#showCarousel .wrap {
	border: 0;
	text-align: center;
}

#showCarousel .price {
	margin-top: 12px !important;
	display: inline-block !important;
	float: none !important;
	color: #000 !important;
	font-size: 17px !important;
}

#showCarousel .addCart {
	float: none !important;
	display: inline-block !important;
}

#showCarousel .showLeft,
#showCarousel .showRight {
	display: block;
	position: absolute;
	width: 30px;
	height: 75px;
	top: 50%;
	margin-top: -48px;
}

#showCarousel .showLeft {
	background: url('images/buttonCarouselProduct.png') 0 0 no-repeat;
	left: 0px;
}

#showCarousel .showLeft:hover {
	background: url('images/buttonCarouselProduct.png') -30px 0 no-repeat;
}

#showCarousel .showLeft:active {
	background: url('images/buttonCarouselProduct.png') -60px 0 no-repeat;
}

#showCarousel .showRight {
	background: url('images/buttonCarouselProduct.png') 0 -75px no-repeat;
	right: 0px;
}

#showCarousel .showRight:hover {
	background: url('images/buttonCarouselProduct.png') -30px -75px no-repeat;
}

#showCarousel .showRight:active {
	background: url('images/buttonCarouselProduct.png') -60px -75px no-repeat;
}
