.catalogSection {
	margin: 12px 0px;
	padding: 12px 0px;
	border-top: 1px solid #C9C9C9;
}

div.catalogSection:first-child {
	border: 0px;
}

div.catalogSection > table {
	table-layout: fixed;
}

div.catalogSection > table > tbody > tr > td:first-child {
	width: 25%;
}

div.catalogSection > table > tbody > tr > td {
	width: 60%;
	padding: 1%;
	vertical-align: top;
}

div.catalogSection > table > tbody > tr > td > a:active {
	position: relative;
	top: 1px;
}

div.catalogSection > table > tbody > tr > td > a {
	font: normal normal 18px "bender" , arial , sans-serif;
	text-decoration: none;
	color: #4192d9;
	text-align: center;
	display: block;
}

div.catalogSection > table > tbody > tr > td > a > span {
	display: block;
	margin-top: 24px;
}

div.catalogSection > table > tbody > tr > td > a > span:hover {
	color: #0074d9;
}

div.catalogSection > table > tbody > tr > td img {
	height: auto;
	max-width: 90%;
	vertical-align: top;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td {
	vertical-align: top;
	width: 33.3%;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > a {
	padding-right: 12px;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > a.hd {
	display: block;
	font: normal normal 15px "bender" , arial , sans-serif;
	color: #4192d9;
	text-decoration: none;
	margin-bottom: 6px;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > a.hd:hover {
	color: #0074d9;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > ul {
	margin-bottom: 6px;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > ul > li {
	margin-bottom: 4px;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > ul > li > a {
	font: normal normal 13px "bender" , arial , sans-serif;
	color: #000;
	text-decoration: none;
}

div.catalogSection > table > tbody > tr > td > table > tbody > tr > td > ul > li > a:hover {
	color: #333;
}

div.catalogSectionL2  ul {
	margin-top: 12px;
}

div.catalogSectionL2  ul li {
	float: left;
	display: block;
	text-align: center;
	width: 25%;
	margin-bottom: 50px;
}

div.catalogSectionL2  ul li:nth-child(4n+1) {
	clear: both;
}

div.catalogSectionL2  ul li a {
	display: block;
	text-align: center;
	color: #4192d9;
	text-decoration: none;
	font: normal normal 16px "bender" , arial , sans-serif;
	padding: 0px 12px;
}

div.catalogSectionL2  ul li .sectionPic {
	height: 150px;
	line-height: 150px;
	padding-bottom: 12px;
}

div.catalogSectionL2  ul li .sectionPic:active {
	position: relative;
	top: 1px;
}

div.catalogSectionL2  ul li a.img {
	line-height: 160px;
	height: 160px;
	display: block;
	text-align: center;
}

div.catalogSectionL2  ul li a.img:active {
	position: relative;
	top: 1px;
}

div.catalogSectionL2  ul li a:hover {
	color: #0074d9;
}

div.catalogSectionL2  ul  li a img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}