@font-face {
    font-family: 'Bender';
    src: url('bender.eot');
    src: url('bender.eot?#iefix') format('embedded-opentype'),
         url('bender.woff') format('woff'),
         url('bender.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}