#footerCart table td {
	padding-left: 12px;
	line-height: 36px;
}

#footerCart ins {
	text-decoration: none;
	padding-bottom: 2px;
	margin-right: 8px;
	vertical-align: top;
}

#footerCart span {
	height: 18px;
	line-height: 18px;
	background: url("images/colorMenu.png") #2D2D2D;
	border: 1px solid #888;
	min-width: 18px;
	display: inline-block;
	text-align: center;
	padding: 0px 4px;
	border-radius: 4px;
	vertical-align: middle;
}

#footerCart span:hover {
	color: #c8e5ff;
}

#footerCart a {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

#footerCart a:active {
	position: relative;
	top: 1px;
}

#footerCart .oCallback {
	color: #888;
	padding-right: 4px;
	font-size: 14px;
	display: inline-block;
}

#footerCart .oCallback:hover {
	color: #4192d9;
}

#footerCart .footerCart + span, #footerCart .footerCompare + span {
	margin-left: 8px;
}

#footerCart .footerCart, #footerCart .footerCompare {
	color: #888;
}

#footerCart .footerCart:hover {
	color: #4192d9;
}

#footerCart .footerCompare:hover {
	color: #f98c02;
}

#footerCart .footerCart + span {
	border: 1px solid #0074d9;
	color: #0074d9;
	max-width: 27px;
	overflow: hidden;
}

#footerCart .footerCompare + span {
	border: 1px solid #f98c02;
	color: #f98c02;
}

#footerCart .empty + span {
	border: 1px solid #888;
	color: #888;
}