.bx-map-adm-center{text-align:center;}
.bx-map-cluster-example{margin:0 auto;padding:0;font-size:82%;text-align:center;}
/*
.bx-map-cluster-example div {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
}*/.line_example{width:100px;margin:20px auto;}
.line_example_holder{width:120px;height:120px;display:table-cell;vertical-align:middle;}
.bx-map-crop-image{max-width:360px;overflow:hidden;position:relative;}
.bx-map-crop-image:after{content:'';position:absolute;right:0;top:0;width:60px;height:100%;background:-moz-linear-gradient(left,rgba(245,249,249,0.2),#f5f9f9);background:-webkit-linear-gradient(left,rgba(245,249,249,0.2),#f5f9f9);background:-o-linear-gradient(left,rgba(245,249,249,0.2),#f5f9f9);background:-ms-linear-gradient(left,rgba(245,249,249,0.2),#f5f9f9);background:linear-gradient(left,rgba(245,249,249,0.2),#f5f9f9);}
.bx-map-icon-example{margin:0 20px 0 0;float:left;}
.bx-map-table-divider td{border-top:1px solid #e0e8ea;padding-top:12px;}
.bx-map-tiny-input{width:40px;}
.bx-map-list-table{border-collapse:collapse;}
.bx-map-list-table td{padding:6px 10px;margin:0;}
.bx-map-list-table thead td,.bx-map-list-table tbody td{border-top:1px solid #dce7ed;border-bottom:1px solid #dce7ed;}
.bx-map-list-table thead td{background:#dce7ed;font-weight:700;text-shadow:0 1px #fff;color:#5c676d;}
.bx-map-cond{padding:5px 8px 5px 12px;box-shadow:inset 0 1px 0 #eceded;-webkit-box-shadow:inset 0 1px 0 #eceded;border:1px solid #d8d8d8;border-radius:4px;background-color:#f7f9fa;background-image:-webkit-linear-gradient(top,#fafbfc,#f8f9fa);background-image:-moz-linear-gradient(top,#fafbfc,#f8f9fa);background-image:-o-linear-gradient(top,#fafbfc,#f8f9fa);background-image:linear-gradient(top,#fafbfc,#f8f9fa);margin-bottom:10px;position:relative;font-weight:700;}
.bx-map-cond-num{color:#aaa;margin-right:12px;font-weight:400;}
.bx-map-cond-label,.bx-map-cond-action{display:inline-block;margin:5px 8px;}
.bx-map-add-ib,.bx-map-cond-action{color:#113c7d;text-decoration:none;cursor:pointer;border-bottom:1px dashed #113c7d;}
.bx-map-add-ib:hover,.bx-map-cond-action:hover{color:#113c7d;text-decoration:none;cursor:pointer;border-bottom:1px solid transparent;}
.bx-map-cond-select{display:none;background:#fff;border-radius:4px;border:1px solid #a3a5a5;color:#000;-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3),inset 0 2px 2px -1px rgba(180,188,191,0.7);box-shadow:0 1px 0 0 rgba(255,255,255,0.3),inset 0 2px 2px -1px rgba(180,188,191,0.7);font-size:13px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;height:27px;margin:0;vertical-align:middle;padding:4px;-webkit-font-smoothing:antialiased;}
.bx-map-cond-del{float:right;width:7px;height:7px;cursor:pointer;display:none;margin:2px 0 0;padding:0;font-size:16px;line-height:0.1em!important;color:#888;}
.bx-map-cond-filled,.bx-map-cond-filled:hover{display:inline-block;color:#000;padding:4px 8px;margin:0;box-shadow:inset 0 1px 0 #dae8ed;-webkit-box-shadow:inset 0 1px 0 #dae8ed;border:1px solid #96b3bc;border-radius:2px;background-color:#b5d9e5;background-image:-webkit-linear-gradient(top,#c2dde6,#aad5e3);background-image:-moz-linear-gradient(top,#c2dde6,#aad5e3);background-image:-o-linear-gradient(top,#c2dde6,#aad5e3);background-image:linear-gradient(top,#c2dde6,#aad5e3);}
.bx-map-cond-properties .bx-map-cond-filled,.bx-map-cond-properties .bx-map-cond-filled:hover{box-shadow:inset 0 1px 0 #f3f6e4;-webkit-box-shadow:inset 0 1px 0 #f3f6e4;border:1px solid #b4bd98;background-color:#dfe8bc;background-image:-webkit-linear-gradient(top,#e6ecc9,#d6e1a9);background-image:-moz-linear-gradient(top,#e6ecc9,#d6e1a9);background-image:-o-linear-gradient(top,#e6ecc9,#d6e1a9);background-image:linear-gradient(top,#e6ecc9,#d6e1a9);}
.bx-map-cond-properties{display:none;}