.dreview_block .review_h1{
	display: table;
	margin: 0 auto;
	position: relative;
}
.dreview_block .pagination_dreviews{
	display:table;
	margin:0 auto;
}
.dreview_block .pagination_dreviews li{
	list-style:none;
	float:left;
	padding-right:10px;
}
.dreview_block .pagination_dreviews::after{
	clear:both;
}
.dreview_block .review_h1 a{
	right: -275px;
	position: absolute;
	top: 20px;
	width: 250px;
	border: none;
	text-decoration: none;
}
.dreview_block {
	display: table;
	margin: 0 auto;
	position: relative;
	width: 80%;
}
.dreview_block h2{
	font: 13px 'Open Sans', sans-serif;  
	font-weight: bold;  color: #55565a;  
    padding-top: 10px;
}
.dreview_block a span {
	font: 13px 'Open Sans', sans-serif;
	color: #0096dc;
	border-bottom: 1px solid #7fcaed;
}

.dreview_block h1 {
	font: 34px Arial;
	font-weight: 800;
	display: table;
	margin: 55px auto;
	color: #55565a;
	padding-bottom: 35px;
	margin-bottom: 0;
	text-align: center;
	line-height: 45px;
}
.dreview_block .stars span {
	display: inline-block;
	width: 15px;
	height: 12px;
	overflow: hidden;
	background: url('images/stars.png') no-repeat;
}
.dreview_block .stars span.stars_review_none{
	background-position-x: -15px;
}
.review_page_block{
	width:80%;
	display:table;
	margin:0 auto;
	padding-bottom:45px;
}
.dreview_block .stars_review .link_review_starts{
	font:14px 'Open Sans', sans-serif;
	font-weight:bold;
	color:#55565a;
	padding-left:5px;
}
.dreview_block .review_one{
	padding-bottom:40px;	
}
.dreview_block .review_one p{
	padding-top:5px;
	font:14px 'Open Sans', sans-serif;
	color:#55565a;
	line-height:28px;
	padding-bottom:20px;
}
.dreview_block .review_one_right{text-align:right;}
.dreview_block .name_review_one{
	color:#55565a;
	font-style:italic;
	font:14px 'Open Sans', sans-serif;
}
.dreview_block .date_review_one{
	padding-left:5px;
	color:#c1c1c2;
	font-style:italic;
	font:14px 'Open Sans', sans-serif;
}