#brandList {
	overflow: hidden;
	clear: both;
}

#brandList li {
	border: 1px solid #E5E5E5;
	float: left;
	margin-bottom: 24px;
	margin-right: 48px;
	text-align: center;
	width: 239px;
}

#brandList li:hover {
	border-color: #c0c0c0;
	background: #ffffff;
 /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 );
 /* IE6-9 */;
}

#brandList li span {
	font-size: 36px;
	color: #c0c0c0;
	display: block;
	font-weight: 700;
}

#brandList li a {
	display: block;
	text-decoration: none;
	padding: 12px 0px;
}

#brandList li img {
	max-width: 90%;
	vertical-align: middle;
}

#brandDetail {
	margin-bottom: 24px;
	padding: 12px;
	border: 1px solid #E5E5E5;
}

#brandDetail p {
	margin-top: 0;
	line-height: 21px;
	margin-top: 12px;
}

#brandDetail ul {
	overflow: hidden;
	clear: both;
}

#brandDetail h3 {
	color: #4192d9;
	font-weight: normal;
}

#brandDetail li {
	float: left;
}

#brandDetail li a {
	background: #F2F2F2;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin-right: 12px;
	margin-bottom: 12px;
	text-align: center;
	color: #000;
	text-decoration: none;
	padding: 0px 12px;
}

#brandDetail li a:hover {
	background: #e8e8e8;
}

.brandLogo {
	float: left;
	margin-top: 12px;
	padding-right: 12px;
	padding-bottom: 8px;
}

#newsBack {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #0074d9;
	width: 170px;
}

#newsBack:hover {
	background: #016FCE;
}

 #newsBack:active {
	position: relative;
	top: 1px;
}