#topCart{
	margin-top: 18px;
}
#topCart li{
	font: normal normal 13px "bender" , arial , sans-serif;
	border-right:1px solid #3c3c3c;
	padding-right:12px;
	margin-right:12px;
	line-height:24px;
	display:block;
	height:24px;
	float:left;
	color:#fff;
}
#topCart li:first-child{
	border-left:1px solid #3c3c3c;
	padding-left:12px;
}
#topCart li a{
	text-decoration: none;
	color:#fff;
	line-height:24px;
}
#topCart li a:hover{
	color:#4192d9;
}
#topCart li a.order{
	color:#9e9e9e;
}
#topCart li a.order:hover{
	color:#4192d9;
}
#topCart li img{
	vertical-align: middle;
	padding-right:4px;
}
#topCart li span{
	color:#fff;
	background-color:#5a5a5a;
	border-radius:4px;
	display:inline-block;
	text-align:center;
	line-height:20px;
	height:20px;
	padding:0px 6px;
}
#topCart li span.full{
	background-color:#4192d9;
	color:#fff;
}
#topCart a:active{
	position:relative;
	top:1px;
}