#brandCarousel {
	position: relative;
	height: 70px;
	background-color: #f5f5f5;
}

#brandCarousel .wrap {
	overflow: hidden;
}

#brandCarousel ul {
	width: 99999px;
	position: relative;
	left: 0px;
	margin: 0px;
	padding: 0;
}

#brandCarousel ul li {
	float: left;
	display: block;
}

#brandCarousel ul li a {
	display: block;
	text-align: center;
	height: 70px;
	line-height: 70px;
}

#brandCarousel ul li a:active{
	position:relative;
	top:1px;
}

#brandCarousel ul li a img {
	max-width: 80%;
	max-height: 80%;
	vertical-align: middle;
}

#brandCarousel .brandBtnLeft, 
#brandCarousel .brandBtnRight {
	display: block;
	height: 31px;
	width: 18px;
	position: absolute;
	top: 50%;
	margin-top: -15.5px;
}

#brandCarousel .brandBtnLeft {
	background: url(images/brandsButton.png) 0 0 no-repeat transparent;
	left: -8px;
}

#brandCarousel .brandBtnLeft:hover {
	background: url(images/brandsButton.png) -18px 0 no-repeat transparent;
}

#brandCarousel .brandBtnLeft:active {
	background: url(images/brandsButton.png) -36px 0 no-repeat transparent;
}

#brandCarousel .brandBtnRight {
	background: url(images/brandsButton.png) 0 -31px no-repeat transparent;
	right: -8px;
}

#brandCarousel .brandBtnRight:hover {
	background: url(images/brandsButton.png) -18px -31px no-repeat transparent;
}

#brandCarousel .brandBtnRight:active {
	background: url(images/brandsButton.png) -36px -31px no-repeat transparent;
}