#compare {
	clear: both;
	overflow: hidden;
	margin-bottom: 32px;
}

#compare ul {
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 0;
}

#compare > ul > li {
	width: 25%;
	float: left;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #000;
	margin-bottom: 2px;
	width: 240px;
}

#compareCheck input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

#compareTools {
	clear: both;
	margin-top: 24px;
	font: normal normal 14px "bender" , arial , sans-serif;
}

#compareTools a {
	display: inline-block;
	height: 35px;
	font: normal normal 14px "bender" , arial , sans-serif;
	line-height: 35px;
	color: #fff;
	text-decoration: none;
	padding: 0px 12px;
	text-align: center;
	margin-right: 12px;
}

#compareTools a.hide {
	background: url(images/color13.png) 0 0 repeat #f98c02;
}

#compareTools a.hide:hover {
	background: url(images/color14.png) 0 0 repeat #df7d00;
}

#compareTools a.show {
	background: url(images/color.png) 0 0 repeat #4192d9;
}

#compareTools a.show:hover {
	background: url(images/color2.png) 0 0 repeat #0074d9;
}

#compareTools a.hide:active,
#compareTools a.show:active {
	position: relative;
	top: 1px;
}

#compareBlock {
	margin-top: 48px;
}

#compareBlock table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#compareBlock .left {
	width: 200px;
	vertical-align: top;
	font: normal normal 14px "bender" , arial , sans-serif;
}

#compareBlock .left .wrap {
	border: 1px solid #eee;
}

#compareBlock .left .headingTools {
	height: 73px;
}

#compareBlock .left .headingTools div {
	height: 35px;
}

#compareBlock .left span.heading {
	margin-top: 36px;
	display: block;
	margin-left: 12px;
	margin-bottom: 12px;
}

#compareBlock .left .propList {
	border-top: 1px solid #eee;
}

#compareBlock .left .propList li {
	border-bottom: 1px solid #eee;
	padding: 6px 12px;
	font: normal normal 14px "bender" , arial , sans-serif;
	white-space: nowrap;
}

#compareBlock .left .propList li.selected {
	background-color: #f6f6f6;
}

#compareBlock .left .propList li:last-child {
	border-bottom: 0px;
}

#compareBlock .leftTools {
	clear: both;
	margin-top: 24px;
}

#compareBlock .leftTools a {
	height: 35px;
	display: block;
	width: 174px;
	line-height: 35px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin-left: 12px;
	margin-bottom: 12px;
}

.compareImage {
	padding-top: 24px;
	display: block;
	width: 100%;
}

#compareBlock .leftTools a.all {
	background: url(images/color.png) 0 0 repeat #4192d9;
}

#compareBlock .leftTools a.all:hover {
	background: url(images/color2.png) 0 0 repeat #0074d9;
}

#compareBlock .leftTools a.different {
	background: url(images/color13.png) 0 0 repeat #f98c02;
}

#compareBlock .leftTools a.different:hover {
	background: url(images/color14.png) 0 0 repeat #df7d00;
}

#compareBlock .leftTools a.all:active,
#compareBlock .leftTools a.different:active {
	position: relative;
	top: 1px;
}

#compareBlockSubject {
	width: 10px;
	height: 10px;
	opacity: 0;
}

#itworkSelect_compare {
	font: normal normal 14px "bender" , arial , sans-serif;
	border: 1px solid #dbdbdb;
	width: 174px;
	margin: 0px 12px 12px;
	height: 35px;
	line-height: 21px;
	color: #fff;
	position: absolute;
	text-align: center;
	top: 0px;
	z-index: 100;
}

#itworkSelect_compare ins {
	display: block;
	background: url(images/gradient.png) repeat  0px 0px  transparent;
	line-height: 35px;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	text-align: left;
	padding-left: 8px;
}

#itworkSelect_compare ins span {
	width: 140px;
	overflow: hidden;
}

#itworkSelect_compare ins + img {
	position: absolute;
	display: block;
	top: 50%;
	right: 12px;
	margin-top: -1px;
}

#itworkSelect_compare ul {
	position: absolute;
	top: 40px;
	z-index: 1000;
	background-color: #000;
	width: 176px;
	left: -1px;
	display: none;
}

#itworkSelect_compare ul li {
	display: block;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 8px;
	cursor: pointer;
	text-align: left;
}

#itworkSelect_compare ul li:hover {
	background-color: #111;
}

#compareBlock .right {
	width: 100%;
	padding-left: 8px;
	font: normal normal 14px "bender" , arial , sans-serif;
	vertical-align: top;
}

#topScroll {
	margin-bottom: 10px;
}

#scrollTable, #topScroll {
	overflow-x: auto;
	width: 100%;
}

#fakeScroll {
	height: 1px;
	width: 1000px;
}

#scrollTable > ul {
	width: 900px;
}

#scrollTable > ul > li:first-child {
	margin-left: 0px;
}

#scrollTable > ul > li {
	width: 200px;
	display: block;
	float: left;
	border: 1px solid #eee;
	margin-left: 8px;
	margin-bottom: 12px;
}

#scrollTable .imgBlock {
	height: 190px;
	line-height: 190px;
	text-align: center;
}

#scrollTable li img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}

#scrollTable .scrollElement {
	height: 330px;
	position: relative;
}

#scrollTable .scrollElement ins {
	height: 15px;
	width: 15px;
	display: block;
	top: 8px;
	z-index: 33;
	right: 8px;
	position: absolute;
	background: url(images/cross.png) 0 0 no-repeat;
	cursor: pointer;
}

#scrollTable .scrollElement .delete {
	background: url(images/loaderRed.gif) 0 0 no-repeat !important;
}

#scrollTable .scrollElement ins:hover {
	background: url(images/cross.png) -15px 0px no-repeat;
}

#scrollTable .scrollElement ins:active {
	background: url(images/cross.png) -15px 0px no-repeat;
	top: 9px;
}

#scrollTable .propList li:first-child {
	border-top: 1px solid #eee;
}

#scrollTable .propList li {
	border-top: 1px solid #eee;
	font: normal normal 14px "bender" , arial , sans-serif;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	padding-left: 12px;
}

#scrollTable .propList li.selected {
	background-color: #f6f6f6;
}

#scrollTable a.name {
	text-decoration: underline;
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #000;
	display: block;
	text-align: center;
	padding: 0 12px;
	margin-top: 12px;
	height: 34px;
	overflow: hidden;
	text-decoration: underline;
}

#scrollTable a.name:hover {
	color: #0074d9;
}

#scrollTable span.price {
	display: block;
	color: #000;
	font: normal normal 18px "bender" , arial , sans-serif;
	text-align: center;
	margin-top: 8px;
}

#scrollTable a.addCart {
	display: block;
	margin: 12px auto;
	color: #fff;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 12px;
	text-decoration: none;
	width: 70px;
	background: url(images/incart.png) repeat #4192d9;
}

#scrollTable a.addCart:hover {
	background: url(images/incartHover.png) repeat #4192d9;
}

#scrollTable a.addCart:active {
	position: relative;
	top: 1px;
}