.csv-form {
	margin: 0 auto;
	width: 500px;
}

.csv-form input[type="button"] {
	border: none;
	cursor: pointer;
	padding: 10px 30px;
	font-size: 1.5em;
	margin: 0 10px;
}

.button-red {
	background-color: #ff3030;
}

.button-orange {
	background-color: #fec424;
}

.button-yellow {
	background-color: #fffc30;
}

.button-green {
	background-color: #12a807;
}

.button-blue {
	background-color: #005f90;
}

.csv-form input[type="file"] {
	display: none;
}

.brand-conteiner {
	margin: 35px auto;
	width: 350px;
}

.brand-conteiner p {
	display: inline;
}

.error-box, .success-box {
	margin: 20px auto;
	width: 400px;
}

.success-box > p {
	padding: 0!important;
}

.error-box > p {
	padding: 0!important;
	display: table;
	margin: 0 auto;
}

.error-box .error-container p {
	padding: 0;
	color: red;
}

.loading-conteiner {
	margin: 5px auto;
	height: 30px;
	width: 99%;
	border: 1px solid black;
}

.loading-content {
	background-color: red;
	height: 100%;
	width: 0%;
}

