#newOffers {
	margin-top: 24px;
}

#newOffers ul {
	margin-top: 24px;
}

#newCarousel{
	overflow:hidden;
	position:relative;
}

#newCarousel  .newBtnLeft,
#newCarousel  .newBtnRight{
	display:block;
	position:absolute;
	width:30px;
	height:54px;
	top:50%;
	margin-top:-27px;
}

#newCarousel .newBtnLeft{
	background: url("images/buttonOffers.png") 0 0 no-repeat transparent;
	left:0px;
}

#newCarousel .newBtnLeft:hover{
	background: url("images/buttonOffers.png") -30px 0 no-repeat transparent;	
}

#newCarousel .newBtnLeft:active{
	background: url("images/buttonOffers.png") -60px 0 no-repeat transparent;		
}

#newCarousel .newBtnRight{
	background: url("images/buttonOffers.png") 0 -54px no-repeat transparent;
    right:0px;
}

#newCarousel  .newBtnRight:hover{
	background: url("images/buttonOffers.png") -30px -54px no-repeat transparent;
}

#newCarousel .newBtnRight:active{
	background: url("images/buttonOffers.png") -60px -54px no-repeat transparent;		
}

#newCarousel .productList{
 	position:relative;
	overflow: hidden;
	width:99999px;
	clear: both;
	left:0px;
}