﻿@charset utf-8;
/*Секции и названия*/
.bxmap-section{outline:1px solid #ceccc7;background:#fff;}
.bxmap-section-head{background:#f4f3ee;}
.bxmap-hide:before{clip:auto;left:-10px;background:url(images/ie/title.png) no-repeat 100% 50%;}
/*Элементы формы*/.bxmap-container .bxmap-filter-input{line-height:30px;}
.bxmap-filter-field{}
/*Прокрутка*/.bxmap-rule{background:#f6f6f6;}
/*Загрузчик*/.bxmap-wrapper.bxmap-loading .bxmap-loading-informer{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);}
/*Инфоокно*/.bxmap-popup{margin:5px 0 0 -159px;padding:0 15px 21px 9px;background:url(images/ie/popup_bottom.png) no-repeat 50% 100%;}
.bxmap-popup:before{top:0;right:0;bottom:40px;left:0;background:url(images/ie/popup_top.png) no-repeat 50% 0;}
.bxmap-popup:after{z-index:1;left:159px;background:url(images/ie/popup_arrow.png) no-repeat;width:60px;height:30px;margin:0 0 -9px -30px;}
.bxmap-popup .bxmap-popup-close{top:-13px;right:1px;}
/*Мультиокно*/.bxmap-popup.bxmap-multiple{margin-top:25px;background-image:url(images/ie/popup_bottom_wide.png);}
.bxmap-popup.bxmap-multiple.bxmap-yandex{/*margin:2px 0 0 -153px;*/}
.bxmap-popup.bxmap-multiple:before{background-image:url(images/ie/popup_top_wide.png);}
.bxmap-popup .bxmap-popup-list{top:3px;bottom:21px;left:9px;}
.bxmap-popup-list .bxmap-list-item:after{background:none;}
.bxmap-popup-list .bxmap-list-item.bxmap-active{background:#e9f3f8;}
.bxmap-popup-list .bxmap-list-item.bxmap-active:after{background:#1d85b3;}