#topSearch{
	float:left;
	text-align:center;
	position: relative;
	width:100%;
}
#reloadSearch{
	background-color: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 2px;
	left: 50%;
	width: 71.9%;
	min-width: 600px;
	overflow: hidden;
	position: absolute;
	top: 31px;
	z-index: 100;
	display: none;
	margin-left:-36%;
}
#reloadSearch table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
#reloadSearch table tr:hover{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */	
}
#reloadSearch table td{
	border-top:1px solid #e4e4e4;
	padding:12px 4px;
}
#reloadSearch table .photo{
	width:15%;
}
#reloadSearch table .name{
	width:24%;
	text-align:left;
}
#reloadSearch table td.price{
	width:15%;
}
#reloadSearch table .quantity{
	width: 15%;
}
#reloadSearch table .bask{
	width:20%;
}
#reloadSearch table a{
	color:#000;
	font-size:14px;
	text-decoration: underline;
	display:block;
}
#reloadSearch table a:hover{
	color:#4192d9;
}
#reloadSearch table img{
	max-width:50px;
	max-height:50px;
	vertical-align: middle;
	text-align: center;
}
#reloadSearch .addCart{
	display:block;
	margin:12px auto;
	color:#fff !important;
	height:25px;
	line-height: 25px;
	text-align:center;
	padding: 0px 12px;
	text-decoration: none;
	width:70px;
	background:url(images/incart.png) repeat #4192d9;
}
#reloadSearch .addCart:hover{
	background:url(images/incartHover.png) repeat #4192d9;
}
#reloadSearch .addCart:active{
	position:relative;
	top:1px;
}
#reloadSearch span.price{
	position: relative;
	font-size:17px;
}
#reloadSearch s{
	color: #888888;
	font-size: 14px;
	min-width: 72px;
	position: absolute;
	right: -21px;
	top: -16px;
}
#reloadSearch .allResult{
	display:block;
	font-size:15px;
	text-align:center;
	background:#292929;
	color:#fff;
	height:40px;
	line-height:40px;
	text-decoration: none;
}
#reloadSearch .allResult:hover{
	background:#212121;
}
#reloadSearch .available, #reloadSearch .noAvailable{
	font-size:12px;
}
#reloadSearch .available{
	color:#05c012;
}
#reloadSearch .noAvailable{
	color:#888;
}
#searchTable{
	width:72%;
	table-layout: fixed;
	border-collapse:collapse;
	margin:0 auto;
}
#searchTable.small{
	width:100%;
}
#searchTable td{
	padding:0px;
}
#searchTable.small .inputSelect{
	width:40px;
}
#searchTable.small .inputSubmit{
	width:30px;
}
#searchTable .inputSelect{
	width:90px;
}
#searchTable .inputData{
	width:100%;
}
#searchTable .inputSubmit{
	width:90px;
}
#topSearchMenu{
	margin:0px auto;
}
#topSearchMenu ul{
	float:right;
	margin-top:-14px;
}
#topSearchMenu li{
	float:left;
	border-right:1px solid #2d2d2d;
	line-height:16px;
	height:16px;
}
#topSearchMenu li:first-child{
	border-left:1px solid #2d2d2d;
}
#topSearchMenu li a{
	font: normal normal 13px "bender" , "Verdana" ,  arial , sans-serif;
	color:#787878;
	text-decoration: none;
	padding:0px 12px;
	line-height:16px;
	display:block;
}
#topSearchMenu li a:hover{
	color:#4192d9;
}
#topSearchMenu li a:active{
	position:relative;
	top:1px;
}
#topSearchLine{
	margin:32px auto;
	position:relative;
}
#topSearchSelect{
	font: normal normal 13px "bender" , "Verdana" ,  arial , sans-serif;
	display:inline-block;
	width:90px;
	height:30px;
	line-height: 30px;
	background: url("images/searchGradient1.png")  0 0 repeat #373737;
	color:#fff;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right: 1px solid #000000;
	cursor: pointer;
	position:relative;
}
#topSearchSelect .slide{
	display:block;
	height:30px;
}
#topSearchSelect ul{
	width:300px;
	position:absolute;
	top:31px;
	background-color:#2d2d2d;
	z-index:100;
	display:none;
}
#topSearchSelect ul li{
	text-align:left;
	padding-left:32px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.132);
	display:block;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#topSearchSelect ul li:hover{
	background-color:#242424;
	color:#4192d9;
}
#topSearchSelect:hover{
	background: url("images/searchGradient1Hover.png")  0 0 repeat #373737;
}
#topSearchSelect img{
	vertical-align: middle;
	padding:0px 3px;
}
#searchTable.small #topSearchSelect {
	width:40px;
}
#searchTable.small #topSearchSelect span{
	display:none;
}
#searchTable.small #topSearchSelect img{
	padding:0;
}
#topSearchLine form{
	text-indent:0px;
	white-space:nowrap;
	letter-spacing:0px;
}
#topSearchLine input{
	font: normal normal 13px "bender" , "Verdana" ,  arial , sans-serif;
	height:30px;
	border:0px;
}
#searchTable.small input[type="text"]{
	text-indent: 8px;
}
#topSearchLine input[type="text"]{
	width: 100%;
	background-color:#2d2d2d;
	color:#fff;
	color:#656565;
	border:1px solid #000;
	display: block;
	float:left;
	text-indent: 6px;
}
#topSearchLine #goTopSearch{
	font: normal normal 13px "bender" , "Verdana" ,  arial , sans-serif;
	width:90px;
	background: #0074d9;
	cursor: pointer;
	color:#fff;
	line-height:30px;
	display:block;
	text-decoration: none;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	height: 30px;
	-o-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
#topSearchLine #goTopSearch:hover{
	background: #016fce;
}
#topSearchLine #goTopSearch:active{
	text-indent: 2px;
}
#searchTable.small #goTopSearch{
	width:30px;
}
#searchTable.small #goTopSearch span{
	display:none;
}
#searchTable.small #goTopSearch img{
	padding:0px;
}
#searchTable.small #goTopSearch img{
	vertical-align: middle;
	margin-left:4px;
}
#topSearchLine form a img{
	vertical-align: middle;
	padding-right:4px;
}
#topSearchLine select, #topSearchLine option{
	display: none;
}
#searchMenu ul{
	float:right;
	margin-top:12px;
}
#searchMenu ul li:first-child{
	border-left: 1px solid #2d2d2d;
	padding:0 12px;
}
#searchMenu ul li{
	border-right: 1px solid #2d2d2d;
}
#searchMenu a{
	color: #787878 !important;
	font: 13px "bender", "arial", sans-serif !important;
	text-decoration: none !important;
	background: none !important;
	border: none !important;
}
#searchMenu a:hover{
	color:#4192d9 !important;
}