#secLevel2 > ul {
	margin: 24px 0px;
	padding-left: 35px;
}

#secLevel2 > ul > li {
	margin-bottom: 12px;
}

#secLevel2 > ul > li > a {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #c6c6c6;
	text-decoration: none;
}

#secLevel2 > ul > li > a:active {
	position: relative;
	top: 1px;
}

#secLevel2 > ul > li > a:hover {
	color: #4192d9;
}

#secLevel2 > ul > li > a.selected {
	color: #4192d9;
}

#secLevel2 > ul > li > a.selected:hover {
	color: #0074d9;
}

#catalog .productList {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#catalog .productList li {
	margin-right: 24px;
	margin-bottom: 24px;
	border: 1px solid #E1E1E1;
	-o-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#catalog .productList .wrap {
	width: 100%;
	border: 0;
}


#catalog .productList li:hover{
	border: 1px solid #C9C9C9;
}

#catalogLine {
	font: normal normal 13px "bender" , arial , sans-serif;
	color: #fff;
	height: 60px;
	line-height: 60px;
	margin-bottom: 24px;
	position: relative;
	border: 1px solid #f1f1f1;
	overflow: hidden;
	white-space: nowrap;
}

#catalogLine .left {
	float: left;
}

#catalogLine .right {
	float: right;
	padding-right: 12px;
}

#catalogLine .left span {
	padding-right: 12px;
	margin-left: 8px;
	color: #000;
}

#catalogLine .left .count {
	margin-left: 12px;
}

#catalogLine .left a {
	border: 1px solid #999;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #999;
	padding: 0px 8px;
	vertical-align: middle;
}

#catalogLine .left a:hover {
	color: #777;
	border: 1px solid #777;
}

#catalogLine .left a.active {
	background-color: #0074d9;
	border: 1px solid #0074d9;
	color: #fff;
}

#catalogLine .left a:active {
	position: relative;
	top: 1px;
}

#catalogLine #on {
	width: 24px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #4192d9;
}

#catalogLine #on a {
	height: 15px;
	display: block;
	border: 0px;
}

#catalogLine #on .asc {
	background: url("images/arrows.png") 0 0 no-repeat transparent;
}

#catalogLine #on .asc.active {
	background: url("images/arrows.png") -24px 0 no-repeat #0074d9;
}

#catalogLine #on .desc {
	background: url("images/arrows.png") 0px -15px no-repeat transparent;
}

#catalogLine #on .desc.active {
	background: url("images/arrows.png") -24px -15px no-repeat #0074d9;
}

#catalogLine .right a {
	height: 30px;
	line-height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #C9C9C9;
}

#catalogLine .right .type1 {
	background: url(images/catalogView.png) 0 0 no-repeat transparent;
}

#catalogLine .right .type1:hover {
	background: url(images/catalogView.png) -30px 0 no-repeat transparent;
}

#catalogLine .right .type1.active {
	background: url(images/catalogView.png) -60px 0 no-repeat transparent;
}

#catalogLine .right .type2 {
	background: url(images/catalogView.png) 0 -30px no-repeat transparent;
}

#catalogLine .right .type2:hover {
	background: url(images/catalogView.png) -30px -30px no-repeat transparent;
}

#catalogLine .right .type2.active {
	background: url(images/catalogView.png) -60px -30px no-repeat transparent;
}

#catalogLine .right .type3 {
	background: url(images/catalogView.png) 0 -60px no-repeat transparent;
}

#catalogLine .right .type3:hover {
	background: url(images/catalogView.png) -30px -60px no-repeat transparent;
}

#catalogLine .right .type3.active {
	background: url(images/catalogView.png) -60px -60px no-repeat transparent;
}
