#generation {
	text-align: center;
}

#generation form {
	margin-top: 10px;
}

.generate_btn {
	display: inline-block;
	cursor: pointer;
	text-decoration:none; text-align:center; 
	padding:11px 32px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:18px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  

}

.button:hover{
	padding:11px 32px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:18px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.generate_btn:active,.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	background-image: none;
}

.generate_btn:hover,.btn:focus {
	text-decoration: none;
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.generate_btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.success{
	margin-top: 10px;
	width: 450px;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	margin-right: -4px;
	font-size: 14px !important;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-transform: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: -webkit-small-control;
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
	-webkit-writing-mode: horizontal-tb;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
}

.success a {
	color: #0088cc;
	text-decoration: none;
	cursor: auto;
}
.success a:hover, .success a:focus {
	color: #005580;
	text-decoration: underline;
}