#slider{
	position: relative;
}
#slider .wrap{
	position: relative;
	overflow: hidden;
}
#slider ul{
	position:relative;
}
#slider ul li{
	float:left;
	display: block;
}
#slider ol{
	position: absolute;
	left:50%;
	bottom:12px;
}
#slider ol li{
	background:url(images/slideButton.png) 0 0 no-repeat transparent;
	margin-right:4px;
	width:14px;
	height:14px;
	float:left;
	cursor: pointer;
}
#slider ol li:hover{
	background:url(images/slideButton.png) -14px 0  no-repeat transparent;
}
#slider ol li:active{
	background:url(images/slideButton.png) -28px 0  no-repeat transparent;
}
#slider ol li.selected{
	background:url(images/slideButton.png) -42px 0  no-repeat transparent;	
}
#slider ol li.selected:hover{
	background:url(images/slideButton.png) -56px 0  no-repeat transparent;	
}
#slider ol li.selected:active{
	background:url(images/slideButton.png) -70px 0  no-repeat transparent;	
}
#slider .sliderBtnLeft, 
#slider .sliderBtnRight{
	display:block;
	height:43px;
	width:24px;
	position:absolute;
	top:50%;
	margin-top:-21.5px;
}
#slider .sliderBtnLeft{
	background:url(images/slideArrow.png) 0 0 no-repeat transparent;
	left:-8px;
}
#slider .sliderBtnLeft:hover{
	background:url(images/slideArrow.png) -24px 0 no-repeat transparent;	
}
#slider .sliderBtnLeft:active{
	background:url(images/slideArrow.png) -48px 0 no-repeat transparent;		
}
#slider .sliderBtnRight{
	background:url(images/slideArrow.png) 0 -43px no-repeat transparent;
	right:-8px;
}
#slider .sliderBtnRight:hover{
	background:url(images/slideArrow.png) -24px -43px no-repeat transparent;	
}
#slider .sliderBtnRight:active{
	background:url(images/slideArrow.png) -48px -43px no-repeat transparent;	
}