.bx_order_list{}
.bx_order_list h3{
	font-weight: bold;
	font-size:24px;
	color: #3f3f3f;
}
.bx_order_list .bx_order_list_table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e8e8e8;
}
.bx_order_list .bx_order_list_table tr td{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.bx_order_list .bx_order_list_table thead tr td{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #3d4345;
	box-shadow: 0 -1px 1px 0 rgba(255,255,255,1);
	background:#f6f6f6;
}
.bx_order_list .bx_order_list_table tbody tr td{
	padding: 5px 10px;
	color: #3f3f3f;
	font-size: 13px;
	vertical-align: top;
}
.bx_order_list .bx_order_list_table tbody tr td[colspan="2"]{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #3d4345;
	background: #fafafa;
}
.bx_order_list .bx_order_list_table tbody tr td:nth-child(2){width: 75%}




.bx_order_list .bx_order_list_table_order{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e8e8e8;
}
.bx_order_list .bx_order_list_table_order tr td{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.bx_order_list .bx_order_list_table_order thead tr td{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #3d4345;
	box-shadow: 0 -1px 1px 0 rgba(255,255,255,1);
	background: #f6f6f6;
	text-align: center;
}
.bx_order_list .bx_order_list_table_order tbody tr td{
	border: 1px solid #e4e4e4;
	color: #3F3F3F;
	font-size: 13px;
	padding: 10px 10px 5px;
	text-align: center;
	vertical-align: middle;
}
.bx_order_list .bx_order_list_table_order tbody tr td.name{min-width: 60%}

.bx_order_list .bx_order_list_table_order tbody tr td a{color: #0073a3}
.bx_order_list .bx_order_list_table_order tbody tr td a:hover{text-decoration: none;}

.bx_order_list .bx_order_list_table_order tbody tr td img{
	/*
	width: 100%;
	max-width: 65px;
	min-width: 50px;
	height: auto;
	*/
}

.bx_order_list .amount,
.bx_order_list .price{
	color: #000;
	color: #5f6a71;
	white-space: nowrap;
	text-align: right;
}
.bx_order_list .amount{text-align: center}
.bx_order_list .fm{display: none;color: #5f6a71;}




.bx_order_list .bx_ordercart_order_sum tr td {padding: 1px;text-align: right;font-size: 13px;}
.bx_order_list .bx_ordercart_order_sum tr td.custom_t1 {width: 100%}
.bx_order_list .bx_ordercart_order_sum tr td.custom_t2 {white-space: nowrap;}




.bx_order_list .bx_fwb{font-weight:bold}

.bx_control_table{width: 100%;}
.bx_control_table td{width: 50%;}

@media (max-width: 550px){
	.bx-touch .bx_order_list .bx_order_list_table tr,
	.bx-touch .bx_order_list .bx_order_list_table td{display: block;width: 100%}
	.bx-touch .bx_order_list .bx_order_list_table tbody tr td:nth-child(1){font-weight: bold;padding-bottom: 2px}
	.bx-touch .bx_order_list .bx_order_list_table tbody tr td:nth-child(2){padding-top:2px}
	.bx-touch .bx_order_list .bx_order_list_table tbody tr td[colspan="2"]{padding:10px}

	.bx-touch .bx_order_list .bx_order_list_table_order thead {display: none;}
	.bx-touch .bx_order_list .bx_order_list_table_order td{display: block;width: 100%}
	.bx-touch .bx_order_list .bx_order_list_table_order tbody tr{clear: both;margin-bottom: 10px;}
	.bx-touch .bx_order_list .bx_order_list_table_order tbody tr td{padding: 2px 10px}
	.bx-touch .bx_order_list .bx_order_list_table_order tbody tr td.name{font-weight: bold;padding: 2px 10px}
	.bx-touch .bx_order_list .bx_order_list_table_order tbody tr td.img{float: left;width: 70px;padding-right: 10px;}
	.bx-touch .bx_order_list .bx_order_list_table_order tbody tr td:last-child{padding: 2px 10px 30px}
	.bx-touch .bx_order_list .fm{display: inline-block;}
	.bx-touch .bx_order_list .amount,
	.bx-touch .bx_order_list .price{text-align: left;}

	.bx-touch .bx_order_list .bx_ordercart_order_sum{width:100% !important}
	.bx-touch .bx_order_list .bx_ordercart_order_sum tr td.custom_t1 {width: 50% !important}
	.bx-touch .bx_order_list .bx_ordercart_order_sum tr td.custom_t2 {width: 50% !important;white-space: nowrap;text-align: left !important;}

	.bx-touch .bx_order_list .bx_control_table td{text-align: center !important;padding: 10px;}

	.bx_order_list .bx_order_list_table_order tbody tr td img{
		width: 100%;
		max-width: 65px;
		min-width: 50px;
		height: auto;
	}

}





.bx_order_list .bx_bt_button_type_2{
	display:inline-block;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}
.bx_order_list .bx_shadow.bx_bt_button_type_2{box-shadow:0 1px 1px 0 rgba(0,0,0,.2)}
.bx_order_list .bx_shadow.bx_bt_button_type_2:active{box-shadow:none}

.bx_order_list .bx_bt_button_type_2 		{
	border:1px solid #e9e9e9;
	background:#fcfcfc;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1));
	background:-webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:   -moz-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:    -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:     -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:        linear-gradient(to bottom, #fcfcfc 0%,#f1f1f1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 );
	color:#656565;
	text-shadow:0 1px 0 #fff;
}
.bx_order_list .bx_bt_button_type_2:hover 	{background:#fff}
.bx_order_list .bx_bt_button_type_2:active {
	background:#f1f1f1;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfcfc));
	background:-webkit-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:   -moz-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:    -ms-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:     -o-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:        linear-gradient(to bottom, #f1f1f1 0%,#fcfcfc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fcfcfc',GradientType=0 );
	box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
}

.bx_order_list .bx_small.bx_bt_button_type_2{
	display:inline-block;
	min-width:20px;
	line-height:20px;
}
.bx_order_list .bx_small.bx_bt_button_type_2 		{}
.bx_order_list .bx_small.bx_bt_button_type_2:hover {}
.bx_order_list .bx_small.bx_bt_button_type_2:active{}

.bx_order_list .bx_medium.bx_bt_button_type_2	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}

.bx_order_list .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_order_list .bx_medium.bx_bt_button_type_2:hover {}
.bx_order_list .bx_medium.bx_bt_button_type_2:active{}

.bx_order_list .bx_big.bx_bt_button_type_2	{
	padding:0 13px;
	height:34px;
	font-weight:bold;
	line-height:34px;
}

.bx_order_list .bx_big.bx_bt_button_type_2 	  {}
.bx_order_list .bx_big.bx_bt_button_type_2:hover {}
.bx_order_list .bx_big.bx_bt_button_type_2:active{}

.bx_order_list_table_white_header{
	background-color: #fff !important;
}


.bx_order_list .bx_ol_store{
	margin-top: 10px;
}
.bx_order_list .bx_ol_store .bx_old_s_row{
	margin-bottom: 10px;
}
.bx_order_list .bx_ol_store .bx_old_s_row_title{
	margin-bottom: 20px;
}
.bx_order_list .bx_ol_store .bx_ild_s_desc{
	margin-top: 5px;
	font-size: 12px;
	color: gray;
}
.bx_old_s_map{
	margin-top: 20px;
	width: 100%;
}
.bx_old_s_map .bx_bt_button_type_2{
	margin-bottom: 10px;
}
.bx_map_buttons {
	height: 40px;
}
.bx_map_buttons a{
	display: inline-block;
}
#bx_old_s_map{
	margin-bottom: 10px;
}
#map-container{
	height: 200px;
}

.bx_ol_sku_prop img{
	width: auto !important;
	height: auto !important;
	max-width: 50px !important;
	max-height: 50px !important;
	min-width: 0 !important;
	margin: 3px 3px 3px 0;
	padding: 1px;
	border: 1px solid gray;
}
.bx_ol_sku_prop td{
	padding: 1px 1px 10px 1px !important;
	border: 0px;
}

.bx_my_order_switch {
	margin-bottom: 15px;
	line-height: 30px;
}
.bx_my_order_switch .bx_mo_link{
	margin-right: 20px;
	display: inline-block;
	height:35px;
	line-height: 35px;
	background: #0074d9;
	color:#fff;
	text-decoration: none;
	padding: 0px 12px;
}
.bx_my_order_switch .bx_mo_link:hover{
	background: #016FCE;
}