@charset utf-8;
#bxMapContainer,#bxMapContainer .bxmap-popup,.bxmap-popup.bxmap-sizer{direction:ltr;font:13px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#123;letter-spacing:0;text-align:left;text-decoration:none;text-indent:0;text-transform:none;vertical-align:0;white-space:normal;word-spacing:0;}
.bxmap-container form,.bxmap-container button,.bxmap-container input,.bxmap-container textarea,.bxmap-container a,.bxmap-popup a{font:inherit;}
.bxmap-container a{color:#1d85b3;}
.bxmap-container a:hover{color:#ca0000;}
.bxmap-container img{border:0;max-width:none;min-width:0;}
.bxmap-container .bxmap-none{display:none!important;}
.alt-block,.alt-unordered-list,.alt-definition-list,.alt-definition-title,.alt-definition-description{display:block;}
.alt-list-item{display:list-item;list-style:none;}
.alt-inline{display:inline;}
.alt-inline-block{display:inline-block;}
.alt-inline.bolder{font-weight:bolder;}
.bxmap-wrapper{position:relative;min-height:42px;margin:0 0 30px;background:#f0ede5;}
.bxmap-wrapper .bxmap-loading-informer{opacity:0;position:absolute;top:50%;left:50%;width:64px;height:64px;margin:-32px 0 0 -32px;background:url(images/loader.gif) no-repeat;-webkit-transition:opacity ease-out .3s;-moz-transition:opacity ease-out .3s;-o-transition:opacity ease-out .3s;transition:opacity ease-out .3s;}
.bxmap-wrapper.bxmap-loading .bxmap-loading-informer{opacity:.2;}
.bxmap-container{position:relative;height:100%;}
.bxmap-container .bxmap-canvas{height:100%;}
.bxmap-container .bxmap-section{overflow:hidden;position:absolute;top:20px;bottom:20px;margin:0;background:rgba(255,255,255,.9);box-shadow:0 0 5px rgba(0,0,0,.3);}
.bxmap-section .bxmap-section-head{position:relative;height:41px;margin:0;line-height:40px;border-top:1px solid #fbfbfa;border-bottom:1px solid #cbcbcb;background:#f4f3ee;background:-webkit-linear-gradient(top,#f3f2ee,#f3f2ed);background:-moz-linear-gradient(top,#f3f2ee,#f3f2ed);background:-ms-linear-gradient(top,#f3f2ee,#f3f2ed);background:-o-linear-gradient(top,#f3f2ee,#f3f2ed);background:linear-gradient(top,#f3f2ee,#f3f2ed);}
.bxmap-section .bxmap-section-head:before{content:"";position:absolute;top:50%;left:12px;width:16px;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-section .bxmap-section-body{position:absolute;top:58px;right:15px;bottom:15px;left:15px;}
.bxmap-section.bxmap-collapse .bxmap-section-body{display:none;}
.bxmap-section .bxmap-section-title{float:right;position:relative;height:100%;padding:0 15px;}
.bxmap-section .bxmap-section-subtitle{overflow:hidden;position:absolute;top:0;bottom:0;left:0;text-overflow:ellipsis;white-space:nowrap;}
.bxmap-section.bxmap-collapse .bxmap-section-head:hover{background:#f9f9f6;background:-webkit-linear-gradient(top,#fff,#f4f3ee);background:-moz-linear-gradient(top,#fff,#f4f3ee);background:-ms-linear-gradient(top,#fff,#f4f3ee);background:-o-linear-gradient(top,#fff,#f4f3ee);background:linear-gradient(top,#fff,#f4f3ee);}
.bxmap-section.bxmap-collapse .bxmap-section-title:hover{background:0 0;}
.bxmap-section.bxmap-collapse .bxmap-hide,.bxmap-section.bxmap-loading .bxmap-hide,.bxmap-section.bxmap-error .bxmap-hide,.bxmap-section.bxmap-collapse .bxmap-close,.bxmap-section.bxmap-loading .bxmap-close,.bxmap-section.bxmap-complete .bxmap-close{display:none;}
.bxmap-section.bxmap-error .bxmap-close,.bxmap-section.bxmap-collapse .bxmap-show{display:block;}
.bxmap-section .bxmap-show{float:left;padding-left:38px;cursor:default;}
.bxmap-section.bxmap-collapse .bxmap-show{cursor:pointer;}
.bxmap-section .bxmap-hide,.bxmap-section .bxmap-close{position:relative;font-size:0;color:#05598b;cursor:pointer;}
.bxmap-section .bxmap-hide:hover,.bxmap-section .bxmap-close:hover{color:#c90000;}
.bxmap-section .bxmap-hide:after,.bxmap-section .bxmap-close:after{content:"";display:inline-block;width:22px;height:22px;vertical-align:middle;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-section .bxmap-close:after{background-position:-205px 0;}
.bxmap-section .bxmap-hide:after{background-position:-230px 0;}
.bxmap-section.bxmap-list .bxmap-hide:after{background-position:-255px 0;}
.bxmap-section .bxmap-close:hover:after{background-position:-205px -25px;}
.bxmap-section .bxmap-hide:hover:after{background-position:-230px -25px;}
.bxmap-section.bxmap-list .bxmap-hide:hover:after{background-position:-255px -25px;}
.bxmap-filter{left:20px;width:320px;}
.bxmap-filter.bxmap-collapse{bottom:auto;width:auto;}
.bxmap-filter .bxmap-section-head:before{height:16px;margin:-8px 0 0;background-position:-15px -40px;}
.bxmap-filter-form{position:relative;}
.bxmap-filter .bxmap-filter-form:after{content:"";display:block;height:10px;margin:0 -15px;background-image:webkit-gradient(50% -10px,60% 20px,rgba(0,0,0,.15),rgba(0,0,0,0));background-image:radial-gradient(60% 20px at 50% -10px,rgba(0,0,0,.15),rgba(0,0,0,0));}
.bxmap-filter-input{overflow:hidden;text-overflow:ellipsis;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:30px;border:1px solid #b0b1ba;border-radius:4px;background:#fff;box-shadow:inset 0 2px 2px rgba(0,0,0,.1);}
.bxmap-filter-input:focus{outline:0;border:1px solid rgba(29,132,178,.8);box-shadow:inset 0 2px 2px rgba(0,0,0,.1),0 0 4px 1px rgba(29,132,178,.9);}
.bxmap-filter .bxmap-filter-input{margin:0 0 12px;padding:0 0 0 10px;}
.bxmap-filter-field{position:absolute;top:7px;right:1px;min-width:16px;height:16px;font-size:1px;background:#fff;}
.bxmap-filter-field button{overflow:hidden;display:none;position:relative;width:30px;height:28px;margin:-6px 0 0;padding:0;border:0;vertical-align:top;line-height:28px;text-indent:-1000px;}
.bxmap-filter-field button:after{content:"";position:absolute;top:50%;left:50%;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-filter-field button.bxmap-active{display:inline-block;}
.bxmap-filter-field .bxmap-filter-clear{background:0 0;}
.bxmap-filter-field .bxmap-filter-clear:after{width:10px;height:10px;margin:-5px 0 0 -5px;background-position:0 -45px;}
.bxmap-filter-field .bxmap-filter-clear:hover:after{background-position:0 -15px;}
.bxmap-filter-field .bxmap-filter-refresh{border-left:1px solid #b0b1ba;border-radius:0 4px 4px 0;background:#dfdfdf;background-image:-webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-moz-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-ms-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-o-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));box-shadow:inset 0 1px 1px #fff;}
.bxmap-filter-field .bxmap-filter-refresh:active{background-image:none;}
.bxmap-filter-field .bxmap-filter-refresh:after{width:18px;height:18px;margin:-9px 0 0 -9px;background-position:-35px 0;}
.bxmap-filter-field .bxmap-filter-refresh:hover:after{background-position:-35px -20px;}
.bxmap-list-clear{overflow:hidden;position:absolute;right:0;bottom:0;left:30px;height:0;}
.bxmap-no-image .bxmap-list-clear{left:3px;}
.bxmap-clear-button{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:24px;border:1px solid #b6b7c0;border-radius:5px;font-size:.85em;line-height:22px;color:#333;background:#dfdfdf;background-image:-webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-moz-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-ms-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-o-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));box-shadow:inset 0 1px 1px #fff;text-shadow:-1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(255,255,255,.8);cursor:pointer;}
.bxmap-clear-button:hover{color:#345a88;}
.bxmap-clear-button:active{background-image:none;}
.bxmap-category-item{position:relative;cursor:pointer;}
.bxmap-category .bxmap-filter .bxmap-category-list{padding:0 0 0 30px;}
.bxmap-category.bxmap-no-image .bxmap-filter .bxmap-category-list{padding-left:3px;}
.bxmap-category .bxmap-filter .bxmap-category-item{height:30px;padding:0 26px 0 8px;border-radius:3px;line-height:29px;white-space:nowrap;}
.bxmap-category .bxmap-filter .bxmap-category-item+.bxmap-category-item{margin-top:5px;}
.bxmap-category .bxmap-filter .bxmap-category-item:hover{color:#c90000;}
.bxmap-category .bxmap-filter .bxmap-category-item.bxmap-active{color:#fff;background:#1d84b2;}
.bxmap-category .bxmap-filter .bxmap-category-item.bxmap-active:after{content:"";display:none;position:absolute;top:50%;right:8px;width:10px;height:10px;margin:-5px 0 0;background:url(images/map.png) no-repeat 0 -30px;}
.bxmap-category .bxmap-filter .bxmap-category-item.bxmap-active:hover{background:#c97979;}
.bxmap-category .bxmap-filter .bxmap-category-item.bxmap-active:hover:after{display:block;}
.bxmap-category .bxmap-category-item:before{content:"";position:absolute;top:50%;left:-30px;width:30px;height:30px;margin:-15px 0 0;background-repeat:no-repeat;}
.bxmap-category .bxmap-category-name{overflow:hidden;display:inline-block;max-width:220px;height:100%;text-overflow:ellipsis;vertical-align:top;}
.bxmap-category .bxmap-category-item.bxmap-active .bxmap-category-name{max-width:205px;}
.bxmap-category-title{border-bottom:1px dotted;}
.bxmap-filter .bxmap-active .bxmap-category-title{border-bottom:0;}
.bxmap-category .bxmap-category-count{margin:0 0 0 .4em;font-size:.92em;}
.bxmap-no-category .bxmap-filter .bxmap-scroll-wrapper{right:-15px;left:-15px;}
.bxmap-no-category .bxmap-filter .bxmap-category-item{padding:7px 35px 8px 40px;}
.bxmap-no-category .bxmap-filter .bxmap-category-item+.bxmap-category-item{margin-top:1px;}
.bxmap-no-category .bxmap-filter .bxmap-category-item,.bxmap-no-category .bxmap-filter .bxmap-category-item:before{-webkit-transition:ease-out .2s;-moz-transition:ease-out .2s;-o-transition:ease-out .2s;transition:ease-out .2s;}
.bxmap-no-category .bxmap-filter .bxmap-category-item:before{content:"";position:absolute;top:13px;left:17px;width:4px;height:4px;border:2px solid #b1b1bb;border-radius:100%;background:#b1b1bb;}
.bxmap-no-category .bxmap-filter .bxmap-category-item:hover{color:#c90000;}
.bxmap-no-category .bxmap-filter .bxmap-category-item:hover:before{background:#d93600;border-color:#d93600;}
.bxmap-no-category .bxmap-filter .bxmap-category-item.bxmap-active{background:#e9f3f8;}
.bxmap-no-category .bxmap-filter .bxmap-category-item.bxmap-active:hover{color:inherit;}
.bxmap-no-category .bxmap-filter .bxmap-category-item.bxmap-active:before,.bxmap-no-category .bxmap-filter .bxmap-category-item.bxmap-active:hover:before{background:0 0;border-color:#1d84b2;}
.bxmap-no-category .bxmap-filter .bxmap-list-clear{left:22px;right:22px;}
.bxmap-no-category .bxmap-list .bxmap-category-item>.bxmap-category-item-wrapper{padding-left:20px;}
.bxmap-scroll-wrapper.bxmap-single-scroll{top:-10px;right:-15px;bottom:-12px;left:-15px;}
.bxmap-single-scroll .bxmap-route-point+.bxmap-route-point{border-top:1px solid #e5e5e5;}
.bxmap-scroll-wrapper.bxmap-list-scroll{top:0;right:0;bottom:0;left:0;border-right:1px solid #cbcbcb;}
.bxmap-list-scroll .bxmap-scroll{font-size:13px;}
.bxmap-scroll-wrapper.bxmap-list-scroll .bxmap-rule{top:5px;bottom:5px;}
.bxmap-list-scroll .bxmap-list-item{position:relative;padding:8px 20px 9px 40px;cursor:pointer;}
.bxmap-list-scroll .bxmap-list-item:before{content:"";position:absolute;top:2px;left:5px;width:30px;height:30px;background-repeat:no-repeat;}
.bxmap-list{display:none;right:20px;left:360px;}
.bxmap-list.show{display:block;}
.bxmap-list.bxmap-collapse{bottom:auto;left:auto;}
.bxmap-list .bxmap-section-head:before{height:14px;margin:-7px 0 0;background-position:-35px -40px;}
.bxmap-list .bxmap-category-item{margin:0;cursor:default;}
.bxmap-list .bxmap-category-item+.bxmap-category-item{margin-top:1px;}
.bxmap-list .bxmap-category-item>.bxmap-category-item-wrapper{min-height:30px;overflow:hidden;padding:9px 60px 9px 40px;}
.bxmap-no-image .bxmap-list .bxmap-category-item>.bxmap-category-item-wrapper{padding-left:14px;}
.bxmap-list .bxmap-category-item.bxmap-none.include{display:block;}
.bxmap-list .bxmap-category-item.bxmap-none.include>.bxmap-category-item-wrapper .bxmap-item-geo{display:none;}
.bxmap-category .bxmap-list .bxmap-category-item:before{top:20px;left:0;margin-left:4px;}
.bxmap-list .bxmap-category-item.bxmap-active>.bxmap-category-item-wrapper{background:#f3f2ed;}
.bxmap-list .bxmap-item-geo{position:absolute;top:15px;right:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:30px;height:30px;margin:0 15px 0 0;border:1px solid #b6b7c0;border-radius:3px;background:#dfdfdf;background-image:-webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-moz-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-ms-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-o-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));box-shadow:inset 0 1px 1px #fff;cursor:pointer;}
.bxmap-events .bxmap-list .bxmap-item-opening{height:2em;}
.bxmap-events .bxmap-list .bxmap-item-geo,.bxmap-events .bxmap-list .bxmap-category-item:before{margin-top:2em;}
.bxmap-list .bxmap-category-item.bxmap-active>.bxmap-category-item-wrapper .bxmap-item-geo{opacity:.5;cursor:default;}
.bxmap-list .bxmap-category-item.bxmap-active .bxmap-item-geo:hover:after{background-position:-55px 0;}
.bxmap-list .bxmap-item-geo:active{background-image:none;}
.bxmap-list .bxmap-item-geo:after{content:"";position:absolute;top:50%;left:50%;width:12px;height:16px;margin:-8px 0 0 -6px;background:url(images/map.png) no-repeat -55px 0;}
.bxmap-list .bxmap-item-geo:hover:after{background-position:-55px -20px;}
.bxmap-list .bxmap-item-info{float:left;width:100%;margin:0 -170px 0 0;}
.bxmap-list .bxmap-item-detail{margin:0 170px 0 0;}
.bxmap-list .bxmap-item-name{margin:0 170px 5px 0;font-size:1.15em;}
.bxmap-list .bxmap-item-opening{color:#696969;}
.bxmap-list .bxmap-item-contacts{float:right;width:160px;word-wrap:break-word;}
.bxmap-list .bxmap-item-contacts .bxmap-item-phone-set{margin:0 0 5px;}
.bxmap-list .bxmap-item-contacts a{color:inherit;}
.bxmap-list .bxmap-item-contacts a:hover{color:#ca0000;}
.bxmap-list .bxmap-item-description{margin:5px 0;}
.bxmap-category .bxmap-list .bxmap-scroll-wrapper{top:-15px;right:-15px;bottom:-15px;left:-15px;}
.bxmap-list .bxmap-rule{top:15px;right:17px;bottom:15px;}
.bxmap-list .bxmap-scrolling .bxmap-category-item>.bxmap-category-item-wrapper{padding-right:80px;}
.bxmap-list .bxmap-scrolling .bxmap-item-geo{margin-right:35px;}
.narrow .bxmap-list .bxmap-item-info,.narrow .bxmap-list .bxmap-item-contacts{float:none;width:auto;}
.narrow .bxmap-list .bxmap-item-info,.narrow .bxmap-list .bxmap-item-detail,.narrow .bxmap-list .bxmap-item-name{margin-right:0;}
.narrow .bxmap-list .bxmap-item-contacts{word-wrap:normal;}
.bxmap-subcategory-list{overflow:hidden;position:relative;margin:0 0 10px 38px;padding:0;}
.bxmap-no-image .bxmap-subcategory-list{margin-left:12px;}
.bxmap-subcategory-list:before{content:"";position:absolute;top:0;bottom:0;left:0;width:1px;background:#cacaca;}
.bxmap-subcategory-list .bxmap-category-item{margin-bottom:0;margin-left:1px;}
.bxmap-subcategory-list .bxmap-category-item:before{display:none;}
.bxmap-category .bxmap-list .bxmap-subcategory-list .bxmap-category-item>.bxmap-category-item-wrapper{padding-left:14px;}
.bxmap-scroll-wrapper{overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.bxmap-filter .bxmap-scroll-wrapper{top:57px;}
.bxmap-scroll-container{overflow-y:scroll;position:relative;height:100%;margin-right:-17px;}
.bxmap-mac .bxmap-scroll-container{margin-right:0;}
.bxmap-scroll{overflow:hidden;}
.bxmap-rule,.bxmap-rule-float{-webkit-transition:background ease-out .5s;-moz-transition:background ease-out .5s;-o-transition:background ease-out .5s;transition:background ease-out .5s;}
.bxmap-rule{position:absolute;z-index:1;top:0;right:2px;bottom:0;width:10px;background:rgba(66,66,60,.1);}
.bxmap-loading .bxmap-scrolling .bxmap-rule,.bxmap-rule{display:none;}
.bxmap-scrolling .bxmap-rule{display:block;}
.bxmap-rule.bxmap-active,.bxmap-rule-float{background:#e0e0e0;}
.bxmap-rule-float{position:absolute;top:0;right:-1px;left:-1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:60px;height:100%;border:1px solid #b1b2bc;border-radius:3px;background-image:-webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0),rgba(255,255,255,.3));background-image:-moz-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0),rgba(255,255,255,.3));background-image:-ms-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0),rgba(255,255,255,.3));background-image:-o-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0),rgba(255,255,255,.3));background-image:linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0),rgba(255,255,255,.3));}
.bxmap-rule-float:hover,.bxmap-rule-float.bxmap-active{background-color:#d0d0d0;}
.bxmap-rule-float:after{content:"";position:absolute;top:50%;left:50%;width:4px;height:9px;margin:-5px 0 0 -2px;background:url(images/map.png) no-repeat -105px -40px;}
.bxmap-no-category .bxmap-filter .bxmap-rule{right:17px;}
.bxmap-category .bxmap-filter .bxmap-scroll{margin:0 12px 0 0;}
.bxmap-category .bxmap-filter .bxmap-list-clear{right:12px;}
.bxmap-category .bxmap-filter .bxmap-scrolling .bxmap-scroll{margin:0 22px 0 0;}
.bxmap-category .bxmap-filter .bxmap-scrolling~.bxmap-list-clear{right:22px;}
.bxmap-single-scroll .bxmap-rule{opacity:.7;right:6px;width:8px;border-radius:4px;background:0 0;-webkit-transition:ease-out .2s;-moz-transition:ease-out .2s;-o-transition:ease-out .2s;transition:ease-out .2s;}
.bxmap-single-scroll:hover .bxmap-rule{opacity:1;}
.bxmap-single-scroll .bxmap-rule-float{right:0;left:0;border:0;border-radius:4px;background:rgba(0,0,0,.2);}
.bxmap-single-scroll .bxmap-rule-float:after{display:none;}
.touchscreen .bxmap-scroll-container{overflow:hidden;position:relative;height:auto;margin:0;}
.touchscreen .bxmap-scroll{overflow:hidden;margin:0;}
.bxmap-error-message{font-size:1.25em;}
.bxmap-error-message .bxmap-group{border:1px solid #bdbab6;border-radius:5px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.1);}
.bxmap-error-message .bxmap-group-item{min-height:40px;line-height:40px;}
.bxmap-error-message .bxmap-block{position:relative;display:inline-block;vertical-align:middle;padding:0 15px 0 40px;line-height:normal;}
.bxmap-error-message .bxmap-block:before{content:"";position:absolute;top:0;left:10px;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-error-message .bxmap-block.fail:before{width:18px;height:18px;margin:0;background-position:-15px -20px;}
.bxmap-popup{display:none;position:absolute;margin:-15px 0 0 -150px;padding:15px 0 0;font-size:0;-webkit-transition:opacity ease-out .2s;-moz-transition:opacity ease-out .2s;-o-transition:opacity ease-out .2s;transition:opacity ease-out .2s;}
.bxmap-popup.temporary{opacity:0;}
.bxmap-popup-invisible .bxmap-popup{visibility:hidden;}
.bxmap-popup.bxmap-active{display:block;}
.bxmap-popup:before,.bxmap-popup:after{content:"";position:absolute;z-index:-1;bottom:0;box-shadow:3px 10px 15px rgba(0,0,0,.4);}
.bxmap-popup:before{top:15px;right:0;left:0;}
.bxmap-popup:after{left:150px;background:#fff;width:14px;height:14px;margin:0 0 -7px -7px;-webkit-transform:matrix(1,1,-1,1,0,0);-moz-transform:matrix(1,1,-1,1,0,0);-ms-transform:matrix(1,1,-1,1,0,0);-o-transform:matrix(1,1,-1,1,0,0);transform:matrix(1,1,-1,1,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.bxmap-popup .bxmap-popup-close{position:absolute;z-index:1;top:1px;right:-14px;width:28px;height:28px;border-radius:14px;background:url(images/map.png) no-repeat -70px 0;cursor:pointer;box-shadow:0 0 10px rgba(0,0,0,.3);}
.bxmap-popup .bxmap-popup-close:hover{background-position:-70px -30px;box-shadow:0 0 10px rgba(255,255,255,.3);}
.bxmap-cluster{font-size:11px;font-weight:bolder;text-align:center;background-repeat:no-repeat;cursor:pointer;}
.bxmap-cluster.bxmap-cluster-google{position:absolute;}
.bxmap-popup.bxmap-multiple{margin-top:5px;}
.bxmap-popup.bxmap-multiple .bxmap-data-container{margin-left:300px;}
.bxmap-popup.bxmap-multiple.bxmap-yandex{margin:2px 0 0 -153px;}
.bxmap-popup .bxmap-popup-list{display:none;position:absolute;top:15px;bottom:0;left:0;width:300px;background:#fff;}
.bxmap-popup.bxmap-multiple .bxmap-popup-list{display:block;}
.bxmap-popup-list .bxmap-list-item{margin-left:5px;}
.bxmap-popup-list .bxmap-list-item:after{content:"";opacity:0;position:absolute;top:0;bottom:0;left:-5px;width:5px;background:rgba(29,133,179,1);}
.bxmap-popup-list .bxmap-list-item.bxmap-active{background:rgba(29,133,179,.1);}
.bxmap-popup-list .bxmap-list-item.bxmap-active:after{opacity:1;}
.bxmap-popup-list .bxmap-list-title{border-bottom:1px dotted;}
.bxmap-popup-list .bxmap-list-item.bxmap-active .bxmap-list-title{border-color:transparent;text-shadow:0 1px #fff;}
.bxmap-popup-list .bxmap-scroll-wrapper{left:-5px;}
.bxmap-data-container{width:300px;}
.bxmap-sizer{width:300px;visibility:hidden;left:-1000px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 20px;}
.bxmap-popup .bxmap-popup-image{overflow:hidden;display:block;}
.bxmap-popup .bxmap-popup-image img{display:block;width:100%;}
.bxmap-popup .bxmap-popup-container{position:relative;padding:20px;background:#fff;}
.bxmap-popup .bxmap-item-geo{display:none;}
.bxmap-popup .bxmap-item-info,.bxmap-popup .bxmap-item-detail{margin:0;}
.bxmap-popup .bxmap-item-name{margin:0;font-size:1.08em;}
.bxmap-category-list .bxmap-item-direction{display:none;}
.bxmap-popup .bxmap-item-direction{float:left;margin:8px 0 7px 25px;padding:3px 6px;border:1px solid #b1b2bc;border-radius:3px;line-height:16px;color:#1d85b3;cursor:pointer;}
.bxmap-popup .bxmap-item-direction:hover{background:#1d85b3;border-color:#1d85b3;color:#fff;}
.bxmap-popup .bxmap-item-direction:before{content:"";float:left;width:16px;height:16px;margin:0 0 0 -31px;background:url(images/map.png) no-repeat -160px -40px;}
.bxmap-popup .bxmap-item-description{clear:both;margin:0;padding:7px 0 0;}
.bxmap-popup .bxmap-item-address{clear:both;margin:7px 0 0;}
.bxmap-popup .bxmap-item-opening{color:#696969;margin:0 0 12px;}
.bxmap-popup .bxmap-item-info .bxmap-item-opening{margin:12px 0 0;}
.bxmap-popup .bxmap-item-contacts{overflow:hidden;margin:12px 0 0;padding:0 0 0 130px;word-wrap:break-word;}
.bxmap-popup .bxmap-item-contacts.single{padding:0;}
.bxmap-popup .bxmap-item-contacts .bxmap-item-phone-set{float:left;width:120px;margin:0 0 0 -130px;padding:0;}
.bxmap-popup .bxmap-item-contacts .bxmap-item-phone-number{padding:0;background:0 0;}
.bxmap-direction{right:20px;bottom:auto;left:20px;height:103px;}
.bxmap-direction.bxmap-collapse{display:none;}
.bxmap-direction .bxmap-section-head{padding-left:40px;}
.bxmap-direction .bxmap-section-head:before{height:16px;margin:-8px 0 0;background-position:-140px -40px;}
.bxmap-direction .bxmap-section-subtitle{right:110px;padding:0 0 0 40px;}
.bxmap-direction-points{position:relative;height:30px;margin-right:300px;padding:0 30px 0 0;}
.bxmap-direction-point{float:left;position:relative;width:50%;background:#fff;}
.bxmap-direction-point~.bxmap-direction-point{float:right;margin-right:-30px;}
.bxmap-direction-point .bxmap-direction-filter{margin:0;padding:0 0 0 7px;}
.bxmap-direction-point.bxmap-filter-point:before{content:"";position:absolute;top:50%;left:7px;width:12px;height:16px;margin:-7px 0 0;background:url(images/map.png) no-repeat -55px 0;}
.bxmap-direction-point .bxmap-direction-select{overflow:hidden;text-overflow:ellipsis;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:30px;padding:0 7px 0 26px;border:1px solid #b0b1ba;border-radius:4px;white-space:nowrap;line-height:28px;box-shadow:inset 0 2px 2px rgba(0,0,0,.1);}
.bxmap-direction-reverse{overflow:hidden;position:absolute;top:50%;left:50%;width:30px;height:30px;margin:-15px 0 0 -15px;cursor:pointer;}
.bxmap-direction-reverse:after{content:"";position:absolute;top:50%;left:50%;width:14px;height:16px;margin:-8px 0 0 -7px;background:url(images/map.png) no-repeat -120px -40px;}
.bxmap-direction-reverse-title{display:none;}
.bxmap-direction-reverse-input{position:absolute;left:-100px;}
.bxmap-direction-types{float:right;height:28px;margin:0 0 0 15px;border:1px solid #b1b2bc;border-radius:3px;font-size:0;background:#b1b2bc;}
.bxmap-direction-type:first-child{border-radius:3px 0 0 3px;}
.bxmap-direction-type:last-child{border-radius:0 3px 3px 0;}
.bxmap-direction-type{overflow:hidden;display:inline-block;position:relative;width:40px;height:100%;background:#dfdfdf;background-image:-webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-moz-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-ms-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-o-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));box-shadow:inset 0 1px 1px #fff;text-shadow:-1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(255,255,255,.8);cursor:pointer;}
.bxmap-direction-type+.bxmap-direction-type{margin-left:1px;}
.bxmap-direction-type:after{content:"";position:absolute;top:50%;left:50%;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-direction-type.bxmap-walking:after{width:11px;height:17px;margin:-9px 0 0 -6px;background-position:-120px -20px;}
.bxmap-direction-type.bxmap-bicycling:after{width:20px;height:17px;margin:-9px 0 0 -10px;background-position:-135px -20px;}
.bxmap-direction-type.bxmap-driving:after{width:18px;height:15px;margin:-7px 0 0 -9px;background-position:-160px -20px;}
.bxmap-direction-type.bxmap-transit:after{width:20px;height:18px;margin:-9px 0 0 -10px;background-position:-180px -20px;}
.bxmap-direction-type.bxmap-active{background:#fff;background-image:-webkit-linear-gradient(top,rgba(177,178,188,.5),rgba(255,255,255,0) 3px);background-image:-moz-linear-gradient(top,rgba(177,178,188,.5),rgba(255,255,255,0) 3px);background-image:-ms-linear-gradient(top,rgba(177,178,188,.5),rgba(255,255,255,0) 3px);background-image:-o-linear-gradient(top,rgba(177,178,188,.5),rgba(255,255,255,0) 3px);background-image:linear-gradient(top,rgba(177,178,188,.5),rgba(255,255,255,0) 3px);box-shadow:none;}
.bxmap-direction-type.bxmap-active.bxmap-walking:after{background-position:-120px 0;}
.bxmap-direction-type.bxmap-active.bxmap-bicycling:after{background-position:-135px 0;}
.bxmap-direction-type.bxmap-active.bxmap-driving:after{background-position:-160px 0;}
.bxmap-direction-type.bxmap-active.bxmap-transit:after{background-position:-180px 0;}
.bxmap-direction-type-input{position:absolute;left:-100px;}
.bxmap-direction-type-title{display:none;}
.bxmap-direction-create{float:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:30px;margin:0 0 0 15px;padding:0 7px;border:1px solid #b6b7c0;border-radius:3px;line-height:26px;color:#333;background:#dfdfdf;background-image:-webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-moz-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-ms-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:-o-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));background-image:linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,.3));box-shadow:inset 0 1px 1px #fff;text-shadow:-1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(255,255,255,.8);cursor:pointer;}
.bxmap-direction-create:disabled{opacity:.7;box-shadow:none;background:#dfdfdf;cursor:default;}
.bxmap-direction-create:not(:disabled):hover{color:#345a88;}
.bxmap-section.bxmap-points{top:145px;right:auto;bottom:20px;left:20px;width:320px;}
.bxmap-points .bxmap-section-head:before{width:14px;height:17px;margin:-9px 0 0;background-position:-55px -40px;}
.bxmap-points .bxmap-error-message-container{display:table;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;}
.bxmap-points .bxmap-error-message{opacity:.7;display:table-cell;padding:20px 20px 60px;vertical-align:middle;text-align:center;}
.bxmap-points.bxmap-loading .bxmap-loading-informer{opacity:.2;}
.bxmap-points .bxmap-show{display:block;padding-left:40px;}
.bxmap-points .bxmap-show:hover{background:0 0;}
.bxmap-points.bxmap-collapse{bottom:auto;width:auto;}
.bxmap-points .bxmap-section-subtitle{right:105px;padding:0 0 0 15px;}
.bxmap-points.bxmap-collapse .bxmap-section-subtitle{display:none;}
.bxmap-single-scroll .bxmap-route-point{position:relative;padding:10px 20px 10px 40px;}
.bxmap-route-point.bxmap-action:before,.bxmap-route-point.bxmap-start:before,.bxmap-route-point.bxmap-end:before{content:"";position:absolute;top:0;left:0;width:24px;height:24px;background-image:url(images/maneuvers.png);background-repeat:no-repeat;margin:8px 0 0 8px;}
.bxmap-route-point.bxmap-start:before{background-position:-75px -150px;}
.bxmap-route-point.bxmap-end:before{background-position:-75px -175px;}
.bxmap-route-point.bxmap-action:before{opacity:.6;}
.bxmap-route-point.bxmap-action.slight-left:before{background-position:0 0;}
.bxmap-route-point.bxmap-action.left:before{background-position:0 -25px;}
.bxmap-route-point.bxmap-action.hard-left:before{background-position:0 -50px;}
.bxmap-route-point.bxmap-action.back-left:before{background-position:0 -75px;}
.bxmap-route-point.bxmap-action.exit-left:before{background-position:0 -100px;}
.bxmap-route-point.bxmap-action.fork-left:before{background-position:0 -125px;}
.bxmap-route-point.bxmap-action.enter-roundabout-left:before{background-position:0 -150px;}
.bxmap-route-point.bxmap-action.merge-left:before{background-position:0 -175px;}
.bxmap-route-point.bxmap-action.keep-left:before{background-position:0 -200px;}
.bxmap-route-point.bxmap-action.slight-right:before{background-position:-25px 0;}
.bxmap-route-point.bxmap-action.right:before{background-position:-25px -25px;}
.bxmap-route-point.bxmap-action.hard-right:before{background-position:-25px -50px;}
.bxmap-route-point.bxmap-action.back-right:before{background-position:-25px -75px;}
.bxmap-route-point.bxmap-action.exit-right:before{background-position:-25px -100px;}
.bxmap-route-point.bxmap-action.fork-right:before{background-position:-25px -125px;}
.bxmap-route-point.bxmap-action.enter-roundabout-right:before{background-position:-25px -150px;}
.bxmap-route-point.bxmap-action.merge-right:before{background-position:-25px -175px;}
.bxmap-route-point.bxmap-action.keep-right:before{background-position:-25px -200px;}
.bxmap-route-point.bxmap-action.leave-roundabout:before,.bxmap-route-point.bxmap-action.leave-roundabout-1:before{background-position:-50px 0;}
.bxmap-route-point.bxmap-action.leave-roundabout-2:before{background-position:-50px -25px;}
.bxmap-route-point.bxmap-action.leave-roundabout-3:before{background-position:-50px -50px;}
.bxmap-route-point.bxmap-action.leave-roundabout-4:before{background-position:-50px -75px;}
.bxmap-route-point.bxmap-action.leave-roundabout-5:before{background-position:-50px -100px;}
.bxmap-route-point.bxmap-action.leave-roundabout-6:before{background-position:-50px -125px;}
.bxmap-route-point.bxmap-action.leave-roundabout-7:before{background-position:-50px -150px;}
.bxmap-route-point.bxmap-action.straight:before{background-position:-75px 0;}
.bxmap-route-point.bxmap-action.merge:before{background-position:-75px -25px;}
.bxmap-route-point.bxmap-action.board-ferry:before{background-position:-75px -50px;}
.bxmap-route-point.bxmap-action.train-ferry:before{background-position:-75px -75px;}
.bxmap-route-point.bxmap-action.exit:before{background-position:-75px -100px;}