#catalogTableList li {
	display: block;
	border: 1px solid #F1F1F1;
	margin-bottom: 12px;
	padding: 12px 0;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#catalogTableList li:hover {
	border: 1px solid #c9c9c9;
}

#catalogTableList table {
	width: 100%;
	border-collapse: collapse;
}

#catalogTableList table td {
	padding-left: 6px;
	text-align: right;
}

#catalogTableList table td:first-child {
	padding: -left:0px;
}

#catalogTableList .imgLink {
	width: 50px;
	height: 50px;
	padding-left: 12px;
	text-align: left;
}

#catalogTableList .imgLink img {
	max-width: 50px;
	max-height: 50px;
}

#catalogTableList .link {
	text-align: left;
	padding-left: 24px;
	padding-right: 6px;
}

#catalogTableList .link a {
	color: #000;
	font: normal normal 14px "bender" , arial , sans-serif;
	display: inline-block;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
}

#catalogTableList .link a:hover {
	color: #4192d9;
}

#catalogTableList .available {
	color: #098b0f;
}

#catalogTableList .noAvailable {
	color: #9d9d9d;
}

#catalogTableList .available,
#catalogTableList .noAvailable {
	margin-bottom: 6px;
	display: block;
}

#catalogTableList .available img,
#catalogTableList .noAvailable img {
	vertical-align: middle;
}

#catalogTableList .addCompare {
	text-decoration: none;
	color: #9d9d9d;
	display: block;
	overflow: hidden;
	width: 80px;
}

#catalogTableList .addCompare:hover {
	color: #4192d9;
}

#catalogTableList .addCompare img {
	vertical-align: middle;
}

#catalogTableList .art span {
	font: normal normal 12px "bender" , arial , sans-serif;
	color: #9d9d9d;
	background-color: #f1f1f1;
	padding: 8px 12px;
}

#catalogTableList .pr {
	width: 94px;
}

#catalogTableList .pr .price {
	color: #000;
	font: normal normal 21px "bender" , arial , sans-serif;
	position: relative;
	white-space: nowrap;
}

#catalogTableList .pr .price s {
	font-size: 12px;
	color: #9d9d9d;
	position: absolute;
	top: -14px;
	display: block;
	width: 80px;
	left: 0px;
}

#catalogTableList .quantity {
	padding-right: 12px;
	width: 121px;
	padding-left: 0px;
}

#catalogTableList .quantity div {
	border-left: 1px solid #F1F1F1;
	margin-left: 12px;
	padding-left: 12px;
	text-align: left;
	white-space: nowrap;
}

#catalogTableList .cart {
	width: 104px;
}

#catalogTableList .addCart {
	display: block;
	margin: 12px auto;
	color: #fff;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 12px;
	text-decoration: none;
	width: 70px;
	background: url(images/incart.png) repeat #4192d9;
}

#catalogTableList .addCart:hover {
	background: url(images/incartHover.png) repeat #4192d9;
}

#catalogTableList .addCart:active {
	position: relative;
	top: 1px;
}