#smartFilter {
	position: relative;
	margin-bottom: 24px;
}

#smartFilter > ul {
	margin: 24px 0px;
	border-bottom: 1px solid #3c3c3c;
}

#smartFilter li.lvl1 {
	border-top: 1px solid #3c3c3c;
	margin-bottom: 24px;
	padding-left: 35px;
}

#smartFilter .hd2 {
	display: block;
	padding-left: 35px;
	font: normal normal 16px "bender" , arial , sans-serif;
	color: #4192d9;
	margin-bottom: 18px;
}

#smartFilter .hd3 {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #4192d9;
	padding: 18px 0px;
	display: block;
	text-decoration: none;
}

#smartFilter .off {
	display: none;
}

#smartFilter .showALL {
	color: #4192d9;
	padding: 9px 0px;
	display: block;
}

#smartFilter .showALL:hover {
	color: #0074d9;
}

#smartFilter .showALL:active {
	position: relative;
	top: 1px;
}

#smartFilter li ul li {
	margin-bottom: 4px;
}

#smartFilter li ul  li  label {
	cursor: pointer;
	font: normal normal 12px "bender" , arial , sans-serif;
	color: #c6c6c6;
	padding-left: 12px;
	vertical-align: top;
	text-shadow: 1px 1px 4px #202020;
}

#smartFilter ul  li  input[type="checkbox"] {
	height: 15px;
	width: 15px;
	display: inline-block;
	border: 0px;
}

#smartFilter  a.smartFilterAll {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #4192d9;
	margin-top: 12px;
	display: block;
}

#smartFilter   a.smartFilterAll:hover {
	color: #0074d9;
}

#smartFilter .rangeSlider {
	max-width: 302px;
}

#smartFilter .rangeSlider label {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #cecece;
	padding-right: 1%;
	vertical-align: middle;
	padding-left: 0px;
}

#smartFilter .lvl2_disabled label {
	color: #4d4d4d;
}

#smartFilter .rangeSlider span {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #cecece;
	display: inline-block;
}

#smartFilter .rangeSlider input[type="text"] {
	font: normal normal 12px "bender" , arial , sans-serif;
	display: inline-block;
	width: 26%;
	margin: 0% 4%;
	padding: 0px 4px;
	height: 25px;
	line-height: 25px;
	border-radius: 4px;
	background-color: #3b3b3b;
	border: 1px solid #000;
	color: #fff;
}

#smartFilter .rangeSlider input[type="text"]:focus {
	background-color: #4b4b4b;
}

#smartFilter .slider {
	background: url(images/uiBg.png) repeat 0 0 transparent;
	margin-top: 12px;
	height: 30px;
	position: relative;
	width: 92%;
}

#smartFilter .slider .handler {
	background: url(images/handlerActive.png) repeat 0 0 transparent;
	position: absolute;
	height: 14px;
	width: 100%;
	top: 7px;
	border-radius: 4px;
	cursor: pointer;
}

#smartFilter .slider .blackoutLeft,
#smartFilter .slider .blackoutRight {
	background: url(images/handler.png) repeat 0 0 transparent;
	position: absolute;
	height: 14px;
	width: 100%;
	top: 0px;
}

#smartFilter .slider .blackoutLeft {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	left: 0px;
	width: 0px;
}

#smartFilter .slider .blackoutRight {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	right: 0px;
	width: 0px;
}

#smartFilter .slider .trans {
	-webkit-transition: width 0.2s ease-in-out, visibility 0.2s linear;
	-moz-transition: width 0.2s ease-in-out, visibility 0.2s linear;
	-o-transition: width 0.2s ease-in-out, visibility 0.2s linear;
	transition: width 0.2s ease-in-out, visibility 0.2s linear;
}

#smartFilter .slider ins {
	display: block;
	height: 28px;
	width: 16px;
	background: url("images/motionButton.png") no-repeat 0 0 transparent;
	position: absolute;
	top: -7px;
	z-index: 10;
	cursor: pointer;
}

#smartFilter .slider ins:hover {
	background: url("images/motionButton.png") no-repeat 0 0 transparent;
}

#smartFilter .slider .left {
	right: -8px;
}

#smartFilter .slider .right {
	left: -8px;
}

#smartFilter #set_filter {
	background: url("images/incart.png") #4192D9;
	color: #FFFFFF;
	display: inline-block;
	font: 12px/25px "bender", "arial", sans-serif;
	height: 25px;
	padding: 0px 8px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	margin-left: 35px;
	cursor: pointer;
	text-decoration: none;
}

#smartFilter #set_filter img,
#smartFilter #del_filter img {
	vertical-align: baseline;
	padding-right: 4px;
}

#smartFilter #set_filter:hover {
	background: url("images/incartHover.png") #4192D9;
}

#smartFilter #del_filter {
	background-color: #111;
	display: inline-block;
	font: 12px/25px "bender", "arial", sans-serif;
	height: 25px;
	padding: 0px 8px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	margin-left: 12px;
	color: #5d5d5d;
	cursor: pointer;
	text-decoration: none;
}

#smartFilter #del_filter:hover {
	background-color: #171717;
}

#smartFilter #set_filter:active,
#smartFilter #del_filter:active {
	position: relative;
	top: 1px;
}

#smartFilter .modef {
	background: url("images/modef.png") transparent;
	color: #9E9E9E;
	font: 14px/31px "bender", "arial", sans-serif;
	height: 31px;
	padding-left: 18px;
	position: absolute;
	right: -190px;
	width: 170px;
	z-index: 99;
}

#smartFilter .modef #modef_num {
	color: #fff;
	font: 14px/25px "bender", "arial", sans-serif;
}

#smartFilter .modef a {
	color: #4192d9;
	font: 14px/25px "bender", "arial", sans-serif;
	text-decoration: none;
}

#smartFilter .modef a:hover {
	color: #0074d9;
}

#smartFilter .modef a.close {
	background: url("images/close.png") 0 0 no-repeat transparent;
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
}

#smartFilter .modef a.close:hover {
	background: url("images/close.png") -8px 0 no-repeat transparent;
}