@charset utf-8;
#bxMapContainer{position:absolute;top:0;right:0;bottom:0;left:0;direction:ltr;font:16px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;color:#123;letter-spacing:0;text-align:left;text-decoration:none;text-indent:0;text-transform:none;vertical-align:0;white-space:normal;word-spacing:0;}
.bxmap-wrapper form,.bxmap-wrapper button,.bxmap-wrapper input,.bxmap-wrapper textarea,.bxmap-wrapper a{font:inherit;}
.bxmap-wrapper a{color:#1d85b3;}
.bxmap-wrapper a:hover{color:#ca0000;}
.bxmap-wrapper img{border:0;}
.bxmap-none{display:none!important;}
.alt-block,.alt-unordered-list,.alt-definition-list,.alt-definition-title,.alt-definition-description{display:block;}
.alt-list-item{display:list-item;list-style:none;}
.alt-inline{display:inline;}
.alt-inline.bxmap-bolder{font-weight:bolder;}
.bxmap-header{position:relative;margin:0 0 5px;background:#fff;}
.bxmap-header.bxmap-content{min-height:40px;}
.bxmap-header:before{content:"";position:absolute;top:0;right:0;left:0;height:29px;border-top:1px solid #fff;background-image:-webkit-linear-gradient(top,rgba(0,0,0,.05),rgba(255,255,255,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05),rgba(255,255,255,0));background-image:-ms-linear-gradient(top,rgba(0,0,0,.05),rgba(255,255,255,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.05),rgba(255,255,255,0));background-image:linear-gradient(top,rgba(0,0,0,.05),rgba(255,255,255,0));}
.bxmap-header:after{content:"";position:absolute;right:0;bottom:-5px;left:0;height:5px;background:url(images/edge.png) repeat-x;background-size:36px auto;}
.bxmap-switch .bxmap-body{display:none;}
.bxmap-switch .bxmap-body.bxmap-active{display:block;}
.bxmap-navigation{display:table;position:relative;z-index:1;border-collapse:collapse;width:100%;font-size:.9375em;background:-webkit-radial-gradient(50% 0,200% 100%,rgba(255,255,255,.3),rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 51%),-webkit-linear-gradient(top,#f0efee,#c4c2bd);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.3),rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 51%),-moz-linear-gradient(top,#f0efee,#c4c2bd);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.3),rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 51%),-ms-linear-gradient(top,#f0efee,#c4c2bd);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.3),rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 51%),-o-linear-gradient(top,#f0efee,#c4c2bd);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.3),rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 51%),linear-gradient(top,#f0efee,#c4c2bd);box-shadow:0 1px #fff;}
.bxmap-navigation.narrow{font-size:.8125em;}
.bxmap-navigation-item{display:table-cell;height:40px;border-bottom:1px solid #908d87;text-align:center;box-shadow:inset 0 1px #fff;}
.bxmap-navigation-item+.bxmap-navigation-item{border-left:1px solid #908d87;}
.bxmap-navigation-item .bxmap-navigation-title{display:block;position:relative;z-index:1;height:100%;line-height:40px;font-weight:bolder;color:#67635b;text-shadow:0 1px #fff;}
.bxmap-navigation-item.bxmap-active .bxmap-navigation-title{color:#312d2b;text-shadow:none;}
.bxmap-navigation-item .bxmap-navigation-title:after{content:"";display:none;position:absolute;z-index:1;top:100%;left:50%;width:20px;height:7px;margin:0 0 0 -10px;background:url(images/map.png) no-repeat 0 -25px;}
.bxmap-navigation-item.bxmap-active .bxmap-navigation-title:after{display:block;}
.bxmap-navigation-item .bxmap-navigation-count{overflow:hidden;float:right;position:relative;z-index:2;width:18px;height:18px;margin:3px 3px 0 -23px;border:1px solid #fff;border-radius:100%;font-size:.8462em;font-weight:bolder;line-height:17px;text-align:center;color:#fff;text-shadow:0 0 1px rgba(0,0,0,.5);box-shadow:inset 0 0 1px rgba(0,0,0,.5),0 -1px 1px rgba(0,0,0,.1),0 1px 1px rgba(255,255,255,.2);background-color:#ccc;background-image:radial-gradient(16px 16px at 50% -6px,rgba(255,255,255,.2) 100%,rgba(255,255,255,0) 100%),linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.25));background-image:-webkit-radial-gradient(50% -6px,16px 16px,rgba(255,255,255,.2) 99%,rgba(255,255,255,0) 99%),-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.25));background-image:radial-gradient(16px 16px at 50% -6px,rgba(255,255,255,.2) 100%,rgba(255,255,255,0) 100%),-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.25));background-image:radial-gradient(16px 16px at 50% -6px,rgba(255,255,255,.2) 100%,rgba(255,255,255,0) 100%),-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.25));background-image:radial-gradient(16px 16px at 50% -6px,rgba(255,255,255,.2) 100%,rgba(255,255,255,0) 100%),-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.25));transition:ease-out .2s;-webkit-transition:ease-out .2s;-moz-transition:ease-out .2s;-o-transition:ease-out .2s;}
.bxmap-navigation-item.bxmap-active .bxmap-navigation-count{background-color:#999;}
.bxmap-item{position:relative;}
.bxmap-item a{text-decoration:none;color:#5d5a59;}
.bxmap-item>a,.bxmap-item>span,.bxmap-group .bxmap-item.bxmap-next>a,.bxmap-group .bxmap-item.bxmap-next>span,.bxmap-group.bxmap-status .bxmap-item>a,.bxmap-group.bxmap-status .bxmap-item>span{display:block;}
.bxmap-item>a,.bxmap-item>span{padding:15px 0;vertical-align:middle;}
.bxmap-items .bxmap-item{padding:15px 0;}
.bxmap-items .bxmap-item>a,.bxmap-items .bxmap-item>span,.bxmap-group .bxmap-item.bxmap-next{padding:0;}
.bxmap-group .bxmap-item>a,.bxmap-group .bxmap-item>span,.bxmap-group .bxmap-item label>a,.bxmap-group .bxmap-item label>span{display:inline-block;padding:0 10px;}
.bxmap-group.bxmap-status .bxmap-item>a,.bxmap-group.bxmap-status .bxmap-item>span{padding:15px 10px;line-height:normal;}
.bxmap-item.bxmap-next>a,.bxmap-item.bxmap-next>span,.bxmap-item.bxmap-next>label,.box .bxmap-item>label,.bxmap-group.bxmap-status .bxmap-item>a,.bxmap-group.bxmap-status .bxmap-item>span{padding-right:35px;}
.bxmap-items .bxmap-item.bxmap-next>a,.bxmap-items .bxmap-item.bxmap-next>span,.bxmap-items .bxmap-item.bxmap-next>label{padding-right:20px;}
.bxmap-group .bxmap-item .bxmap-block{display:block;padding-top:15px;padding-bottom:15px;line-height:normal;}
.bxmap-group.bxmap-icon .bxmap-item .bxmap-block,.bxmap-group .bxmap-item .bxmap-block.bxmap-icon{padding-right:15px;padding-left:40px;}
.bxmap-group.bxmap-icon .bxmap-block:before,.bxmap-group .bxmap-block.bxmap-icon:before{content:"";position:absolute;top:15px;left:10px;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-icon .bxmap-block.geo:before,.bxmap-block.bxmap-icon.geo:before{width:13px;height:18px;margin:1px 0 0 4px;background-position:0 -45px;}
.bxmap-icon .bxmap-block.time:before,.bxmap-block.bxmap-icon.time:before{width:17px;height:17px;margin:2px 0 0 2px;background-position:-20px -45px;}
.bxmap-icon .bxmap-block.bxmap-phone:before,.bxmap-block.bxmap-icon.bxmap-phone:before{width:13px;height:17px;margin:2px 0 0 4px;background-position:-40px -45px;}
.bxmap-icon .bxmap-block.bxmap-url:before,.bxmap-block.bxmap-icon.bxmap-url:before{width:20px;height:20px;margin:0;background-position:-55px -45px;}
.bxmap-icon .bxmap-block.email:before,.bxmap-block.bxmap-icon.email:before{width:17px;height:12px;margin:4px 0 0 1px;background-position:-80px -45px;}
.bxmap-icon .bxmap-block.fail:before,.bxmap-block.bxmap-icon.fail:before{width:14px;height:14px;margin:3px 0 0 3px;background-position:-80px -25px;}
.bxmap-icon .bxmap-block.success:before,.bxmap-block.bxmap-icon.success:before{width:14px;height:14px;margin:3px 0 0 3px;background-position:-95px -25px;}
.bxmap-group.bxmap-icon .bxmap-block.wait,.bxmap-group .bxmap-block.bxmap-icon.wait{padding-left:15px;padding-right:50px;}
.bxmap-icon .bxmap-block.wait:before,.bxmap-block.bxmap-icon.wait:before{right:10px;left:auto;width:32px;height:32px;margin:-6px 0 0;background-image:url(images/loader.gif);background-size:32px auto;}
.bxmap-item.bxmap-next:after,.bxmap-group.bxmap-status .bxmap-item:after{content:"";position:absolute;top:50%;right:10px;background-image:url(images/map.png);background-repeat:no-repeat;}
.bxmap-item.bxmap-next:after{width:10px;height:14px;margin:-7px 0 0;background-position:-60px -25px;}
.bxmap-items .bxmap-item.next:after{right:0;}
.single .bxmap-item>a,.bxmap-item.single>a,.single .bxmap-item>span,.bxmap-item.single>span{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.bxmap-item.bxmap-active{background:#dcd9ce;background:-webkit-linear-gradient(top,#e0ddd3,#d8d5cb);background:-moz-linear-gradient(top,#e0ddd3,#d8d5cb);background:-ms-linear-gradient(top,#e0ddd3,#d8d5cb);background:-o-linear-gradient(top,#e0ddd3,#d8d5cb);background:linear-gradient(top,#e0ddd3,#d8d5cb);}
.bxmap-item .bxmap-info-container{margin:0;}
.bxmap-header+.bxmap-items{margin-top:-5px;}
.bxmap-items{padding:0 15px;}
.bxmap-items.bxmap-cat-items{padding:0;}
.bxmap-items .bxmap-item{overflow:hidden;}
.bxmap-items .bxmap-item,.bxmap-items+.bxmap-items .bxmap-item:first-child,.bxmap-items+.bxmap-items .bxmap-item.bxmap-first{border-top:2px dotted #c3c3c3;}
.bxmap-items.bxmap-cat-items .bxmap-item{padding-left:15px;padding-right:15px;cursor:pointer;}
.bxmap-items.bxmap-cat-items .bxmap-item:after{width:10px;margin-right:15px;}
.bxmap-items .bxmap-item:first-child,.bxmap-items .bxmap-item.bxmap-first{border-top:0;}
.bxmap-item .bxmap-data,.bxmap-item .bxmap-status{color:#5d5959;}
.bxmap-item .bxmap-status,.bxmap-item .bxmap-address,.bxmap-item .bxmap-more{font-size:.875em;}
.bxmap-item .bxmap-description{margin:0 0 5px;font-weight:bolder;color:#312d2b;}
.bxmap-item .bxmap-more,.bxmap-item .bxmap-address{margin:5px 0 0;}
.bxmap-info{margin:0 0 15px;}
.bxmap-item .bxmap-status{float:right;font-weight:bolder;}
.bxmap-item .bxmap-image{float:left;width:60px;margin:5px 0 0;}
.bxmap-item .bxmap-image~.bxmap-date,.bxmap-item .bxmap-image~.bxmap-data{margin-left:70px;}
.bxmap-content .bxmap-info-container figure,.bxmap-image{display:block;margin:0 0 15px;}
.bxmap-image.big{width:240px;margin:0 auto 30px;}
.bxmap-image.round{overflow:hidden;border-radius:100%;box-shadow:0 0 10px rgba(0,0,0,.3);}
.bxmap-content .bxmap-info-container figure img,.bxmap-image img{display:block;width:100%;}
.bxmap-group{margin:0 0 15px;border:1px solid #bdbab6;border-radius:5px;background:#fff;box-shadow:inset 0 1px 1px rgba(0,0,0,.12),0 1px rgba(255,255,255,.5);}
.bxmap-group.bxmap-icon,.bxmap-group.bxmap-status{box-shadow:0 0 4px rgba(0,0,0,.2);}
.bxmap-group .bxmap-item{display:block;min-height:42px;line-height:42px;}
.bxmap-group .message+.bxmap-item,.bxmap-group .bxmap-item+.bxmap-item,.bxmap-group .bxmap-item+.bxmap-fieldset,.bxmap-group .bxmap-fieldset+.bxmap-item{border-top:1px solid #bdbab6;}
.bxmap-group .bxmap-item .bxmap-title{display:inline-block;width:75px;color:#9d9b97;}
.bxmap-group .bxmap-item .bxmap-text{overflow:hidden;padding:0;white-space:nowrap;text-overflow:ellipsis;}
.bxmap-group .bxmap-item .bxmap-text,.bxmap-group .bxmap-item input[type=text],.bxmap-group .bxmap-item input[type=password],.bxmap-group .bxmap-item input[type=email],.bxmap-group .bxmap-item input[type=phone]{width:175px;vertical-align:middle;color:#312d2b;}
.bxmap-group .bxmap-item textarea{overflow:auto;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0;padding:5px 10px;border:0;line-height:1.5;}
.bxmap-group .bxmap-item .bxmap-text{display:inline-block;}
.bxmap-group .bxmap-item .bxmap-phone{font-weight:400;}
.bxmap-group .bxmap-item input{margin:0;padding:0;border:0;}
.bxmap-group .bxmap-item.error input{color:#ad1e11;}
.bxmap-group .bxmap-item input,.bxmap-group .bxmap-item input:focus{outline:0;box-shadow:none;}
.bxmap-button{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:41px;margin:15px 0;border:1px solid #43413e;border-radius:5px;text-align:center;font-weight:bolder;line-height:38px;color:#fff;text-shadow:0 -1px rgba(0,0,0,.3);text-decoration:none;background:-webkit-radial-gradient(50% 0,200% 100%,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-webkit-linear-gradient(top,#78746d,#53514c);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-moz-linear-gradient(top,#78746d,#53514c);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-ms-linear-gradient(top,#78746d,#53514c);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-o-linear-gradient(top,#78746d,#53514c);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),linear-gradient(top,#78746d,#53514c);box-shadow:inset 0 1px rgba(255,255,255,.5),0 1px #fff;}
button.bxmap-button{width:100%;}
.bxmap-button:active,.bxmap-button.bxmap-active{background:-webkit-linear-gradient(top,#4a4741,#6d6861);background:-moz-linear-gradient(top,#4a4741,#6d6861);background:-ms-linear-gradient(top,#4a4741,#6d6861);background:-o-linear-gradient(top,#4a4741,#6d6861);background:linear-gradient(top,#4a4741,#6d6861);box-shadow:inset 0 3px 2px rgba(0,0,0,.3),0 1px #fff;}
[disabled] .bxmap-button,.bxmap-button[disabled],.bxmap-button.disabled{border-color:#999795;text-shadow:0 -1px #999795;background:-webkit-radial-gradient(50% 0,200% 100%,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-webkit-linear-gradient(top,#b3b1ae,#a2a19d);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-moz-linear-gradient(top,#b3b1ae,#a2a19d);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-ms-linear-gradient(top,#b3b1ae,#a2a19d);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),-o-linear-gradient(top,#b3b1ae,#a2a19d);background:radial-gradient(200% 100% at 50% 0,rgba(255,255,255,.1),rgba(255,255,255,.05) 50%,rgba(255,255,255,0) 51%),linear-gradient(top,#b3b1ae,#a2a19d);box-shadow:inset 0 1px #c9c8c5,0 1px #fff;}
.bxmap-page-container{position:absolute;top:0;right:0;bottom:0;left:0;background:#e7e5df;}
.bxmap-page-list,.bxmap-page-map{position:absolute;top:0;right:0;}
.bxmap-page-list{overflow:hidden;z-index:1;left:100%;background:#eee url(images/back.png);background-size:75px auto;box-shadow:0 0 25px rgba(0,0,0,.3);}
.bxmap-page-list.bxmap-active{left:0;}
.bxmap-page-list.bxmap-hide{max-height:100%;}
.bxmap-page-map{overflow:hidden;bottom:0;left:0;}
.bxmap-page-map.bxmap-active{overflow-y:visible;}
.bxmap-error-container .bxmap-group{margin:0;}
.bxmap-error-message{position:relative;z-index:1;padding:15px;}
.bxmap-page-item{display:none;position:absolute;right:0;left:0;background:#eee url(images/back.png);background-size:75px auto;}
.bxmap-page-item.bxmap-active{display:block;}
.bxmap-page-item.bxmap-hide{top:100%;}
.bxmap-hide .bxmap-item .bxmap-description,.bxmap-hide .bxmap-item .bxmap-address,.bxmap-hide .bxmap-item .bxmap-points{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.bxmap-page-item .bxmap-header .bxmap-item:before,.bxmap-page-item .bxmap-header .bxmap-item:after{content:"";position:absolute;top:-18px;left:50%;}
.bxmap-without-map .bxmap-page-item .bxmap-header .bxmap-item:before,.bxmap-without-map .bxmap-page-item .bxmap-header .bxmap-item:after{display:none;}
.bxmap-page-item .bxmap-header .bxmap-item:before{clip:rect(0 auto 18px 0);width:44px;height:44px;margin:0 0 0 -22px;border-radius:100%;background:rgba(0,0,0,.3);}
.bxmap-page-item .bxmap-header .bxmap-item:after{width:12px;height:8px;margin:8px 0 0 -6px;background:url(images/map.png) no-repeat -25px -25px;}
.bxmap-page-item .bxmap-header .bxmap-route,.bxmap-page-item .bxmap-header .bxmap-route-link{position:absolute;top:0;height:100%;}
.bxmap-page-item .bxmap-header .bxmap-route{right:0;width:80px;text-align:center;font-size:.875em;transition:ease-out .2s;-webkit-transition:ease-out .2s;-moz-transition:ease-out .2s;-o-transition:ease-out .2s;}
.bxmap-page-item .bxmap-header .bxmap-item .bxmap-route:before{content:"";position:absolute;top:10px;bottom:5px;left:-1px;width:1px;background-image:-webkit-linear-gradient(top,rgba(0,0,0,.3),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.3),rgba(0,0,0,0));background-image:-ms-linear-gradient(top,rgba(0,0,0,.3),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.3),rgba(0,0,0,0));background-image:linear-gradient(top,rgba(0,0,0,.3),rgba(0,0,0,0));}
.bxmap-page-item .bxmap-header .bxmap-route-link{left:0;width:100%;color:#0055b1;}
.bxmap-page-item .bxmap-header .bxmap-route-title{position:absolute;top:50%;right:0;left:0;margin:-18px 0 0;}
.bxmap-page-item .bxmap-header .bxmap-route-title:before{content:"";display:block;width:21px;height:22px;margin:auto;background:url(images/map.png) no-repeat 0 -70px;}
.bxmap-page-item .bxmap-header .bxmap-data{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 15px;}
.bxmap-page-item .bxmap-header .bxmap-route~.bxmap-data{margin-right:80px;}
.bxmap-page-few{overflow:hidden;position:absolute;right:0;bottom:0;left:0;}
.bxmap-header-few{position:relative;padding:0 15px;color:#fff;background:rgba(0,67,141,.85);}
.bxmap-header-count-few{position:absolute;top:50%;right:15px;height:26px;margin:-14px 0 0;padding:0 15px;border:1px solid #fff;border-radius:14px;line-height:26px;}
.bxmap-content-few{overflow:hidden;position:relative;background:#eee url(images/back.png);}
.bxmap-content-few .bxmap-address{display:none;}
.bxmap-catcontainer{overflow:hidden;}
.bxmap-catlist{margin:0 -1px;border-top:1px solid #fff;font-size:0;text-align:justify;text-justify:newspaper;}
.bxmap-catlist:after{content:"";display:inline-block;width:100%;}
.bxmap-catlist .bxmap-item{display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33.33%;border-top:1px solid rgba(255,255,255,.7);border-right:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-left:1px solid rgba(255,255,255,.7);vertical-align:top;font-size:.75rem;line-height:1;font-weight:bolder;text-align:center;text-justify:normal;}
.bxmap-catlist .bxmap-item:nth-child(3n){border-right:0;}
.bxmap-catlist .bxmap-item a{color:#312d29;}
.bxmap-catlist .bxmap-item>a{height:70px;padding:10px 0 0;text-shadow:1px 1px #fff;}
.bxmap-catlist .bxmap-item>a:before{content:"";display:block;width:30px;height:30px;margin:0 auto 8px;background-repeat:no-repeat;background-size:auto 30px;}
.bxmap-reverse .bxmap-navigation{table-layout:fixed;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title{font-size:0;text-indent:-1000px;line-height:0;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title input{position:absolute;top:-1000px;left:-1000px;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title:before{content:"";opacity:.5;position:absolute;top:50%;left:50%;background:url(images/map.png) no-repeat;}
.bxmap-reverse .bxmap-navigation .bxmap-active .bxmap-navigation-title:before{opacity:1;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title.walking:before{width:14px;height:22px;margin:-11px 0 0 -7px;background-position:-55px -70px;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title.transit:before{width:27px;height:24px;margin:-12px 0 0 -14px;background-position:-25px -70px;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title.driving:before{width:25px;height:19px;margin:-10px 0 0 -13px;background-position:-70px -70px;}
.bxmap-reverse .bxmap-navigation .bxmap-navigation-title.bicycling:before{width:27px;height:24px;margin:-12px 0 0 -14px;background-position:-95px -70px;}
.bxmap-reverse .bxmap-group.bxmap-fieldset{position:relative;margin:0;padding:0 40px 0 0;}
.bxmap-reverse .bxmap-group.bxmap-fieldset.bxmap-status:first-child{margin-top:-10px;}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-item{padding:0 10px;}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-item input[type=text]{width:100%;}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-change{overflow:hidden;position:absolute;top:0;right:0;bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:40px;margin:0;padding:0;border:0;border-left:1px solid #bfbbb7;border-radius:0 4px 4px 0;text-indent:-1000px;background:#fff;background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12));background-image:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12));background-image:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12));background-image:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12));background-image:linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12));}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-change:active{background:#efefef;}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-change:after{content:"";position:absolute;top:50%;left:50%;width:22px;height:17px;margin:-9px 0 0 -11px;background-image:url(images/map.png);background-repeat:no-repeat;background-position:-100px -45px;}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-item.bxmap-object{position:relative;}
.bxmap-reverse .bxmap-group.bxmap-fieldset .bxmap-item.bxmap-object .bxmap-data{overflow:hidden;position:absolute;top:50%;right:10px;left:10px;margin:-.5em 0 0;padding:0;line-height:1em;text-overflow:ellipsis;white-space:nowrap;}
.bxmap-routeinfo .bxmap-head{text-align:left;}
.bxmap-routeinfo .bxmap-items{padding:0;}
.bxmap-header .bxmap-item .bxmap-points{line-height:1.25;}
.bxmap-header .bxmap-item .bxmap-points+.bxmap-points{margin-top:5px;}
.bxmap-hide .bxmap-header .bxmap-item .bxmap-points{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.bxmap-header .bxmap-item .bxmap-title{margin:0 10px 0 0;color:#9d9b97;}
.bxmap-routedetail{margin:0 -15px;}
.bxmap-routedetail .bxmap-head{margin:0 0 0 35px;}
.bxmap-routedetail .bxmap-body{margin:10px 0 0;}
.bxmap-routedetail .bxmap-body .bxmap-direction-points{border-top:2px dotted #c3c3c3;}
.bxmap-routedetail .bxmap-point{position:relative;padding:10px 0 10px 35px;border-bottom:2px dotted #c3c3c3;}
.bxmap-routedetail .bxmap-point .bxmap-text{position:relative;}
.bxmap-routedetail .bxmap-point .bxmap-order{opacity:.3;float:right;margin:-3px 7px 0;font-size:1.5em;line-height:1;}
.bxmap-routedetail .bxmap-distance{position:relative;margin:10px 5em 0 0;padding:6px 0 0;line-height:1em;color:#5d5959;}
.bxmap-routedetail .bxmap-distanceline{display:block;position:relative;height:6px;background:rgba(0,0,0,.05);}
.bxmap-routedetail .bxmap-distancesegment{position:absolute;top:0;right:0;bottom:0;min-width:2px;background:rgba(0,0,0,.3);}
.bxmap-routedetail .bxmap-distancetext{position:absolute;top:50%;right:-5em;width:4em;margin:-.5em 0 0;font-size:.875em;line-height:1;}
.bxmap-routedetail .bxmap-note{margin:15px;padding:15px 20px;border:1px solid #bdbab6;border-radius:5px;background:#fefdeb;box-shadow:0 0 4px rgba(0,0,0,.2);}
.bxmap-routedetail .bxmap-copyright{margin:15px 15px 0 35px;font-size:.75em;}
.bxmap-routedetail .bxmap-point div.instructions{color:#9d9b97;}
.bxmap-routedetail .bxmap-point.bxmap-action:before,.bxmap-routedetail .bxmap-point.bxmap-start:before,.bxmap-routedetail .bxmap-point.bxmap-end:before{content:"";position:absolute;top:0;left:0;width:24px;height:24px;background-image:url(images/maneuvers.png);background-repeat:no-repeat;background-size:100px auto;margin:10px 0 0 3px;}
.bxmap-routedetail .bxmap-point.bxmap-start:before{background-position:-75px -150px;}
.bxmap-routedetail .bxmap-point.bxmap-end:before{background-position:-75px -175px;}
.bxmap-routedetail .bxmap-point.bxmap-action:before{opacity:.6;}
.bxmap-routedetail .bxmap-point.bxmap-action.slight-left:before{background-position:0 0;}
.bxmap-routedetail .bxmap-point.bxmap-action.left:before{background-position:0 -25px;}
.bxmap-routedetail .bxmap-point.bxmap-action.hard-left:before{background-position:0 -50px;}
.bxmap-routedetail .bxmap-point.bxmap-action.back-left:before{background-position:0 -75px;}
.bxmap-routedetail .bxmap-point.bxmap-action.exit-left:before{background-position:0 -100px;}
.bxmap-routedetail .bxmap-point.bxmap-action.fork-left:before{background-position:0 -125px;}
.bxmap-routedetail .bxmap-point.bxmap-action.enter-roundabout-left:before{background-position:0 -150px;}
.bxmap-routedetail .bxmap-point.bxmap-action.merge-left:before{background-position:0 -175px;}
.bxmap-routedetail .bxmap-point.bxmap-action.keep-left:before{background-position:0 -200px;}
.bxmap-routedetail .bxmap-point.bxmap-action.slight-right:before{background-position:-25px 0;}
.bxmap-routedetail .bxmap-point.bxmap-action.right:before{background-position:-25px -25px;}
.bxmap-routedetail .bxmap-point.bxmap-action.hard-right:before{background-position:-25px -50px;}
.bxmap-routedetail .bxmap-point.bxmap-action.back-right:before{background-position:-25px -75px;}
.bxmap-routedetail .bxmap-point.bxmap-action.exit-right:before{background-position:-25px -100px;}
.bxmap-routedetail .bxmap-point.bxmap-action.fork-right:before{background-position:-25px -125px;}
.bxmap-routedetail .bxmap-point.bxmap-action.enter-roundabout-right:before{background-position:-25px -150px;}
.bxmap-routedetail .bxmap-point.bxmap-action.merge-right:before{background-position:-25px -175px;}
.bxmap-routedetail .bxmap-point.bxmap-action.keep-right:before{background-position:-25px -200px;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout:before{background-position:-50px 0;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-1:before{background-position:-50px 0;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-2:before{background-position:-50px -25px;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-3:before{background-position:-50px -50px;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-4:before{background-position:-50px -75px;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-5:before{background-position:-50px -100px;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-6:before{background-position:-50px -125px;}
.bxmap-routedetail .bxmap-point.bxmap-action.leave-roundabout-7:before{background-position:-50px -150px;}
.bxmap-routedetail .bxmap-point.bxmap-action.straight:before{background-position:-75px 0;}
.bxmap-routedetail .bxmap-point.bxmap-action.merge:before{background-position:-75px -25px;}
.bxmap-routedetail .bxmap-point.bxmap-action.board-ferry:before{background-position:-75px -50px;}
.bxmap-routedetail .bxmap-point.bxmap-action.train-ferry:before{background-position:-75px -75px;}
.bxmap-routedetail .bxmap-point.bxmap-action.exit:before{background-position:-75px -100px;}
.bxmap-content{padding:15px;}
.bxmap-content>p{margin:0 0 15px;}
.bxmap-content>:last-child{margin-bottom:0;}
.bxmap-page-item .opening{margin:15px 10px;}
.bxmap-page-item.bxmap-loading .bxmap-content .bxmap-loading{display:block;}
.bxmap-cluster{font-size:11px;font-weight:bolder;text-align:center;background-repeat:no-repeat;cursor:pointer;}
.bxmap-cluster.bxmap-cluster-google{position:absolute;}
.bxmap-item.bxmap-next:after,.bxmap-group.bxmap-status .bxmap-item:after,.bxmap-item.bxmap-active:after,.bxmap-reverse .bxmap-group .bxmap-change:after,.bxmap-page-item .bxmap-header .bxmap-item:after,.bxmap-page-item .bxmap-header .bxmap-route-title:before,.bxmap-reverse .bxmap-navigation .bxmap-navigation-title:before,.bxmap-navigation .bxmap-navigation-title:after,.bxmap-icon .bxmap-block:before,.bxmap-block.bxmap-icon:before{background-size:200px auto;}