#leftMenu > li {
	border-bottom: 1px solid #3c3c3c;
	position: relative;
	-o-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#leftMenu > li:hover {
	background-color: #fff;
}

#leftMenu > li:hover > a {
	color: #2d2d2d;
}

#leftMenu .selected{
	background-color: #FFFFFF;
}

#leftMenu .selected > a{
	color: #2d2d2d;
}

#leftMenu > li > a {
	font: normal normal 13px "bender" , arial , sans-serif;
	text-decoration: none;
	display: block;
	color: #9e9e9e;
	padding: 12px 12px 12px 25px;
}

#leftMenu > li > a > ins {
	display: table;
}

#leftMenu > li > a > ins > img {
	vertical-align: middle;
	padding-right: 8px;
}

#leftMenu > li > a > ins > span {
	display: table-cell;
	vertical-align: middle;
}

#leftMenu > li > .drop {
	position: absolute;
	right: 0px;
	left: 364px;
	background-color: #fff;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.500);
	z-index: 999;
	top: 0;
	overflow: hidden;
	min-height: 510px;
	display: none;
}

#leftMenu li div ul {
	float: left;
	width: 230px;
	border-right: 1px solid #e5e5e5;
	margin: 18px 0px;
}

#leftMenu li div ul li {
	margin-bottom: 8px;
}

#leftMenu li div ul li a {
	font: normal normal 13px "bender" , arial , sans-serif;
	color: #000;
	text-align: left;
	text-decoration: none;
	display: block;
	padding: 0px 12px;
}

#leftMenu li div ul li a:hover {
	color: #4192d9;
}

#leftMenu li div ul li a:active {
	position: relative;
	top: 1px;
}

#leftMenu li div ul li a span {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #4192d9;
	display: block;
}

#leftMenu li div ul li a span:hover {
	color: #0074d9;
}

#leftMenu li div ol {
	float: left;
	width: 230px;
	background: #4192d9;
 /* Old browsers */
	background: -moz-linear-gradient(top,  #4192d9 0%, #0074d9 100%);
 /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4192d9), color-stop(100%,#0074d9));
 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4192d9 0%,#0074d9 100%);
 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4192d9 0%,#0074d9 100%);
 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4192d9 0%,#0074d9 100%);
 /* IE10+ */
	background: linear-gradient(to bottom,  #4192d9 0%,#0074d9 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4192d9', endColorstr='#0074d9',GradientType=0 );
 /* IE6-9 */
	position: absolute;
	right: 0;
	padding-bottom: 1200px;
}

#leftMenu li div ol li span {
	font: normal normal 15px "bender" , arial , sans-serif;
	color: #fff;
	padding: 18px 0px 4px 24px;
	display: block;
}

#leftMenu li div ol li a {
	font: normal normal 14px "bender" , arial , sans-serif;
	color: #fff;
	text-align: left;
	text-decoration: none;
	display: block;
	padding-left: 24px;
}

#leftMenu li div ol li a:hover {
	color: #c8e5ff;
}

#leftMenu li div ol li a:active {
	position: relative;
	top: 1px;
}

#leftMenu li div ol li a.pic {
	padding-bottom: 18px;
	border-bottom: 1px solid #0067c1;
	width: 80%;
	margin: 0px auto 18px;
	text-align: center;
	padding-left: 0;
}

#leftMenu li div ol li a.pic img {
	max-width: 100%;
}

#leftMenu li div ol li {
	margin-bottom: 12px;
}