#topMenu{
	margin-top: 18px;
}
#topMenu > li{
	font: normal normal 13px "bender" , arial , sans-serif;
	padding:0px 12px;
	float:left;
	border-left:1px solid #3c3c3c;
	height:24px;
	line-height:24px;
	position: relative;
}
#topMenu > li:last-child{
	border-right:1px solid #3c3c3c;
}
#topMenu > li a{
	display:inline-block;
	text-decoration: none;
	color:#9e9e9e;
}
#topMenu > li a:hover{
	color:#4192d9;
}
#topMenu > li a:active{
	position: relative;
	top:1px;
}
#topMenu > li a.selected{
	background-color:#4192d9;
	border-radius: 4px;
	color:#fff;
	height:24px;
	line-height: 24px;
	display:inline-block;
	padding:0px 6px;
}
#topMenu > li a.selected.home{
	background: url(images/home.png) 0 0 no-repeat transparent !important;
	width:6px;
	height:17px;
	text-indent: -9999px;
	margin-top:3px;
}
#topMenu > li a.selected:hover{
	background-color:#0074d9;
}
#topMenu > li.slide > a{
	background: url(images/slideMenu.png) 0 0 no-repeat transparent;
	width:25px;
	height:19px;
	margin-top:3px;
}
#topMenu > li.slide > a:hover{
	background: url(images/slideMenu.png) -25px 0 no-repeat transparent;
}
#topMenu > li.slide > a:active{
	background: url(images/slideMenu.png) -50px 0 no-repeat transparent;
}
#topMenu .slide ul li a{
	display: block;
}
#topMenu .slide ul li .selected{
	color:#4192d9;
	background: transparent;
	padding-left:12px;
}
#topMenu .slide ul li .selected:hover{
	background: transparent;
}
#topMenu li ul{
	display:none;
	position:absolute;
	top:44px;
	right:0px;
	width:250px;
	background: #3d3d3d;
}
#topMenu li ul li{
	display: block;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.102);
	text-align:left;
}
#topMenu li ul li:hover{
	background: #333333;
}
#topMenu li ul li a{
	display:block;
	padding:4px 12px;
	color:#fff;
}