#bestsellers,
#bestsellers ul {
	margin: 24px 0px 12px 0px;
}

#hitsCarousel{
	overflow:hidden;
	position:relative;
}

#hitsCarousel .hitsBtnLeft, 
#hitsCarousel .hitsBtnRight{
	display:block;
	position:absolute;
	width:30px;
	height:54px;
	top:50%;
	margin-top:-27px;
}

#hitsCarousel .hitsBtnLeft{
	background: url("images/buttonOffers.png") 0 0 no-repeat transparent;
	left:0px;
}

#hitsCarousel .hitsBtnLeft:hover{
	background: url("images/buttonOffers.png") -30px 0 no-repeat transparent;	
}

#hitsCarousel .hitsBtnLeft:active{
	background: url("images/buttonOffers.png") -60px 0 no-repeat transparent;		
}

#hitsCarousel .hitsBtnRight{
	background: url("images/buttonOffers.png") 0 -54px no-repeat transparent;
    right:0px;
}

#hitsCarousel .hitsBtnRight:hover{
	background: url("images/buttonOffers.png") -30px -54px no-repeat transparent;
}

#hitsCarousel .hitsBtnRight:active{
	background: url("images/buttonOffers.png") -60px -54px no-repeat transparent;		
}

#hitsCarousel .productList{
 	position:relative;
	overflow: hidden;
	width:99999px;
	clear: both;
	left:0px;
}